
<div class="p-messages section message animate__animated animate__fadeInUp">
    <div class="p-message message__type" class="{{ cssClasses}}">
        <div class="message__title">

            <span class="p-message-icon"> <i class="pi" class="{{icon}}" ></i></span>

            <span class="p-message-summary message__h6">{{ titleError }} </span>
            <img src="assets/img/emoji.png" loading="lazy" class="message__img" alt="error">
        </div>

        <div class="message__description">
            
            <span class="p-message-detail message__details">{{DetailError}}</span>
        </div>
    </div>
  </div>

