
 <div class="acceso">

  <div class="acceso-info animate__animated animate__fadeIn">

    <app-header acceso-header__title>
      <h1 class="acceso-header__h1 title">Bievenido, ingresa a tu plataforma</h1>
      <p class="acceso-header__p">Ingresa a tu cuenta y empieza a administrar tus tiendas</p>
    </app-header>
  </div>

  <div class="forms container animate__animated animate__fadeInLeft">
    <form class="form" autocomplete="off" [formGroup]="formSignIn" (ngSubmit)="login()">
  
      <div class="form__header form__section">

        <div class="form__logo">
          <img src="assets/img/logo_servitae.webp" class="form__img--logo" alt="servitae">
        </div>
  
        <h2 class="form__h2 title">Ingresa a tu plataforma</h2>
      </div>


      <div class="form__section">
        <label class="form__label" htmlFor="correo_login">Correo:</label>

        <!-- <input pInputText class="form__input" name="correo_login" placeholder="Introduce tu correo electrónico"
        formControlName="emailLogin" [class.is-invalid]="emaiLoginlInvalid"
        [ngClass]="{ 'ng-invalid ng-dirty': emaiLoginlInvalid }" /> -->
 
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
              <i class="material-icons form__i">mail</i>
          </span>
          <input pInputText class="form__input" name="correo_login" placeholder="Introduce tu correo electrónico"
        formControlName="emailLogin" [class.is-invalid]="emaiLoginlInvalid"
        [ngClass]="{ 'ng-invalid ng-dirty': emaiLoginlInvalid }" />
      </div>
        <small *ngIf="emaiLoginlInvalid" class="p-error">El correo electrónico es obligatorios</small>
      </div>

      <div class="form__section">
        <label class="form__label" htmlFor="password_Login">Contraseña:</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
              <i class="material-icons form__i">key</i>
          </span>

          <p-password id="passConfirm" autocomplete="on" name="password_Login" class="form__input" placeholder="Ingrese su contraseña"
          [feedback]="false" [toggleMask]="true" formControlName="passLogin" [class.is-invalid]="passLoginInvalid"
          [ngClass]="{'ng-invalid ng-dirty': passLoginInvalid }"></p-password>
      </div>

        <small *ngIf="passLoginInvalid" class="p-error">La contraseña es obligatoria</small>
      </div>


      <div class="form__section form__remember mt-3">
        <p-checkbox name="rememberme" [binary]="true" inputId="binary"></p-checkbox>

        <label for="rememberme">Recodar contraseña</label>
      </div>

      <div class="form__section">

        <p-button class="form__btn mt-3" styleClass="p-button-help" label="INGRESAR" type="submit"
          styleClass="p-button-rounded"></p-button>
      </div>

    </form>

    <div class="form__section form-actions">
      <a class="form-actions__a" href="#">Olvidaste tu contraseña?</a>
    <a class="form-actions__a" routerLink="/register">Crear una nueva cuenta</a>
    </div>

  </div>

   <app-footer></app-footer> 
  
</div>