<div class="order unstyledContainer">
  <div class="order__container">
    <div class="order__toolbar sticky top-0 z-[3] mb-8">
      <div [style]="{ 'background-color': 'var(--surface-card)' }"
        class="order__toolbar-row container p-3 flex items-center justify-between flex-wrap gap-2 mt-8">
        <div class="order__toolbar-col flex item-center gap-2">
          <p-checkbox [disabled]="dataOrders.length === 0" [binary]="true" inputId="binary"
            [(ngModel)]="isSelectAllProduct" (onChange)="toggleSelectAllProducts()">
          </p-checkbox>

          <div class="inventory__toolbar-separator ml-2 w-[1px] items-stretch block bg-slate-300"></div>

          <div class="w-32">
            @if (selectedProduct.length) {

            <p class="inventory__toolbar-selection-label text-sm text-slate-600">
              {{ selectedProduct.length }} seleccionados
            </p>

            }
          </div>
        </div>

        <div class="order__toolbar-col flex item-center gap-2">
          <!-- search -->
          <div [class.order__search-show]="hidenSearch"
            class="order__search flex items-center justify-end gap-1 relative">
            <div #menu></div>

            <button (click)="showSearch()" severity="success" type="button"
              class="order__search-btn-toggle p-ripple p-element p-button p-component p-button-icon-only p-button-rounded p-button-text">
              <span class="p-button-icon pi pi-search" aria-hidden="true"></span>
            </button>

            <div class="order__search-wrapper relative flex items-center flex-row flex-nowrap gap-1">
              <span class="order__search-span w-[280px] flex items-center justify-end">
                <button (click)="toggleMenuSearch()" (click)="menuOrder.toggle($event)"
                  class="menuSearchType__btn flex items-center gap-1 text-sm text-slate-500 p-ripple p-element p-button p-component p-button-text p-button-plain">
                  {{ changeLabelBtn }}
                  <i class="pi pi-angle-down"></i>
                </button>

                <input #searchProduct name="inputSearch" [(ngModel)]="inputValue" (input)="onInputChange()"
                  (keyup.enter)="searchRecord(searchProduct.value)" type="text" [placeholder]="changePlaceHolder"
                  pinputtext="" [style]="{ 'font-size': '14px' }"
                  class="order__search-input p-inputtext p-component p-element border-none w-full" />

                @if (!showIcon) {
                <i class="order__search-i pi pi-search cursor-pointer" (click)="hiddenSearch()">
                </i>
                } @else {
                <i class="order__search-i pi pi-times" (click)="clearInput()">
                </i>
                }
              </span>

              <p-menu #menuOrder [model]="menuToolbar" [popup]="true" [appendTo]="menu" id="menuToolbar"
                [style]="{ 'font-size': '14px' }"></p-menu>
            </div>
          </div>
        </div>
      </div>
    </div>
    @for (order of dataOrders; track order.id; let i = $index) {
    <div [ngStyle]="{ 'background-color': 'var(--surface-card)' }"
      class="order-card container max-w-7xl mx-auto rounded-lg shadow-md shadow-indigo-500/10 mb-8">
      <div
        class="order-card__action-row order-card__row flex flex-row flex-nowrap items-center justify-between gap-1 p-4 border-b-2 border-b-slate-100">
        <div class="order-card__action-col flex items-center justify-start gap-4">
          <p-checkbox [binary]="true" inputId="checkProduct{{ order.id }}" handlerCheckProduct [value]="order"
            [(ngModel)]="isSelectedEveryProduct[i]" (onChange)="toggleEveryProduct(order)">
          </p-checkbox>

          <h3 class="h3-order-card__action-h3 text-sm font-semibold">
            # {{ order.id }}
          </h3>
        </div>

        <div class="order-card__action-col flex flex-nowrap items-center">
          <span class="text-sm pr-2 text-slate-700">Fecha de recibido:</span>
          <span class="text-sm text-slate-700 font-semibold">
            {{ order.date_created | date : "mediumDate" }}</span>
          <button type="button" (click)="menuOption.toggle($event)"
            class="p-ripple p-element p-button p-component p-button-icon-only p-button-rounded p-button-text">
            <i class="pi pi-ellipsis-v"></i>
          </button>

          <p-menu #menuOption [model]="OrderOption" [popup]="true" [style]="{ 'font-size': '14px' }"></p-menu>
        </div>
      </div>

      @if(order.products.length > 1) {
      <div class="order-card__content flex-col lg:flex-row mt-6 p-6 py-7 flex items-center gap-1">
        <div class="order-card__toggle-btn flex items-start justify-start">
          <p-button (onClick)="collapseContent(i)" icon="pi pi-angle-down" [rounded]="true" [text]="true"></p-button>
        </div>

        @if (!isCollapsing(i)) {

        <div
          class="order-card__product order-card__product-multiple flex flex-col lg:flex-row item-center gap-3 lg:w-2/4">
          <div
            class="order-card__picture order-card__picture-multiple-items relative bg-transparent flex items-center flex-row flex-wrap">
            @for (img of order.products; track $index) {
            <div class="order-card__content-img w-24 h-24 lg:w-[64px] lg:h-[64px] relative">
              <img [src]="img.image!.src" alt=""
                class="order-card__img order-card__img-multiple-items object-contain w-full h-full mix-blend-multiply" />
            </div>
            }
          </div>

          <div [class]="
              order.products.length === 2
                ? 'order-card__description-simple-item'
                : 'order-card__description-multiple-items'
            "
            class="order-card__description relative flex gap-1 items-center justify-center flex-col mt-4 lg:mt-0 mb-2 left-0">
            @if(order.status === 'Pendiente') {
            <span
              class="text-xs font-semibold bg-amber-100 text-amber-700 py-1 px-2 rounded-sm block max-w-[150px] w-full text-center">
              <i class="order-card__i pi pi-stopwatch"></i>

              {{ order.status }}
            </span>
            } @if(order.status === 'Concretado') {
            <span
              class="text-xs font-semibold bg-green-100 text-green-700 py-1 px-2 rounded-sm block max-w-[150px] w-full text-center">
              <i class="order-card__i pi pi-stopwatch"></i>

              {{ order.status }}
            </span>
            } @if(order.status === 'En Proceso') {
            <div class="flex items-center flex-wrap gap-2 rounded-sm bg-orange-100 text-orange-700 px-3 py-1">
              <span class="text-xs font-semibold text-center">
                {{ order.status }}
              </span>
              <i class="order-card__i material-icons">local_shipping</i>
            </div>
            }
            <span class="text-sm font-semibold">Paquete de:</span>
            <span class="order-card__name text-sm">
              {{ order.products.length }} unidades
            </span>
          </div>
        </div>

        <div
          class="order-card__extraInfo flex items-start justify-start lg:justify-around flex-col lg:flex-row gap-4 grow lg:w-2/4">
          <div class="order-card__extraInfo-col flex items-center gap-1 flex-col w-full lg:w-[33%]">
            <span class="text-sm font-semibold text-slate-700">Fecha de despacho:</span>
            <span class="order-card__date text-sm">
              {{ order.date_created | date : "mediumDate" }}
            </span>
          </div>

          <div class="order-card__extraInfo-col flex items-center gap-1 flex-col w-full lg:w-[33%]">
            <span class="text-sm font-semibold text-slate-700">Total:</span>

            <span class="order-card__price text-sm">
              {{ order.total_order | currency }}
            </span>
          </div>
        </div>
        } @else {

        <div class="order-card__collapsed-container flex flex-col w-full">
          @for (product of order.products; track $index) {
          <div
            class="order-card__collapsed-content flex flex-col lg:flex-row justify-between w-full h-full max-h-[270px] overflow-hidden border-solid border-b-2 border-b-slate-100">
            <div class="order-card__product flex flex-col lg:flex-row items-center gap-3 w-full lg:w-2/4">
              <div
                class="order-card__picture order-card__picture-simple-item mr-3 w-32 h-32 lg:w-16 lg:h-16 rounded relative">
                <img [src]="product.image!.src"
                  class="order-card__img order-card__img-simple-item object-contain w-full h-full mix-blend-multiply"
                  alt="" />
              </div>

              <div class="order-card__description flex items-center lg:items-start gap-1 flex-col mb-2 mt-4 lg:mt-0">
                <span class="text-sm font-semibold">Producto:</span>
                <span class="order-card__name text-sm">
                  {{ product.product | slice : 0 : 60 }}
                </span>
              </div>
            </div>

            <div
              class="order-card__extraInfo flex items-start justify-start lg:justify-around flex-col lg:flex-row gap-4 grow w-full lg:w-2/4">
              <div class="order-card__extraInfo-col flex items-center gap-1 flex-col w-full lg:w-[33%]">
                <span class="order-card__date text-sm font-semibold text-slate-700">
                  Total:
                </span>
                <span class="order-card__price text-sm">{{
                  product.total_product | currency
                  }}</span>
              </div>

              @if(product.quantity) {
              <div class="order-card__extraInfo-col flex items-center gap-1 flex-col w-full lg:w-[33%]">
                <span class="order-card__quantity text-sm font-semibold text-slate-700">{{ product.quantity }}</span>
                <span class="order-card__quantity-label text-sm pl-2">Unidad</span>
              </div>
              }

              <div class="order-card__extraInfo-col flex items-center gap-1 flex-col w-full lg:w-[33%]">
                <span class="order-card__date text-sm font-semibold text-slate-700">
                  Sku:
                </span>
                <span class="order-card__sku text-sm">{{ product.sku }}</span>
              </div>
            </div>
          </div>
          }
        </div>
        }
      </div>
      } @else {
      <div class="order-card__content flex-col lg:flex-row mt-6 p-6 py-7 flex items-center gap-1">
        <div
          class="order-card__product order-card__product-simple flex flex-col lg:flex-row items-center gap-3 w-full lg:w-2/4">
          @if(order.products[0].image){
          <div
            class="order-card__picture order-card__picture-simple-item mr-3 w-32 h-32 lg:w-16 lg:h-16 rounded relative">
            <img [src]="order.products[0].image!.src"
              class="order-card__img order-card__img-simple-item object-contain w-full h-full mix-blend-multiply"
              alt="" />
          </div>
          }

          <div class="order-card__description flex items-center mt-4 lg:mt-0 lg:items-start gap-1 flex-col mb-2">
            @if(order.status === 'Pendiente') {
            <span
              class="text-xs font-semibold bg-amber-100 text-amber-700 py-1 px-2 rounded-sm block max-w-[150px] w-full text-center">
              <i class="order-card__i pi pi-stopwatch"></i>

              {{ order.status }}
            </span>
            } @if(order.status === 'Concretado') {
            <span
              class="text-xs font-semibold bg-green-100 text-green-700 py-1 px-2 rounded-sm block max-w-[150px] w-full text-center">
              <i class="order-card__i pi pi-stopwatch"></i>

              {{ order.status }}
            </span>
            } @if(order.status === 'En Proceso') {
            <div class="flex items-center flex-wrap gap-2 rounded-sm bg-orange-100 text-orange-700 px-3 py-1">
              <span class="text-xs font-semibold text-center">
                {{ order.status }}
              </span>
              <i class="order-card__i material-icons">local_shipping</i>
            </div>
            }

            <span class="text-sm font-semibold">Producto:</span>
            <span class="order-card__name text-sm">
              {{ order.products[0].product | slice : 0 : 60 }}
            </span>
          </div>
        </div>

        <div
          class="order-card__extraInfo flex items-start justify-start lg:justify-around flex-col lg:flex-row gap-4 grow w-full lg:w-2/4">
          <div class="order-card__extraInfo-col flex items-center gap-1 flex-col w-full lg:w-1/5">
            <span class="order-card__date text-sm font-semibold text-slate-700">
              Fecha de despacho:
            </span>

            <span class="order-card__date text-sm">
              {{ order.date_created | date : "mediumDate" }}
            </span>
          </div>

          <!-- <div class="order-card__extraInfo-col flex items-center gap-1 flex-col w-full lg:w-1/5"> 
            <span class="order-card__date text-sm font-semibold text-slate-700">
              Estatus:  
              </span>
            <span
            class="text-xs font-semibold bg-amber-100 text-amber-700 py-1 px-2 rounded-sm block max-w-[150px] w-full text-center">
            <i class="order-card__i pi pi-stopwatch"></i>

            {{ order.status === "pending" && "Pendiente" }}
          </span>
          </div> -->

          <div class="order-card__extraInfo-col flex items-center gap-1 flex-col w-full lg:w-1/5">
            <span class="order-card__date text-sm font-semibold text-slate-700">
              Total:
            </span>
            <span class="order-card__price text-sm">{{
              order.total_order | currency
              }}</span>
          </div>

          @if(order.products[0].quantity) {
          <div class="order-card__extraInfo-col flex items-center gap-1 flex-col w-full lg:w-1/5">
            <span class="order-card__quantity text-sm font-semibold text-slate-700">{{ order.products[0].quantity
              }}</span>
            <span class="order-card__quantity-label text-sm">Unidad</span>
          </div>
          }

          <div class="order-card__extraInfo-col flex items-center gap-1 flex-col w-full lg:w-1/5">
            <span class="order-card__date text-sm font-semibold text-slate-700">
              Sku:
            </span>
            <span class="order-card__sku text-sm">{{
              order.products[0].sku
              }}</span>
          </div>
        </div>
      </div>
      }
    </div>

    }

    <div class="inventory__pagination my-8 container">
      <p-paginator [style]="{ 'font-size': '14px' }" [first]="paginationParams.first" [rows]="paginationParams.rows"
        [totalRecords]="10" [rowsPerPageOptions]="perPageOptions">
      </p-paginator>
    </div>
  </div>
</div>