<div class="top-header">
    <div class="top-header__content container">
      <div class="top-header__row top-header__row-breadcrumb">
        <app-breadcrumb
          [breadcrumbHomeItem]="BreadcrumbHome"
          [breadcrumbItems]="breadcrumbItems">
        </app-breadcrumb>
      </div>
  
      <div class="top-header__row top-header__row-text flex flex-row items-start justify-between gap-y-2">
        <div class="top-header__col">
          <h1 class="top-header__h1 text-3xl font-semibold text text-white">Ordenes {{wooPagOrders().type}}</h1>
        </div>
  
        <div class="top-header__col">

          <span class="top-header__span text-white font-semibold">26 {{wooPagOrders().totalRecords}}</span>

        </div>
      </div>
    </div>
  </div>
  

  <div class="container order-quantity my-8">
    <app-card-stat [titleSection]="'Ordenes'" [klassContainer]="'flex flex-wrap gap-6 cursor-pointer'" [klassCard]="'flex lg:w-[30%] w-full flex flex-row px-6 py-6 rounded-3xl shadow shadow-indigo-500/20 bg-white'" [dataCard]="dataCards">
     </app-card-stat>

</div>



<div class="mt-8">

    <app-order-list
    [stateOrders]="wooOrders()"
    [orderOption]="menuOrder"
    [totalOrders]="wooPagOrders().totalRecords"
    (changePagination)="changedPage($event)">
    </app-order-list>

</div>


