<!-- <div class="order-table section">


    <ng-container *ngIf="ordersCompleted && !isLoading; else dataLoading">
           <app-search-product></app-search-product>
           <app-table-pedidos *ngFor="let order of ordersCompleted">
       
               <div class="order-header__left">
                   <h3 class="order-header__h3">
                       {{order.nopedido}}
                   </h3>
       
                   <span class="order-header__span">|</span>
       
                   <span class="order-header__span">
                       {{ order.fechaembarque }}
                   </span>
               </div>
       
               <div class="order-header__right">
                   <h3 class="order-header__h3">
                       Status
                   </h3>
       
                   <span class="order-header__span">|</span>
       
                   <h3 class="order-header__span">
       
                       {{ order.estatus }}
                   </h3>
               </div>
       
               <div class="order-content-left__info">
                   
                   <div class="order-date">
       
                       <span class="order-date__span order-date__status">
                           {{ order.estatus }}
                       </span>
       
                   </div>
       
                   <div class="order-product">
       
                       <div class="order-product__content">
       
                           <a class="order-product__h4" href="#"> {{ order.articulo }}</a>
                           <span class="order-product__span">sku: {{ order.sku}}</span>
                       </div>
                   </div>
               </div>
       
               <div class="order-content-center__price">
                   <div class="order-quantity">
                       <span class="order-quantity__span">{{order.totalpedido}}</span>
                       <span class="order-quantity__span">|</span>
                       <span class="order-quantity__span"> unidad</span>
       
                   </div>
               </div>
       
               <div class="order-content-right__actions">
                   <button type="button" class="order-content-right__btn">Ver detalles</button>
               </div>
       
       
           </app-table-pedidos>
       
           
       <div class="card flex justify-content-center">
           <p-paginator class="paginacion" [totalRecords]="totalItem" [rowsPerPageOptions]="[10, 20, 30]" [rows]="10"></p-paginator>
       </div>
       </ng-container>

    <ng-template #dataLoading >
        <app-loading-table></app-loading-table>
    </ng-template>

     
    <ng-container *ngIf="!ordersCompleted && isError" #dataError>
        <app-error-message [titleError]="titleError" [DetailError]="detailsError"></app-error-message>
     </ng-container>
</div> -->


<div class="order-table section" [ngSwitch]="stateData">

    <ng-template ngSwitchCase="success">
           <app-search-product></app-search-product>
           <app-table-pedidos *ngFor="let order of ordersCompleted">
       
               <div class="order-header__left">
                   <h3 class="order-header__h3">
                       #{{order.nopedido}}
                   </h3>
       
                   <span class="order-header__span">|</span>
       
                   <span class="order-header__span">
                       {{ order.fechaembarque }}
                   </span>
               </div>
       
               <div class="order-header__right">
                   <h3 class="order-header__h3">
                       Status
                   </h3>
       
                   <span class="order-header__span">|</span>
       
                   <h3 class="order-header__span">
       
                       {{ order.estatus }}
                   </h3>
               </div>
       
               <div class="order-content-left__info">
                   
                   <div class="order-date">
       
                       <span class="order-date__span order-date__status">
                           {{ order.estatus }}
                       </span>
       
                   </div>
       
                   <div class="order-product">
       
                       <div class="order-product__content">
       
                           <a class="order-product__h4" href="#"> {{ order.articulo }}</a>
                           <span class="order-product__span">sku: {{ order.sku}}</span>
                       </div>
                   </div>
               </div>
       
               <div class="order-content-center__price">
                   <div class="order-quantity">
                       <span class="order-quantity__span">{{order.totalpedido}}</span>
                       <span class="order-quantity__span">|</span>
                       <span class="order-quantity__span"> unidad</span>
       
                   </div>
               </div>
       
               <div class="order-content-right__actions">
                   <button type="button" class="order-content-right__btn">Ver detalles</button>
               </div>
       
       
           </app-table-pedidos>
       
           
       <div class="card flex justify-content-center">
           <p-paginator class="paginacion" [totalRecords]="totalItem" [rowsPerPageOptions]="[10, 20, 30]" [rows]="10"></p-paginator>
       </div>
       </ng-template>

    <ng-template #dataLoading ngSwitchCase="loading">
        <app-loading-table></app-loading-table>
    </ng-template>

     
    <ng-template  #dataError ngSwitchCase="error">
        <app-message [titleError]="titleError" [DetailError]="detailsError"></app-message>
     </ng-template>
</div>