@import 'mixin';

.spiner {
    &__container {
       @include flexible(flex, column, wrap, center, center);
         margin-top: 6em;
       gap: 1em;
    }
}

.loader {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    position: relative;   animation: rotate 1s linear infinite;
   
  }

  .loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite ;
  }

  .loader::after{
    border-color: #FF3D00;
    animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
    inset: 6px;
  }

  @keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }

  .loader__text {
    color: var(--surface-600);
    display: inline-block;
    position: relative;
    font-size: 2rem;
    
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

    &::after {
        content: '';  
  width: 5px;
  height: 5px;
  background: currentColor;
  position: absolute;
  bottom: 10px;
  right: -5px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
    }
  }

  
@keyframes animloader {
    0% {
      box-shadow: 10px 0 var(--surface-700), 20px 0 rgba(255, 255, 255, 0);
    }
    50% {
      box-shadow: 10px 0 var(--surface-200), 20px 0 rgba(255, 255, 255, 0);
    }
    100% {
      box-shadow: 10px 0 var(--surface-400), 20px 0 #FF3D00;
    }
  }