<div class="top-header">
  <div class="top-header__content container">
    <div class="top-header__row top-header__row-breadcrumb">
      <app-breadcrumb
        [breadcrumbHomeItem]="BreadcrumbHome"
        [breadcrumbItems]="breadcrumbItems"
      >
      </app-breadcrumb>
    </div>

    <div
      class="top-header__row top-header__row-text flex flex-row items-start justify-between gap-y-2"
    >
      <div class="top-header__col">
        <h1 class="top-header__h1 text-3xl font-semibold text text-white">
          Ordenes {{ claroPagOrder().type }}
        </h1>
      </div>

      <div class="top-header__col">
        <!-- <p-button
            icon="pi pi-plus"
            [style]="{ 'font-size': '14px', padding: '0.5em 0.6em' }"
            label="Agregar producto"
            severity="success"
            
          >
          </p-button> -->
        <span class="top-header__span text-white font-semibold">
          26 {{claroPagOrder().totalRecords}}
        </span>
      </div>
    </div>
  </div>
</div>

<div class="container order-quantity my-8">

  <app-card-type-order [typeOrderData]="claroTypeOrder()">

  </app-card-type-order>
</div>

<div class="mt-8">
  <app-order-list
    [orderOption]="menuOrder"
    [stateOrders]="claroOrders()"
    [totalOrders]="claroPagOrder().totalRecords"
    (emitId)="getId($event)"
    (changePagination)="paginationChanged($event)"
  >
  </app-order-list>
</div>
