<div class="woo-head section">

  <div class="woo-head__left">
    <img src="assets/img/woocommerce.png" class="woo-head__img" alt="woocommerce">
  </div>
  <!-- <div class="woocommerce__center">
  <H2 class="woocommerce__h2">Producto no guardado</H2>
</div> -->
<div class="woo-head__right">
  <p-toast position="top-center" key="tc" [style]="{margin: '5em 0' }"  [preventDuplicates]="true"></p-toast>
  <button pButton pRipple label="Guardar" type="submit" (click)="registerProduct()" [disabled]=" formRegisterProducto.invalid" class="woo-head__btn p-ripple p-element p-button p-component p-button-success p-button-raised"></button>

  <a routerLink="/dashboard/woocommerce/inventario" pRipple type="button" class="woo-head__btn p-ripple p-element p-button p-component p-button-danger p-button-raised">Descartar</a>
</div>
<!-- <ul class="woocommerce-breadcrumb__ul">
<li class="woocommerce-breadcrumb__li">
  <h1 class="woocommerce-breadcrumb__h1">Tiendas</h1>
</li>

<li class="woocommerce-breadcrumb__li">
  <span> > </span>
</li>

<li class="woocommerce-breadcrumb__li">
  <span>Woocommerce</span>
</li>

<li class="woocommerce-breadcrumb__li">
  <span> > </span>
</li>

<li class="woocommerce-breadcrumb__li">
  <a routerLink="/dashboard/woocommerce/inventario" class="woocommerce-breadcrumb">Inventario</a>
</li>

<li class="woocommerce-breadcrumb__li">></li>

<li class="woocommerce-breadcrumb__li">
  <a class="woocommerce-breadcrumb__a woocommerce-breadcrumb__a--active">Nuevo Producto</a>
</li>
</ul> -->
</div>

<div class="woo section">

  <form action="#" class="woo__form" [formGroup]="formRegisterProducto" (ngSubmit)="registerProduct()">

    <div class="woo__content">

      <div class="woo-header">

        <div class="woo-header__left">
          <div class="woo-header__text">

            <h3 class="woo-header__h3">Agregar producto</h3>
            <p class="woo-header__p">
              Sigue los simple 4 pasos para completar el registro de tu producto
            </p>
          </div>

        </div>
        <div class="woo-header__right">
          <img src="assets/img/producto.png" class="woo-header__img" alt="">
        </div>
      </div>
      <div class="woo__box">

        <h3 class="woo__h3">Datos basicos</h3>
        <div class="form-section">

          <label class="form-section__label form-section__label--help" for="title">Titulo del producto
            <i class="form-section__i material-icons"
              pTooltip="Incluye producto, marca, modelo y destaca características principales"
            tooltipStyleClass="form-section__toolTip" tooltipPosition="bottom">help</i>
          </label>
          <input class="form-section__input" pInputText name="title" id="title" (blur)="completedStatus()"
            placeholder="Ingrese un titulo para el producto" formControlName="name"
            [class.is-invalid]="validField('name')" [maxlength]="60"
            [ngClass]="{ 'ng-invalid ng-dirty': validField('name') }" />
          <span class="form-section__words">{{formRegisterProducto.get("name")?.value?.length || 0 }}/60</span>
          @if (validField('name')) {
            <small class="p-error">El titulo es obligatorio</small>
          }
        </div>

        <div class="form-section">
          <label class="form-section__label form-section__label--help" for="description">Descripción del producto
            <i class="form-section__i material-icons"
              pTooltip="Describe este producto, ¿Qué lo hace único?, ¿Cúales son sus características principales?"
            tooltipStyleClass="form-section__toolTip" tooltipPosition="bottom">help</i>
          </label>
          <textarea class="form-section__textarea" name="descripción" id="description" (blur)="completedStatus()"
            placeholder="Descripción larga del producto" formControlName="description" rows="14" cols="30"
            pInputTextarea [autoResize]="true" [maxlength]="5000" [class.is-invalid]="validField('description')"
                [ngClass]="{
                  'ng-invalid ng-dirty': validField('description')
                }">
          </textarea>
          <span class="form-section__words">{{ formRegisterProducto.get("description")?.value?.length || 0 }}/5000</span>

          @if (validField('description')) {
            <small class="p-error">La descripción es obligatorio</small>
          }
        </div>
      </div>

      <div class="woo__box">
        <h3 class="woo__h3">Datos extras</h3>
        <div class="form-section">
          <label class="form-section__label form-section__label--help" for="short_description">Descripción corta del producto
            <i class="form-section__i material-icons"
              pTooltip="Resume el producto en 1 o 2 frases cortas. Se mostrara en la parte superior del producto"
            tooltipStyleClass="form-section__toolTip" tooltipPosition="bottom">help</i>
          </label>
          <textarea class="form-section__textarea" placeholder="Descripción corta del producto"
            id="short_description" name="short_description" (blur)="completedStatus()" rows="8" cols="30" pInputTextarea [autoResize]="true"
            [maxlength]="2000" formControlName="short_description"
                [class.is-invalid]="validField('short_description')" [ngClass]="{
                  'ng-invalid ng-dirty': validField('short_description')
                }">
          </textarea>
          <span class="form-section__words">{{
          formRegisterProducto.get("short_description")?.value?.length || 0 }}/2000</span>

          @if (validField('short_description')) {
            <small class="p-error">La descripción corta es
            obligatorio</small>
          }
        </div>

      </div>

      <div class="woo__box">
        <h3 class="woo__h3">Precio</h3>
        <div class="form-section">
          <label class="form-section__label" for="price">Precio normal del producto</label>

          <p-inputNumber class="form-section__input" inputId="price" mode="currency"
            currency="USD" locale="en-US" placeholder="$0.00" formControlName="regular_price"
            [class.is-invalid]="validField('regular_price')" [ngClass]="{ 'ng-invalid ng-dirty': validField('regular_price') }">

          </p-inputNumber>

          @if (validField('regular_price')) {
            <small class="p-error">El precio es obligatorio</small>
          }
        </div>

        <div class="form-section">
          <label class="form-section__label" for="rebaja">Precio con rebaja del producto</label>

          <p-inputNumber  class="form-section__input" inputId="rebaja" mode="currency"
            currency="USD" locale="en-US" placeholder="$0.00" formControlName="sale_price"
            [class.is-invalid]="salePriceInvalid "
            [ngClass]="{ 'ng-invalid ng-dirty': [salePriceInvalid] }">

          </p-inputNumber>
          @if (salePriceInvalid) {
            <small class="p-error">El precio oferta es obligatorio</small>
          }
        </div>
      </div>

      <div class="woo__box">
        <h3 class="woo__h3">Inventario</h3>
        <div class="form-section">
          <label class="form-section__label form-section__label--help" for="sku">SKU del producto
            <i class="form-section__i material-icons"
              pTooltip="Sku es el identificador para cada producto. Combinación de números y letras"
            tooltipStyleClass="form-section__toolTip" tooltipPosition="bottom">help</i>
          </label>

          <input class="form-section__input" pInputText id="sku" name="sku" (blur)="completedStatus()" formControlName="sku"
            [class.is-invalid]="validField('sku')" [ngClass]="{ 'ng-invalid ng-dirty': validField('sku') }" />
          @if (validField('sku')) {
            <small class="p-error">El SKU oferta es obligatorio</small>
          }
        </div>

        <div class="form-section">

          <label class="form-section__label form-section__label--help" for="cantidad">Cantidad

          </label>

          <p-inputNumber inputId="integeronly" class="form-section__input" inputId="cantidad" (onBlur)="completedStatus()"
            formControlName="stock_quantity" [class.is-invalid]="validField('stock_quantity')"
            [ngClass]="{ 'ng-invalid ng-dirty': validField('stock_quantity') }">
          </p-inputNumber>

          @if (validField('stock_quantity')) {
            <small class="p-error">Indique la cantidad minima</small>
          }

        </div>
      </div>

    </div>


    <!-- <div class="woo__right">
    <p-panel header="Categoria del producto">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </p-panel>

  </div> -->

</form>

<div class="form-section">
  <pre>
    {{  formRegisterProducto.value | json}}
  </pre>
</div>

<div class="form-section">
  <pre>
    Estado del formulario: {{  formRegisterProducto.valid }}
    <br>
      Status: {{  formRegisterProducto.status}}
    </pre>

  </div>

  <!-- <aside class="wcnew-aside">

  <div class="wcnew-aside__content">

    <div class="avanceStatus avanceStatus__desktop">
      <div class="avanceStatus__content">

        <div class="avanceStatus__bar">

          <p-knob [(ngModel)]="completed" valueColor="green" [size]="130" valueTemplate="{value}%" [min]="0" [max]="100"
          [readonly]="true"></p-knob>
        </div>

        <div class="avanceStatus__completed">
          <span class="avanceStatus__span">Completado:</span>
          <span class="avanceStatus__span--avance"> {{numFieldValid}} / 8</span>
        </div>
      </div>

    </div>

    <div class="wcnew-aside__item">

      <div class="p-messages" *ngIf="validField('name')">
        <div class="p-message p-message-error wcnew-aside__type">
          <span class="p-message-icon"><i class="material-icons">cancel</i></span>
          <span class="p-message-summary">Titulo</span>
          <span class="p-message-detail">Incompleto</span>
        </div>
      </div>

      <div class="p-messages" *ngIf="!validField('name')">
        <div class="p-message p-message-success	wcnew-aside__type">
          <span class="p-message-icon"> <i class="pi pi-check"></i></span>
          <span class="p-message-summary">Titulo</span>
          <span class="p-message-detail">Completo</span>
        </div>
      </div>

    </div>

    <div class="wcnew-aside__item">

      <div class="p-messages" *ngIf="validField('description')">
        <div class="p-message p-message-error wcnew-aside__type">
          <span class="p-message-icon"> <i class="pi pi-times"></i></span>
          <span class="p-message-summary">Descripción</span>
          <span class="p-message-detail">Incompleto</span>
        </div>
      </div>

      <div class="p-messages" *ngIf="!validField('description')">
        <div class="p-message p-message-success	wcnew-aside__type">
          <span class="p-message-icon"> <i class="pi pi-check"></i></span>
          <span class="p-message-summary">Descripción</span>
          <span class="p-message-detail">Completo</span>
        </div>
      </div>
    </div>

    <div class="wcnew-aside__item">

      <div class="p-messages" *ngIf="validField('short_description')">
        <div class="p-message p-message-error wcnew-aside__type">
          <span class="p-message-icon"> <i class="pi pi-times"></i></span>
          <span class="p-message-summary">Descripción corta</span>
          <span class="p-message-detail">Incompleto</span>
        </div>
      </div>

      <div class="p-messages" *ngIf="!validField('short_description')">
        <div class="p-message p-message-success	wcnew-aside__type">
          <span class="p-message-icon"> <i class="pi pi-check"></i></span>
          <span class="p-message-summary">Descripción corta</span>
          <span class="p-message-detail">Completo</span>
        </div>
      </div>

    </div>

    <div class="wcnew-aside__item">

      <div class="p-messages" *ngIf="validField('regular_price')">
        <div class="p-message p-message-error wcnew-aside__type">
          <span class="p-message-icon"> <i class="pi pi-times"></i></span>
          <span class="p-message-summary">Precio Normal</span>
          <span class="p-message-detail">Incompleto</span>
        </div>
      </div>

      <div class="p-messages" *ngIf="!validField('regular_price')">
        <div class="p-message p-message-success	">
          <span class="p-message-icon"> <i class="pi pi-check"></i></span>
          <span class="p-message-summary">Precio Normal</span>
          <span class="p-message-detail">Completo</span>
        </div>
      </div>

    </div>

    <div class="wcnew-aside__item">

      <div class="p-messages" *ngIf="salePriceInvalid">
        <div class="p-message p-message-error wcnew-aside__type">
          <span class="p-message-icon"> <i class="pi pi-times"></i></span>
          <span class="p-message-summary">Precio de Oferta</span>
          <span class="p-message-detail">Incompleto</span>
        </div>
      </div>

      <div class="p-messages" *ngIf="!salePriceInvalid">
        <div class="p-message p-message-success	wcnew-aside__type">
          <span class="p-message-icon"> <i class="pi pi-check"></i></span>
          <span class="p-message-summary">Precio de Oferta</span>
          <span class="p-message-detail">Completo</span>
        </div>
      </div>

    </div>

    <div class="wcnew-aside__item">

      <div class="p-messages" *ngIf="validField('sku')">
        <div class="p-message p-message-error wcnew-aside__type">
          <span class="p-message-icon"> <i class="pi pi-times"></i></span>
          <span class="p-message-summary">SKU</span>
          <span class="p-message-detail">Incompleto</span>
        </div>
      </div>

      <div class="p-messages" *ngIf="!validField('sku')">
        <div class="p-message p-message-success	wcnew-aside__type">
          <span class="p-message-icon"> <i class="pi pi-check"></i></span>
          <span class="p-message-summary">SKU</span>
          <span class="p-message-detail">Completo</span>
        </div>
      </div>

    </div>

    <div class="wcnew-aside__item">

      <div class="p-messages" *ngIf="validField('stock_quantity')">
        <div class="p-message p-message-error wcnew-aside__type">
          <span class="p-message-icon"> <i class="pi pi-times"></i></span>
          <span class="p-message-summary">Stock</span>
          <span class="p-message-detail">Incompleto</span>
        </div>
      </div>

      <div class="p-messages" *ngIf="!validField('stock_quantity')">
        <div class="p-message p-message-success	wcnew-aside__type">
          <span class="p-message-icon"> <i class="pi pi-check"></i></span>
          <span class="p-message-summary">Stock</span>
          <span class="p-message-detail">Completo</span>
        </div>
      </div>

    </div>



    <div class="card flex justify-content-center gap-2">

      <button (click)="registerProduct()" type="submit" pButton pRipple label="Registrar" [disabled]="formRegisterProducto.invalid" class="wcnew-aside__btn p-button-primary"
        >
      </button>


    </div>

  </div>


</aside> -->
</div>

@if (showLoader) {
  <div class="woo-loader">
    <div class="woo-loader__content">
    </div>
    <div class="woo-loader__text">
      <p class="woo-loader__p">Espere por favor...</p>
    </div>
  </div>
}
