<div class="woocommerce__head section">


  <ul class="woocommerce-breadcrumb__ul">
    <li class="woocommerce-breadcrumb__li">
      <span class="woocommerce-breadcrumb__span">
        <i class="woocommerce-breadcrumb__i pi pi-woocommerce"></i>
        <h1 class="woocommerce-breadcrumb__h1">Tiendas</h1>
      </span>
    </li>

    <li class="woocommerce-breadcrumb__li">></li>

    <li class="woocommerce-breadcrumb__li">Woocommerce</li>

    <li class="woocommerce-breadcrumb__li">></li>

    <li class="woocommerce-breadcrumb__li">
      <a routerLink="/dashboard/woocommerce/inventario" class="woocommerce-breadcrumb">Inventario</a>
    </li>

    <li class="woocommerce-breadcrumb__li">></li>

    <li class="woocommerce-breadcrumb__li">
      <a class="woocommerce-breadcrumb__a woocommerce-breadcrumb__a--active">Nuevo Producto</a>
    </li>
  </ul>
</div>

<div class="wcnew">

  <div class="wcnew__left">

    <form action="#" class="wcnew-form" [formGroup]="formRegisterProducto" (ngSubmit)="registerProduct()">

      <div class="wcnew-accordeon">

        <div class="wcnew-accordeon__item" [ngClass]="activeAccordeon === 1 ? 'isOpen' : ''">
          <div class="wcnew-accordeon__titular" (click)="toggleAccordeon(1)">
            <div class="wcnew-accordeon__title">
              <h3 class="wcnew-accordeon__h3">Titulo</h3>
              <span class="wcnew-accordeon__span">Incluye producto, marca, modelo y
                destaca sus características principales</span>
            </div>

            <div class="wcnew-accordeon__icon">
              <i class="wcnew-accordeon__i material-icons">expand_more</i>
            </div>

          </div>
          <div class="wcnew-accordeon__content">

            <div class="wcnew-form__section">
              <label class="wcnew-form__label" htmlFor="title">*Titulo del producto:
              </label>
              <input class="wcnew-form__input" pInputText id="title" (blur)="completedStatus()"
                placeholder="Ingrese un titulo para el producto" formControlName="name" [class.is-invalid]="nameInvalid"
                [maxlength]="60" [ngClass]="{ 'ng-invalid ng-dirty': nameInvalid }" />
              <span class="wcnew-form__span wcnew-form__span--words">{{formRegisterProducto.get('name')?.value.length}}
                /60</span>
              <small *ngIf="nameInvalid" class="p-error">El titulo es obligatorio</small>
            </div>

            <!-- <div class="form__action">
              <p-button icon="pi pi-angle-right" styleClass="p-button-rounded"></p-button>
  
            </div> -->
          </div>
        </div>

        <div class="wcnew-accordeon__item" [ngClass]="activeAccordeon === 2 ? 'isOpen' : ''">
          <div class="wcnew-accordeon__titular" (click)="toggleAccordeon(2)">
            <div class="wcnew-accordeon__title">
              <h3 class="wcnew-accordeon__h3">Descripción del producto</h3>
            </div>

          </div>
          <div class="wcnew-accordeon__content">

            <div class="wcnew-form__section">
              <label class="wcnew-form__label" htmlFor="description">*Descripción del producto:
                <i class="wcnew-form__i material-icons"
                  pTooltip="Describe este producto, ¿Qué lo hace único?, ¿Cúales son sus características más importantes?"
                  tooltipStyleClass="form-product__toolTip" tooltipPosition="bottom">help</i>
              </label>
              <textarea class="wcnew-form__textarea" id="description" (blur)="completedStatus()"
                placeholder="Descripción larga del producto" formControlName="description" rows="14" cols="30"
                pInputTextarea [autoResize]="true" [maxlength]="5000" [class.is-invalid]="descriptionInvalid"
                [ngClass]="{ 'ng-invalid ng-dirty': descriptionInvalid }">
              </textarea>
              <span
                class="wcnew-form__span wcnew-form__span--words">{{formRegisterProducto.get('description')?.value.length}}
                /5000</span>

              <small *ngIf="descriptionInvalid" class="p-error">La descripción es obligatorio</small>
            </div>
          </div>
        </div>

        <div class="wcnew-accordeon__item" [ngClass]="activeAccordeon === 3 ? 'isOpen' : ''">
          <div class="wcnew-accordeon__titular" (click)="toggleAccordeon(3)">
            <div class="wcnew-accordeon__title">
              <h3 class="wcnew-accordeon__h3">Descripción corta del producto</h3>
            </div>

          </div>
          <div class="wcnew-accordeon__content">
            <div class="wcnew-form__section">
              <textarea class="wcnew-form__textarea" placeholder="Descripción corta del producto" id="shortDescription"
                (blur)="completedStatus()" rows="8" cols="30" pInputTextarea [autoResize]="true" [maxlength]="2000"
                formControlName="short_description" [class.is-invalid]="shortDescriptionInvalid"
                [ngClass]="{ 'ng-invalid ng-dirty': shortDescriptionInvalid }">
                </textarea>
              <span
                class="wcnew-form__span wcnew-form__span--words">{{formRegisterProducto.get('short_description')?.value.length}}
                /2000</span>

              <small *ngIf="shortDescriptionInvalid" class="p-error">La descripción corta es obligatorio</small>
            </div>
          </div>
        </div>

        <div class="wcnew-accordeon__item" [ngClass]="activeAccordeon === 4 ? 'isOpen' : ''">
          <div class="wcnew-accordeon__titular" (click)="toggleAccordeon(4)">
            <div class="wcnew-accordeon__title">
              <h3 class="wcnew-accordeon__h3">Precio del producto</h3>
            </div>

          </div>
          <div class="wcnew-accordeon__content">

            <div class="wcnew-form__section">
              <label class="wcnew-form__label" htmlFor="price">*Precio normal del producto:</label>

              <p-inputNumber class="wcnew-form__input" inputId="price" (onBlur)="completedStatus()" mode="currency"
                currency="USD" locale="en-US" placeholder="$0.00" formControlName="regular_price"
                [class.is-invalid]="regularPriceInvalid" [ngClass]="{ 'ng-invalid ng-dirty': regularPriceInvalid }">

              </p-inputNumber>

              <small *ngIf="regularPriceInvalid" class="p-error">El precio es obligatorio</small>
            </div>

            <div class="wcnew-form__section">
              <label class="wcnew-form__label" htmlFor="rebaja">*Precio con rebaja del producto:</label>

              <p-inputNumber class="wcnew-form_input" inputId="rebaja" mode="currency" (onBlur)="completedStatus()"
                currency="USD" locale="en-US" placeholder="$0.00" formControlName="sale_price"
                [class.is-invalid]="salePriceInvalid "
                [ngClass]="{ 'ng-invalid ng-dirty': [salePriceInvalid] }">

              </p-inputNumber>
              <small *ngIf="salePriceInvalid" class="p-error">El precio oferta es obligatorio</small>
              <br>
            </div>
          </div>
        </div>

        <div class="wcnew-accordeon__item" [ngClass]="activeAccordeon === 5 ? 'isOpen' : ''">
          <div class="wcnew-accordeon__titular" (click)="toggleAccordeon(5)">
            <div class="wcnew-accordeon__title">
              <h3 class="wcnew-accordeon__h3">Inventario</h3>
            </div>

          </div>
          <div class="wcnew-accordeon__content">

            <div class="wcnew-form__section">
              <label class="wcnew-form__label" htmlFor="sku">*SKU del producto:
                <i class="wcnew-form__i material-icons"
                  pTooltip="SKU se refiere a una unidad de almacenamiento de inventario, un identificador único para cada producto y servicio que se puede comprar."
                  tooltipStyleClass="form-product__toolTip" tooltipPosition="bottom">help</i>
              </label>

              <input class="wcnew-form__input" pInputText id="sku" (blur)="completedStatus()" formControlName="sku"
                [class.is-invalid]="skuInvalid" [ngClass]="{ 'ng-invalid ng-dirty': skuInvalid }" />
              <small *ngIf="skuInvalid" class="p-error">El SKU oferta es obligatorio</small>
            </div>

            <div class="wcnew-form__section">

              <label class="wcnew-form__label" htmlFor="cantidad">*Cantidad:
                <i class="wcnew-form__i material-icons"
                  pTooltip="SKU se refiere a una unidad de almacenamiento de inventario, un identificador único para cada producto y servicio que se puede comprar."
                  tooltipStyleClass="form-product__toolTip" tooltipPosition="bottom">help</i>
              </label>

              <p-inputNumber inputId="integeronly" class="wcnew-form__input" (onBlur)="completedStatus()"
                formControlName="stock_quantity" [class.is-invalid]="stockQuantityInvalid"
                [ngClass]="{ 'ng-invalid ng-dirty': stockQuantityInvalid }">
              </p-inputNumber>

              <small *ngIf="stockQuantityInvalid" class="p-error">Indique la cantidad minima</small>

            </div>
          </div>
        </div>

        <div class="wcnew-accordeon__item" [ngClass]="activeAccordeon === 6 ? 'isOpen' : ''">
          <div class="wcnew-accordeon__titular" (click)="toggleAccordeon(6)">
            <div class="wcnew-accordeon__title">
              <h3 class="wcnew-accordeon__h3">Categoria del produto</h3>
            </div>

          </div>

          <div class="form__box card flex justify-content-center">
            <p-multiSelect [options]="arrayCategories" formArrayName="categories"
              (onChange)=" MultiSelectChangeEvent($event)" defaultLabel="Seleccione una categoria" optionLabel="name"
              display="chip"></p-multiSelect>

          </div>
        </div>

        <div class="wcnew-accordeon__item">
          <pre>
          Estado del formulario: {{ formRegisterProducto.valid }}
          <br>
          Status: {{ formRegisterProducto.status }}
        </pre>

        </div>

        <div class="wcnew-accordeon__item">
          <pre>
          producto {{ formRegisterProducto.value | json}}
      
        
        </pre>

        </div>

      </div>
    </form>
  </div>

  <div class="wcnew__right">

    <aside class="wcnew__aside">
      <div class="checklist">

        <div class="checklist__complete">
          <div class="checklist__bar">

            <p-knob [(ngModel)]="completed" valueColor="green" [size]="130" valueTemplate="{value}%" [min]="0" [max]="100"
              [readonly]="true"></p-knob>
          </div>

          <div class="checklist__avance">
            <span>Completado:</span>
            <span class="checklist__span--avance"> {{numFieldValid}} / 8</span>
          </div>


        </div>

        <div class="checklist__item">
          <!-- 
     <div class="checklist__icon" [ngClass]="nameInvalid ? 'checklist__icon--invalid' : 'checklist__icon--valid'">
      <i class="checklist__i material-icons" *ngIf="nameInvalid">close</i>
      <i class="checklist__i material-icons" *ngIf="!nameInvalid">done</i>
    </div>
    <div class="checklist__details">
      <span class="checklist__span">Titulo: </span>
      <span class="checklist__span" *ngIf="nameInvalid">Incompleto</span>
      <span class="checklist__span" *ngIf="!nameInvalid">Completo</span>
    </div> 
  
      -->

          <div class="p-messages" *ngIf="nameInvalid">
            <div class="p-message p-message-error checklist__type">
              <span class="p-message-icon"><i class="material-icons">cancel</i></span>
              <span class="p-message-summary">Titulo</span>
              <span class="p-message-detail">Incompleto</span>
            </div>
          </div>

          <div class="p-messages" *ngIf="!nameInvalid">
            <div class="p-message p-message-success	checklist__type">
              <span class="p-message-icon"> <i class="pi pi-check"></i></span>
              <span class="p-message-summary">Titulo</span>
              <span class="p-message-detail">Completo</span>
            </div>
          </div>

        </div>

        <div class="checklist__item">

          <!-- <div class="checklist__icon" [ngClass]="descriptionInvalid ? 'checklist__icon--invalid' : 'checklist__icon--valid'">
      <i class="checklist__i material-icons" *ngIf="descriptionInvalid">close</i>
      <i class="checklist__i material-icons" *ngIf="!descriptionInvalid">done</i>

    </div>
    <div class="checklist__details">
      <span class="checklist__span">Descripción: </span>
      <span class="checklist__span" *ngIf="descriptionInvalid">Incompleto</span>
      <span class="checklist__span" *ngIf="!descriptionInvalid">Completo</span>
    </div> -->

          <div class="p-messages" *ngIf="descriptionInvalid">
            <div class="p-message p-message-error checklist__type">
              <span class="p-message-icon"> <i class="pi pi-times"></i></span>
              <span class="p-message-summary">Descripción</span>
              <span class="p-message-detail">Incompleto</span>
            </div>
          </div>

          <div class="p-messages" *ngIf="!descriptionInvalid">
            <div class="p-message p-message-success	checklist__type">
              <span class="p-message-icon"> <i class="pi pi-check"></i></span>
              <span class="p-message-summary">Descripción</span>
              <span class="p-message-detail">Completo</span>
            </div>
          </div>
        </div>

        <div class="checklist__item">

          <!-- <div class="checklist__icon" [ngClass]="shortDescriptionInvalid ? 'checklist__icon--invalid' : 'checklist__icon--valid'">
      <i class="checklist__i material-icons" *ngIf="shortDescriptionInvalid">close</i>
      <i class="checklist__i material-icons" *ngIf="!shortDescriptionInvalid">done</i>
    </div>
    <div class="checklist__details">
      <span class="checklist__span"> Descripción corta: </span>
      <span class="checklist__span" *ngIf="shortDescriptionInvalid">Incompleto</span>
      <span class="checklist__span" *ngIf="!shortDescriptionInvalid">Completo</span>
    </div> -->

          <div class="p-messages" *ngIf="shortDescriptionInvalid">
            <div class="p-message p-message-error checklist__type">
              <span class="p-message-icon"> <i class="pi pi-times"></i></span>
              <span class="p-message-summary">Descripción corta</span>
              <span class="p-message-detail">Incompleto</span>
            </div>
          </div>

          <div class="p-messages" *ngIf="!shortDescriptionInvalid">
            <div class="p-message p-message-success	checklist__type">
              <span class="p-message-icon"> <i class="pi pi-check"></i></span>
              <span class="p-message-summary">Descripción corta</span>
              <span class="p-message-detail">Completo</span>
            </div>
          </div>

        </div>

        <div class="checklist__item">

          <!-- <div class="checklist__icon" [ngClass]="regularPriceInvalid ? 'checklist__icon--invalid' : 'checklist__icon--valid'">
      <i class="checklist__i material-icons" *ngIf="regularPriceInvalid">close</i>
      <i class="checklist__i material-icons" *ngIf="!regularPriceInvalid">done</i>

    </div>

    <div class="checklist__details">
      <span class="checklist__span"> Precio regular: </span>
      <span class="checklist__span" *ngIf="regularPriceInvalid">Incompleto</span>
      <span class="checklist__span" *ngIf="!regularPriceInvalid">Completo</span>
    </div> -->

          <div class="p-messages" *ngIf="regularPriceInvalid">
            <div class="p-message p-message-error checklist__type">
              <span class="p-message-icon"> <i class="pi pi-times"></i></span>
              <span class="p-message-summary">Precio Normal</span>
              <span class="p-message-detail">Incompleto</span>
            </div>
          </div>

          <div class="p-messages" *ngIf="!regularPriceInvalid">
            <div class="p-message p-message-success	">
              <span class="p-message-icon"> <i class="pi pi-check"></i></span>
              <span class="p-message-summary">Precio Normal</span>
              <span class="p-message-detail">Completo</span>
            </div>
          </div>

        </div>

        <div class="checklist__item">

          <!-- <div class="checklist__icon" [ngClass]="salePriceInvalid ? 'checklist__icon--invalid' : 'checklist__icon--valid'">
      <i class="checklist__i material-icons" *ngIf="salePriceInvalid">close</i>
      <i class="checklist__i material-icons" *ngIf="!salePriceInvalid">done</i>

    </div>
    <div class="checklist__details">
      <span class="checklist__span"> Precio de oferta: </span>
      <span class="checklist__span" *ngIf="salePriceInvalid">Incompleto</span>
      <span class="checklist__span" *ngIf="!salePriceInvalid">Completo</span>
    </div> -->

          <div class="p-messages" *ngIf="salePriceInvalid">
            <div class="p-message p-message-error checklist__type">
              <span class="p-message-icon"> <i class="pi pi-times"></i></span>
              <span class="p-message-summary">Precio de Oferta</span>
              <span class="p-message-detail">Incompleto</span>
            </div>
          </div>

          <div class="p-messages" *ngIf="!salePriceInvalid">
            <div class="p-message p-message-success	checklist__type">
              <span class="p-message-icon"> <i class="pi pi-check"></i></span>
              <span class="p-message-summary">Precio de Oferta</span>
              <span class="p-message-detail">Completo</span>
            </div>
          </div>

        </div>

        <div class="checklist__item">

          <!-- <div class="checklist__icon" [ngClass]="skuInvalid ? 'checklist__icon--invalid' : 'checklist__icon--valid'">
      <i class="checklist__i material-icons" *ngIf="skuInvalid">close</i>
      <i class="checklist__i material-icons" *ngIf="!skuInvalid">done</i>
    </div>
    <div class="checklist__details">
      <span class="checklist__span"> SKU: </span>
      <span class="checklist__span" *ngIf="skuInvalid">Incompleto</span>
      <span class="checklist__span" *ngIf="!skuInvalid">Completo</span>
    </div> -->

          <div class="p-messages" *ngIf="skuInvalid">
            <div class="p-message p-message-error checklist__type">
              <span class="p-message-icon"> <i class="pi pi-times"></i></span>
              <span class="p-message-summary">SKU</span>
              <span class="p-message-detail">Incompleto</span>
            </div>
          </div>

          <div class="p-messages" *ngIf="!skuInvalid">
            <div class="p-message p-message-success	checklist__type">
              <span class="p-message-icon"> <i class="pi pi-check"></i></span>
              <span class="p-message-summary">SKU</span>
              <span class="p-message-detail">Completo</span>
            </div>
          </div>

        </div>

        <div class="checklist__item">

          <!-- <div class="checklist__icon" [ngClass]="stockQuantityInvalid ? 'checklist__icon--invalid' : 'checklist__icon--valid'">
      <i class="checklist__i material-icons" *ngIf="stockQuantityInvalid">close</i>
      <i class="checklist__i material-icons" *ngIf="!stockQuantityInvalid">done</i>
    </div>
    <div class="checklist__details">
      <span class="checklist__span"> Stock: </span>
      <span class="checklist__span" *ngIf="stockQuantityInvalid">Incompleto</span>
      <span class="checklist__span" *ngIf="!stockQuantityInvalid">Completo</span>
    </div> -->

          <div class="p-messages" *ngIf="stockQuantityInvalid">
            <div class="p-message p-message-error checklist__type">
              <span class="p-message-icon"> <i class="pi pi-times"></i></span>
              <span class="p-message-summary">Stock</span>
              <span class="p-message-detail">Incompleto</span>
            </div>
          </div>

          <div class="p-messages" *ngIf="!stockQuantityInvalid">
            <div class="p-message p-message-success	checklist__type">
              <span class="p-message-icon"> <i class="pi pi-check"></i></span>
              <span class="p-message-summary">Stock</span>
              <span class="p-message-detail">Completo</span>
            </div>
          </div>

        </div>

        <div class="checklist__item">

          <div class="p-messages" *ngIf="categoriesInvalid">
            <div class="p-message p-message-error checklist__type">
              <span class="p-message-icon"> <i class="pi pi-times"></i></span>
              <span class="p-message-summary">Categoria</span>
              <span class="p-message-detail">Incompleto</span>
            </div>
          </div>

          <div class="p-messages" *ngIf="!categoriesInvalid">
            <div class="p-message p-message-success	checklist__type">
              <span class="p-message-icon"> <i class="pi pi-check"></i></span>
              <span class="p-message-summary">Categoria</span>
              <span class="p-message-detail">Completo</span>
            </div>
          </div>

        </div>

        <div class="checklist__actions">
          <button (click)="registerProduct()" pButton pRipple label="Registrar" class="p-button-success"
           ></button>

        </div>

      </div>

    </aside>
  </div>

</div>