<div class="metric-card bg-white px-10 py-4 w-full max-w-[520px] rounded-2xl mx-auto">
    <div class="metric-card__header flex justify-between items-center gap-4">

      <div class="metric-card__title">
        <div class="badge flex items-center">
          <h2 class="metric-card__h2 font-medium text-xl text-red-700 my-3 relative">
            {{metricas().title}}
          </h2>
          <!-- <app-badge [badgeNumber]="12" [badgeClass]="'bg-red-500 text-white'"></app-badge> -->
        </div>
        <!-- <p class="metric-card__p text-sm">Consulta todas las ordenes pendientes en tus canales de venta activos</p> -->
      </div>

      <div class="card-inactive__toggle">
        <p-button icon="pi pi-arrow-right" [rounded]="true" [text]="true" severity="danger " />
      </div>
    </div>

    <div class="metric-card__body flex items-center flex-col gap-3 w-full" >
        @for (metrica of metricas().metrics; track $index) {
            <div class="metric-card__item relative border-b-2 last-of-type:border-b-0 cursor-pointer flex items-center justify-between gap-4 w-full py-5 ">
              <h3 class="metric-card__label text-sm">{{metrica.channel}}</h3>
              <span class="metric-card__value text-sm font-semibold text-slate-700">{{metrica.value}}</span>
            </div>
        }
    </div>
  </div>