:host {
  display: block;
}

.order-card {


  &__i {
    font-size: 18px;
  }
  &__picture {

    &-simple-item {
      background-color:#efefef;

    }
    &-multiple-items {

      & > div{

        &:nth-child(2) {
          left: -20px;
        }

        &:nth-child(3) {

          left: -40px;
        }
      }

    }

  }

  &__content-img {
    background-color:#efefef;
    border: 1px solid #ededed;
      border-radius: 50%;
      padding: 5px;
  }

  &__description {
    &-simple-item {
      left: -8px;
    }

    &-multiple-items {
      left: -32px;
    }
  }

  &__collapsed {

    &-container {
      // width: calc(100% - 60px);
      // padding-right: 60px;
      background-color: var(--surface-50);
      padding: 10px;
      border-radius: 10px;
    }
    &-content {
      margin-bottom: 12px;
      padding-bottom: 12px;
    
    }

  }
}

.order__search {
  &-wrapper {
    width: 0;
    opacity: 0;
    visibility: hidden;
     overflow: hidden;
    transition: 0.4s cubic-bezier(0.86, 0, 0.07, 1);

  }

  &-show {

    border-radius: 10px;
    border: 1px solid var(--surface-300);
    .order__search-btn-toggle {
      opacity: 0;
      display: none;
      pointer-events: none;
      cursor: default;
    }
    .order__search-wrapper {
      width: 100%;
      opacity: 1;
      visibility: visible;
    }



  }

  &-input {

    &:focus {
      box-shadow:none;
    }

    // &:enabled:hover {
    //   box-shadow: var(--primary-color);

    // }

  }
  

}

@media screen and (max-width: '1024px')  {
  .order-card {
    
  &__description {
    &-simple-item {
      left: 0px;
    }

    &-multiple-items {
      left: 0px;
    }
  }
  }
}


//loader 
.loader {

  &__spiner {
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translate(-50%, 10%);
      top: 0;
      background: #ff3d00;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      animation: jump 0.5s ease-in infinite alternate;
    }

    &::after {
      background: #0000;
      color: #fff;
      top: 100%;
      box-shadow: 32px -20px, -32px -20px;
      animation: split 0.5s ease-out infinite alternate;
    }
  }

  &__mask {
    background-color: var(--maskbg);
  }
}


//*animation for loader
@keyframes split {
  0% {
    box-shadow: 8px -20px, -8px -20px;
  }
  100% {
    box-shadow: 32px -20px, -32px -20px;
  }
}
@keyframes jump {
  0% {
    transform: translate(-50%, -150%);
  }
  100% {
    transform: translate(-50%, 10%);
  }
}
