<div #container class="forms">
  <div class="forms__container">
    <div class="signin-signup">
      <!-- FORMULARIO LOGIN -->
      <form class="sign-in-form" autocomplete="off" [formGroup]="formSignIn" (ngSubmit)="login()">

        <div class="form__logo">
          <img src="assets/img/logo_servitae.webp" class="form__img--logo" alt="servitae">
        </div>

        <h2 class="title">Ingresa a tu plataforma</h2>
        <div class="form__section mb-3">
          <div class="p-inputgroup form-register__group">
            <span class="p-inputgroup-addon form-register__icon">
              <i class="material-icons">mail</i>
            </span>
            <input pInputText class="form__input" placeholder="Introduce tu correo electrónico"
              formControlName="emailLogin" [class.is-invalid]="emaiLoginlInvalid"
              [ngClass]="{ 'ng-invalid ng-dirty': emaiLoginlInvalid }" />
          </div>
          <small *ngIf="emaiLoginlInvalid" class="p-error">El correo electrónico es obligatorios</small>
        </div>

        <div class="form__section">
          <div class="p-inputgroup form-login__group">
            <span class="p-inputgroup-addon form-register__icon">
              <i class="material-icons">key</i>
            </span>

            <p-password id="passConfirm" autocomplete="on" class="form-login__input" placeholder="Ingrese su contraseña"
              [feedback]="false" [toggleMask]="true" formControlName="passLogin" [class.is-invalid]="passLoginInvalid"
              [ngClass]="{'ng-invalid ng-dirty': passLoginInvalid }"></p-password>
          </div>
          <small *ngIf="passLoginInvalid" class="p-error">La contraseña es obligatoria</small>
        </div>


        <div class="form__section form__remember mt-3">
          <input class="form__checkbox" type="checkbox" formControlName="rememberLogin">
          <!-- <p-checkbox  inputId="rememberLogin" [value]="checkRemember" formControlName="rememberLogin"></p-checkbox> -->
          <label for="ny">Recodar contraseña</label>

        </div>

        <div class="form__section form__actions">

          <p-button class="form-login__btn mt-3" label="INGRESAR" type="submit"
            styleClass="p-button-rounded"></p-button>
        </div>
        <!-- <input type="submit" routerLink="dashboard/home" value="Login" class="btn solid" /> -->
        <!-- 
       <hr>
<pre>
  Estado del formulario: {{ formSignIn.valid }}
  <br>
  Status: {{ formSignUp.status }}
</pre> -->


      </form>

      <!-- FORMULARIO REGISTRO -->
      <form class="sign-up-form" autocomplete="off" [formGroup]="formSignUp" (ngSubmit)="register()">

        <div class="form__logo">
          <img src="assets/img/logo_servitae.webp" class="form__img--logo" alt="servitae">
        </div>

        <h2 class="title">Registro</h2>

        <div class="form__section">

          <div class="p-inputgroup form-register__group">
            <span class="p-inputgroup-addon form-register__icon">
              <i class="material-icons">person </i>
            </span>
            <input pInputText class="form__input" placeholder="Introduce tu nombre completo" formControlName="fullName"
              [class.is-invalid]="fullNameInvalid" [ngClass]="{ 'ng-invalid ng-dirty': fullNameInvalid}" />

          </div>
          <small *ngIf="fullNameInvalid" class="p-error">el nombre completo es obligatorio</small>

        </div>

        <div class="form__section">
          <div class="p-inputgroup form-register__group">
            <span class="p-inputgroup-addon form-register__icon">
              <i class="pi pi-envelope"></i>
            </span>
            <input pInputText class="form__input" placeholder="Introduce tu correo electrónico"
              formControlName="emailRegister" [class.is-invalid]="emailRegisterInvalid"
              [ngClass]="{ 'ng-invalid ng-dirty': emailRegisterInvalid }" />
          </div>
          <small *ngIf="emailRegisterInvalid" class="p-error">El correo electrónico es obligatorios</small>
        </div>

        <div class="form__section">
          <div class="p-inputgroup form-register__group">
            <span class="p-inputgroup-addon form-register__icon">
              <i class="pi pi-key"></i>
            </span>
            <p-password autocomplete="on" class="form-register__input form-register__password" id="pass1"
              placeholder="Ingrese su contraseña" [toggleMask]="true" formControlName="pass1"
              [class.is-invalid]="pass1Invalid" [ngClass]="{ 'ng-invalid ng-dirty': pass1Invalid}">
              <ng-template class="sugerencia" pTemplate="header">
                <h6>Pick a password</h6>
              </ng-template>
              <ng-template pTemplate="footer">
                <p-divider></p-divider>
                <p class="mt-2">Sugerencia</p>
                <ul class="pl-2 ml-2 mt-0" style="line-height: 2">
                  <li>Al menos una Mayuscula</li>
                  <li>Al menos una Minuscula</li>
                  <li>Al menos un numero</li>
                  <li>Minimo 8 caracteres</li>
                </ul>
              </ng-template>
            </p-password>
          </div>
          <small *ngIf="pass1Invalid" class="p-error">la contraseña es obligatorio</small>

        </div>

        <div class="form__section">
       
          <div class="p-inputgroup form-login__group">
            <span class="p-inputgroup-addon form-register__icon">
              <i class="material-icons">key</i>
            </span>
            <p-password id="pass3" autocomplete="on" class="form-login__input" placeholder="Confirma la contraseña"
            [feedback]="false" [toggleMask]="true" formControlName="pass2" [class.is-invalid]="passwordsInvalid"
            [ngClass]="{'ng-invalid ng-dirty': passwordsInvalid }"></p-password>
          </div>

          <small *ngIf="passwordsInvalid" class="p-error">Las contraseña deben ser iguales</small>
        </div>

        <div class="form__section form__remember">
          <p-checkbox inputId="ny" value="recordar" formControlName="aceptTerm" [class.is-invalid]="termInvalid"
            [ngClass]="{ 'ng-invalid ng-dirty': termInvalid }"></p-checkbox>
          <label for="ny">Acepto terminos y condiciones</label>
          <small *ngIf="termInvalid" class="p-error">Debe aceptar los terminos y condiciones</small>
        </div>

        <div class="form__section form__actions">

          <p-button type="submit" label="Registrarme" styleClass="p-button-rounded"></p-button>
        </div>

      </form>
    </div>
  </div>

  <div class="panels">
    <div class="panel panel__left">
      <div class="panel__content">

        <div #carouselSignIn class="panel-swiper swiper">
          <div class="panel-swiper-wrapper swiper-wrapper">
            <div class="panel-slide swiper-slide">

              <h3 class="panel__h3">¿Nuevo aqui?</h3>
              <p class="panel__p ">
                Registrate hoy mismo & empieza a administrar tus envios de la manera mas facil
              </p>
              <button #btnRegister class="panel__btn transparent m-auto" id="sign-up-btn">
                Registrarme
                <i class="panel__i material-icons">outbound</i>
              </button> 

              <img src="/assets/img/svg/delivery-01.svg" class="panel__img" alt="" />
            </div>

            <div class="panel-slide swiper-slide">

              <h3 class="panel__h3">Integra tus tiendas</h3>
              <p class="panel__p ">
                Registrate hoy mismo e integra tus tiendas en linea de manera facil y sencilla
              </p>

              <button #btnRegister class="panel__btn transparent m-auto" id="sign-up-btn">
                Registrarme
                <i class="panel__i material-icons">outbound</i>
              </button> 

              <img src="/assets/img/svg/delivery-02.svg" class="panel__img" alt="" />
            </div>

            <div class="panel-slide swiper-slide">

              <h3 class="panel__h3">Sincronización de inventario</h3>
              <p class="panel__p ">
                Evita la pesadilla de vender productos que no tienes en stock. Servitae te permite mantener automáticamente tu inventario actualizado en todas las plataformas
              </p>

              <button #btnRegister class="panel__btn transparent m-auto" id="sign-up-btn">
                Registrarme
                <i class="panel__i material-icons">outbound</i>
              </button> 

              <img src="/assets/img/svg/delivery-03.svg" class="panel__img" alt="" />
            </div>
          </div>

          <div class="panel-swiper-wrapper swiper-pagination"></div>

        </div>
        <!-- <h3 class="panel__h3 ">¿Nuevo aqui?</h3>
        <p class="panel__p ">
          Registrate hoy mismo & empieza a administrar tus envios de la manera mas facil
        </p>

        <button #btnRegister class="panel__btn transparent m-auto" id="sign-up-btn">
          Registrarme
          <i class="panel__i material-icons">outbound</i>
        </button> -->
      </div>
   
    </div>
    <div class="panel panel__right">
      <div class="panel__content ">

        <div #carouselSignUp class="panel-swiper swiper">
          <div class="panel-swiper-wrapper swiper-wrapper">
            <div class="panel-slide swiper-slide">
              <h3 class="panel__h3 ">¿Ya tienes una cuenta?</h3>
              <p class="panel__p ">
                 Ingresa a tu cuenta y empieza a integrar tus tiendas en linea, una manera sencilla y facil
      
                <!-- <p-button #btnLogin label="Ingresar" styleClass="p-button-outlined p-button-secondary"></p-button> -->
      
                <button #btnLogin class="panel__btn transparent" id="sign-in-btn">
                  ingresar
                  <i class="panel__i material-icons">outbound</i>
                </button>

                <img src="/assets/img/svg/delivery-05.svg" class="panel__img" alt="" />

            </div>

            <div class="panel-slide swiper-slide">
              <h3 class="panel__h3 ">Gestión simplificada de pedidos</h3>
              <p class="panel__p ">
                 INunca pierdas de vista un pedido importante. Con Servitae, todos los pedidos de todas tus tiendas se centralizan en una sola interfaz. Procesar, rastrear y gestionar pedidos nunca ha sido tan fácil.
      
                <!-- <p-button #btnLogin label="Ingresar" styleClass="p-button-outlined p-button-secondary"></p-button> -->
      
                <button #btnLogin class="panel__btn transparent" id="sign-in-btn">
                  ingresar
                  <i class="panel__i material-icons">outbound</i>
                </button>

                <img src="/assets/img/svg/delivery-04.svg" class="panel__img" alt="" />

            </div>
          </div>
        </div>

       
      </div>
    </div>
  </div>
</div>