<!-- 
<div class="order-table section" [ngSwitch]="statusData">

    <ng-template ngSwitchCase="success">
           <app-search-product></app-search-product>

           <app-orders [dataOrders]="ordersCompleted" [statusData]="statusData"></app-orders>
           
       <div class="card flex justify-content-center">
           <p-paginator class="paginacion" [totalRecords]="totalItem" [rowsPerPageOptions]="[10, 20, 30]" [rows]="10"></p-paginator>
       </div>
       </ng-template>

    <ng-template #dataLoading ngSwitchCase="loading">
        <app-loading-table></app-loading-table>
    </ng-template>

     
    <ng-template  #dataError ngSwitchCase="error">
        <app-message [titleError]="titleError" [DetailError]="detailsError"></app-message>
     </ng-template>
</div> -->
