
<div class="woocommerce">

    <div class="woocommerce__head">
        
    <div class="woocommerce-breadcrumb">

        <span  class="woocommerce-breadcrumb__a" routerLink="/dashboard/woocommerce/">
          <i class="woocommerce-breadcrumb__i pi pi-woocommerce"></i>
         <h1 class="woocommerce-breadcrumb__h1">woocommerce</h1>
        </span>
   
         <ul class="woocommerce-breadcrumb__ul">
   
           <li class="woocommerce-breadcrumb__li">></li>
           <li class="woocommerce-breadcrumb__li">
            Tiendas
           </li>
           <li class="woocommerce-breadcrumb__li">></li>

           <li class="woocommerce-breadcrumb__li">
            Woocommerce
           </li>

           <li class="woocommerce-breadcrumb__li">
            >
           </li>

           <li class="woocommerce-breadcrumb__li">
             <a class="woocommerce-breadcrumb__a woocommerce-breadcrumb__a--active" href="">Productos</a>
           </li>
         </ul>
       </div>
    </div>

    <div class="wc-cards section">

        <div class="wc-card">
            <img src="assets/img/icon_orden.png" alt="nuestros productos" class="wc-card__img" loading="lazy">
            <h3 class="wc-card__h3">Ordenes pendientes</h3>
            <p class="wc-card__p">14</p>
        </div>
        <div class="wc-card">
            <img src="assets/img/icon_mensaje.png" alt="nuestros productos" class="wc-card__img" loading="lazy">

            <h3 class="wc-card__h3">Mensajes</h3>
            <p class="wc-card__p">0</p>
        </div>
        <div class="wc-card">
            <img src="assets/img/icon_venta.png" alt="nuestros productos" class="wc-card__img" loading="lazy">
            <h3 class="wc-card__h3">Ventas realizadas</h3>
            <p class="wc-card__p">75</p>
        </div>
        <div class="wc-card">
            <img src="assets/img/icon_producto.png" alt="nuestros productos" class="wc-card__img" loading="lazy">

            <h3 class="wc-card__h3">Productos</h3>
            <p class="wc-card__p">325</p>
        </div>

    </div>

    <p-tabMenu class="wc__menu"  [model]="items"></p-tabMenu>

<router-outlet></router-outlet>