<div class="cards-stat__container text-gray-600 body-font shadow-slate-300 mx-auto">
  <!-- <h2 class="cards__title font-medium text-xl">{{ titleSection() }}</h2> -->
  <div class="cards-stat" [class]="klassContainer()">


    <div class="card-stat cursor-pointer" [class]="klassCard()" *ngFor="let data of dataCard()"
      (click)="executeCommand(data)">
      <span *ngIf="data.icon || data.iconClass"
        class="card-stat__icon-box w-11 h-11 mr-3 flex items-center justify-center rounded-xl"
        [class]="data.backgroundIconClass">
        <i class="card-stat__icon w-7 h-7" class="{{ data.iconClass }}">{{
          data.icon
          }}</i>
      </span>

      <div *ngIf="data.urlImage" class="card-stat__image-box ">
        <img class="w-10 h-10 object-cover object-center  mr-4" [src]="data.urlImage" alt="" />
      </div>

      <div>
        <h2 class="text-gray-500 title-font font-medium text-sm line-clamp-3">
          {{ data.label }}
        </h2>
        <p class="font-bold text-gray-700 text-2xl">
          {{ data.quantity | number }}
        </p>
      </div>


  

    </div>
  </div>
</div>