<div class="top-header">
  <div class="top-header__content container">
    <div class="top-header__row top-header__row-breadcrumb">
      <app-breadcrumb
        [breadcrumbHomeItem]="breadcrumHome"
        [breadcrumbItems]="breadcrumbItems">
      </app-breadcrumb>
    </div>

    <div class="top-header__row top-header__row-text">
      <div class="top-header__col">
        <h1 class="top-header__h1 text-3xl font-bold">Inventario</h1>
        <span class="top-header__span">26 productos</span>
      </div>

      <div class="top-header__col">
        <p-splitButton
          [style]="{ 'font-size': '14px', 'padding': '0.5em 0.6em'}"
          #btnDropdown
          label="Publicar"
          icon="pi pi-plus"
          (onClick)="btnDropdown.onDropdownButtonClick($event)"
          [model]="addProductItems"
          >
        </p-splitButton>
      </div>
    </div>
  </div>
</div>

<app-inventory-list 
[stateDataProducts]="wooProducts()"
[totalRecords]="wooPagProducts().totalRecords"
(changedLabelValue)="changeTypeSearch($event)" 
(searchValue)="getProductsBySearch($event)"
(changedPagination)="paginationChanged($event)"
(emitProduct)="getVarianProduct($event)"
[stateVariations]="wooVariations()"
(editProduct)="editProduct($event)"
(pauseProductsByBatch)="pauseProductByBatch($event)"
(reactivateProductsByBatch)="activateProductByBatch($event)"
(deleteProductsByBatch)="deleteByBatch($event)"
(modifyProductsByBatch)="gotoMassiveEditor($event)"> 
</app-inventory-list>

<p-toast position="top-center" key="tc" />
<p-confirmDialog />

<router-outlet></router-outlet>