@import "_mixin";

//? header
.top-header__row-text {
  @include flexible(flex, row, wrap, space-between, center);
  gap: 1em;
}

.list-card {
  &__status {
    // background-color: lavenderblush;
    flex-direction: column;
  }

  &__a {
    color: var(--primary-color);
    font-weight: 600;
  }
}

//? INVENTARIO
.toolbar-actions {
  background-color: var(--surface-card);
  padding: 12px;
  @include flexible(flex, row, wrap, space-between, stretch);
  gap: 12px;
  margin-top: 2em;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: var(--shadow);
  &__left {
    @include flexible(flex, row, nowrap, flex-start, center);
    gap: 1em;
  }

  &__separator {
    margin-left: 8px;
    align-self: stretch;
    background-color: var(--surface-300);
    display: block;
    width: 1px;
  }

  &__selection {
    &-label {
      font-size: 0.875rem;
    }
  }

  &__btn {
    border-radius: 5px;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
  }

  //? search
  &__search {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: flex-end;
    width: 280px;

    &-wrapper {
      position: relative;
      width: 0;
      opacity: 0;
      visibility: hidden;
      overflow: hidden;

      transition: 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &-span {
      width: 100%;
    }

    &-input {
      width: 100%;
      position: relative;
      border-radius: 0px;
      border: none;
      font-size: 0.875rem;
      // border-color: transparent;
      padding-left: 1.5em;
      border-bottom: 1px solid var(--surface-300);
    }

    &-i {
      font-size: 18px;
      margin-top: -9px;
      cursor: pointer;
    }
  }

  &__search-show {
    .toolbar-actions__search-btn-toggle {
      opacity: 0;
      display: none;
      pointer-events: none;
      cursor: default;
      transition: opacity 0.1s;
      transition-delay: 0.1s;
    }

    .toolbar-actions__search-wrapper {
      width: 100%;
      opacity: 1;
      visibility: visible;
    }
  }
}

//?Pagination
.woo-inventario__pagination {
  @include flexible(flex, row, wrap, space-between, center);
  gap: 1em;

  &__span {
    margin-right: 1em;
  }
}

.top-header {
  &__row-header {
    @include flexible(flex, row, wrap, space-between, center);
    gap: 1.5em;
  }

  &__h1,
  &__span {
    color: #fff;
  }

  // &__h1 {
  //   font-size: 1.5rem;
  //   margin: 0;
  // }

  // &__span {
  //   font-size: 0.875rem;
  // }
}

//*loader

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  //*spinner
  &__spiner {
    width: 82px;
    height: 18px;
    position: relative;
    z-index: 11;
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translate(-50%, 10%);
      top: 0;
      background: #ff3d00;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      animation: jump 0.5s ease-in infinite alternate;
    }

    &::after {
      background: #0000;
      color: #fff;
      top: 100%;
      box-shadow: 32px -20px, -32px -20px;
      animation: split 0.5s ease-out infinite alternate;
    }
  }

  //*mask
  &__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--maskbg);
    z-index: 11;
  }
}

//*SKELETON
.skeleton {
  &__row-topbar {
    @include flexible(flex, row, wrap, space-between, center);
    gap: 1.5em;
    background-color: var(--surface-card);
    padding: 1em;
  }
  &__card {
    border: 1px solid var(--surface-border);
    margin-top: 2.5em;
    padding: 1.5em;
    @include flexible(flex, row, wrap, space-between, center);
    gap: 1.5em;
    background-color: var(--surface-card);
  }
}

//* EMPTY STATE
.empty-card {
  background-color: var(--surface-card);
  margin: 1.5em auto;
  border-radius: 20px;

  &__img {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  &__text {
    margin-left: auto;
    margin-right: auto;
margin-top: 1em;
    text-align: center;
    padding-bottom: 1em;
    &-title {
      color: var(--text-color-secondary);
    }
  }
}

//*animation for loader
@keyframes split {
  0% {
    box-shadow: 8px -20px, -8px -20px;
  }
  100% {
    box-shadow: 32px -20px, -32px -20px;
  }
}
@keyframes jump {
  0% {
    transform: translate(-50%, -150%);
  }
  100% {
    transform: translate(-50%, 10%);
  }
}


.container-error{
  background-color: var(--surface-card);
  margin-top: 2em;
}

.outofstock {
  background-color: red;
}