<div class="top-header">
  <div class="top-header__content container">
    <div class="top-header__row top-header__row-breadcrumb">
      <app-breadcrumb
        [breadcrumbHomeItem]="breadcrumHome"
        [breadcrumbItems]="breadcrumbItems">
      </app-breadcrumb>
    </div>

    <div class="top-header__row top-header__row-text">
      <div class="top-header__col">
        <h1 class="top-header__h1 text-3xl font-bold">Inventario</h1>
        <span class="top-header__span">26 productos</span>
      </div>

      <div class="top-header__col">
        <p-splitButton
          #btnDropdown
          label="Publicar"
          icon="pi pi-plus"
          (onClick)="btnDropdown.onDropdownButtonClick($event)"
          [model]="addProductItems"
          >
        </p-splitButton>
      </div>
    </div>
  </div>
</div>


<app-inventory-list 
[statusProducts]="statusData"
[products]="products" 
[totalRecords]="totalRecords"
[menuProduct]="menuProduct"
(changedLabelValue)="changeTypeSearch($event)" 
(searchValue)="getProductsBySearch($event)"
[paginationParams]="paginationParams"
(changePagination)="changePage($event)"
> 

</app-inventory-list>









<!-- <app-card-search
 [isDisabled]="products.length ===0" 
 [isOptionActive]="handlerOptionBtn" 
 [menuSearch]="menuFilterSearch"
 
 (searchValue)="getProductsBySearch($event)">
  <ng-container #contentLeft>
  
    <p-checkbox
    [disabled]="products.length === 0"
    [binary]="true"
    inputId="binary"
    [(ngModel)]="isSelectAllProduct"
    (onChange)="toggleSelectAllProducts()">
  </p-checkbox>

  <span class="toolbar-actions__separator"> </span>

  <div class="w-32">
  @if (selectedProduct.length) {

      <p class="toolbar-actions__selection-label">
        {{ selectedProduct.length }} seleccionados
      </p>
      
    }
  </div>
</ng-container>
</app-card-search>

@switch (statusData) { @case ('success') {
<div class="inventario">
  <p-toast></p-toast>
  <div class="woo-inventario__content container">
    @for (product of products; track product.id; let i = $index; ) {
    <app-card-product
      [menu]="optionsProduct"
      [outOfStock]="product.stock_quantity === 0 && product.stock_status === 'outofstock'"
    
      >
      
      <p-checkbox
        [binary]="true"
        inputId="checkProduct{{ product.id }}"
        handlerCheckProduct
        [value]="product"
        [(ngModel)]="isSelectedEveryProduct[i]"
        (onChange)="toggleEveryProduct(product)">
      </p-checkbox>
      <span class="product-card__actions-id text-sm font-bold text-slate-600" idProduct
        >#{{ product.id }}</span
      >
      <div class="product-card__product flex flex-col lg:flex-row items-start lg:items-center justify-start gap-4">
        <div class="product-card__picture my-6 mx-auto lg:mx-0 lg:my-0">
          <img
            [src]="product.images[0].src"
            alt=""
            class="product-card__img product-card__img-simple-img w-[160px] lg:w-[120px] object-center"
          />
        </div>
        <div class="product-card__description gap-2 mb-6 lg:mb-0">
          <div class="product-card__sku text-xs">
            #{{ product.id }} | Sku: {{ product.sku }}
          </div>
          <a href="#" class="product-card__link-product">
            <div class="product-card__name text-sm font-bold">
              {{ product.name | slice : 0 : 61 }}
            </div>
          </a>
          <div class="product-card__store product-card__store-woocommerce text-xs font-bold rounded-md inline py-1 px-2">
            Woocommerce
          </div>
          <div class="product-card__quantity text-xs font-semibold">
          
           
            @if (product.stock_quantity) {
              {{product.stock_quantity}}
              {{product.stock_quantity === 0  ? 'unidad': 'unidades'}}
            } 
            @else if ( (product.stock_quantity === 0 || product.stock_quantity === null) && product.stock_status === 'outofstock' ){
              0 Unidades
            }
            
            @else {
              <span class="text-xs font-semibold text-green-600">Hay Existencia</span>
            } 
                   </div>
        </div>
      </div>
      @if (product.price && product.regular_price) {
      <div class="product-card__details-col product-card__price flex flex-col flex-wrap gap-y-2 lg:gap-y-1.5">
        <span class="product-card__price text-sm font-semibold"
          >{{ product.regular_price | currency }}
        </span>

        <span class="product-card__label text-xs">
          precio regular
        </span>
        <a href="#" class="product-card__a text-xs"
          >Modificar precio</a
        >
      </div>
      } @if (product.price && product.regular_price) {
      <div class="product-card__details-col product-card__price flex flex-col flex-wrap gap-y-2 lg:gap-y-1.5">
        <span class="product-card__price text-sm font-semibold">
          {{ product.price | currency }}
          </span>
        <span class="product-card__label text-xs">precio al publico</span>
      </div>
      } @if (!product.price || !product.regular_price) {
      <div class="product-card__details-col product-card__price flex flex-col flex-wrap gap-y-2 lg:gap-y-1.5">
        <span class="product-card__withoutPrice text-sm font-semibold"
          >Precio no fijado</span
        >
        <span class="product-card__label text-xs">Precio sin configurar</span>
        <a href="#" class="product-card__a text-xs"
          >Modificar precio</a
        >
      </div>
      }
      <div class="product-card__details-col product-card__status flex flex-col flex-nowrap gap-y-2 lg:gap-y-1.5">
        @switch (product.stock_status) { @case ('outofstock') {
        <span class="product-card__inactive-title text-sm font-semibold">Inactivo</span>
        <span class="product-card__label text-xs"
          >No tienes mas unidades a la venta</span
        >
        } @case ('instock') {
        <span class="product-card__unit-sales text-sm font-semibold">{{
          product.total_sales
        }}</span>
        <span class="product-card__label text-xs">{{
          product.total_sales > 1 ? "unidades vendidas" : "unidad vendida"
        }}</span>
        } }
      </div>
    
      <div class="product-card__details-col flex flex-col flex-wrap gap-y-2 lg:gap-y-1.5">
        <span class="product-card__isActive-product text-sm font-semibold">
          {{
            product.stock_quantity || product.stock_status === 'instock' ? 'Activo': 'Inactivo' }}
</span>
        <p-inputSwitch
          [name]="product.sku"
          inputId="inputSwitchProduct {{ product.id }}"
          [trueValue]="(product.stock_quantity === 0 || product.stock_quantity === null) && product.stock_status === 'outofstock'"
          [disabled]="true"
          [readonly]="true"
          (onChange)="onSwitchChange($event, product)"
        ></p-inputSwitch>
      </div>
      
    </app-card-product>
    }
    <div class="max-w-7xl mx-auto my-6">
      <div class="woo-inventario__pagination-right">
        <p-paginator
          [style]="{ 'font-size': '14px' }"
          [first]="paginationParams.first"
          [rows]="paginationParams.per_page"
          [totalRecords]="26"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[5, 10, 20, 40, 50]"
          currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros"
          (onPageChange)="onPageChange($event)"
        ></p-paginator>
      </div>
    </div>
  </div>
</div>
} @case ('loading') {
<div class="loader">
  <div class="loader__mask"></div>
  <div class="loader__spiner"></div>
</div>
<div class="container mt-4">
  @for (_ of [1, 2, 3, 4, 5]; track _) {
  <div class="skeleton__card">
    <div class="skeleton__col skeleton__col-product flex mb-3">
      <p-skeleton size="4rem" styleClass="mr-2"></p-skeleton>
      <div>
        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="15rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="5rem"></p-skeleton>
      </div>
    </div>
    <div class="skeleton__col skeleton__col-details flex mb-3">
      <p-skeleton width="30rem" height="6rem" styleClass="mr-2"></p-skeleton>
    </div>
  </div>
  }
</div>
} @case('empty') {
<div class="empty-card container">
  <div class="empty-card__image">
    <picture class="empty-card__picture">
      <source srcset="assets/img/svg/NoSearchResult.png" type="image/png" />
      <img
        src="assets/img/svg/NoSearchResult.png"
        class="empty-card__img"
        alt="resultado de busqueda"
        loading="lazy"
      />
    </picture>
  </div>
  <div class="empty-card__text">
    <h3 class="empty-card__text-title">Sin resultados...</h3>
    <p class="empty-card__text-p">
      intenta ajustar tu búsqueda para encontrar lo que buscas
    </p>
  </div>
</div>
} @case ('error') {
<div class="container container-error">
  <img
    class="size-7 mx-auto my-10"
    src="assets/img/svg/No-Connection.svg"
    alt="error en la consulta"
  />

  <h3 class="error__h3 text-center text-xl font-bold text-slate-100">
    Code Error: 404
  </h3>
  <p class="error__p text-center text-sm font-medium my-5 text-balance t">
    {{ errorMessage }}
  </p>
</div>
} } 

<p-dialog
  [(visible)]="toggleProductDialog"
  [style]="{ width: '40vw' }"
  header="Detalles del Producto"
  [modal]="true"
  [maximizable]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <form [formGroup]="formRegisterGroup" (ngSubmit)="publishProduct()" class="form_product">
      @if (product?.images?.length) {

      <img
        [src]="product!.images[0].src"
        [alt]="product!.images[0].alt"
        class="block m-auto pb-3"
      />
      }

      <div class="formGroup" formGroupName="detailsProduct">

        <div class="field mb-4">
          <label for="imagesForProduct pb-2">Images para el producto:</label>
          <p-fileUpload 
          mode="advanced" 
          [multiple]="true" 
          accept="image/.png, .jpg, .webp" 
          [fileLimit]="10"
          invalidFileTypeMessageSummary="Tipo de archivo no permitido"
          invalidFileTypeMessageDetail="Solo se permiten imagenes con extensión: .jpg, .png y .webp"
          chooseLabel="Eligir"
          uploadLabel="Cargar"
          cancelLabel="Cancelar"
        
          >
          
          </p-fileUpload>
        </div>

        <div class="field mb-4">
          <label class="field__label pb-2" for="titleProduct">Titulo del producto:</label>
          <i class="field__i material-icons "  pTooltip="Incluye producto, marca y destaca sus caracteristicas principales">
            live_help
          </i>
          <input
            [class.is-invalid]="validField('title')"
            type="text"
            pInputText
            id="titleProduct"
            formControlName="title"
            [maxlength]="60" 
          />

          <small class="form__length-words block">{{getValueField('title')?.length}} /60</small>
          <small class="p-error" *ngIf="validField('title')">Titulo del producto es requerido.</small>
        </div>

        <div class="field mb-4">
          <label for="descriptionProduct">Descripción del producto:</label>
          <textarea formControlName="description" name="detailProduct" class="w-full max-h[450px]" id="detailProduct" pInputTextarea cols="30" rows="8" ></textarea>
          <small class="form__length-words block">{{getValueField('description')?.length}} /2000</small>
          <small class="p-error" *ngIf="validField('description')">Descripción del producto es requerido.</small>
        </div>

        <div class="fields mb-4 grid grid-cols-2 gap-4">
        <div class="field col">
          <label for="regularPrice" class="field__label">Precio regular</label>
          <p-inputNumber inputId="regularPrice" formControlName="regularPrice" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
          <small class="p-error" *ngIf="validField('regularPrice')">Precio del producto es requerido.</small>
        </div>

        <div class="field col">
          <label for="salePrice" class="field__labe">Precio de Oferta</label>
          <p-inputNumber inputId="salePrice" formControlName="salePrice" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
          <small class="p-error" *ngIf="validField('regularPrice')">Precio de oferta del producto es requerido.</small>
        </div>

      </div>
      <div class="field mb-4">
        <label for="skuProduct">Sku del producto:</label>
        <input
        id="skuProduct"
        [class.is-invalid]="validField('sku')"
        formControlName="sku" 
        pInputText
        type="text"
      />
      </div>

      <div class="field mb-4">
        <label for="stockProduct">Stock del producto:</label>
 
      <p-inputNumber 
       inputId="stockProduct"
       formControlName="stock"
       [class.is-invalid]="validField('stock')"
       [min]="0" 
       [max]="3"
       [maxlength]="10">

      </p-inputNumber>
      </div>

      <div class="field mb-4">
        <pre>
          {{ formRegisterGroup.value | json}}
        </pre>
      </div>

      <div class="field mb-4">
        <pre>
         Estado del formulario: {{ formRegisterGroup.status }}
        </pre>
      </div>

      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="closeDialogNewProduct()"></button>
    <button pButton pRipple label="Publicar" type="submit" icon="pi pi-check" class="p-button-text" (click)="publishProduct()"></button>
  </ng-template>
  
</p-dialog>

<p-confirmDialog #cd>
  <ng-template pTemplate="headless" let-message>
    <div
      class="flex flex-column align-items-center p-5 surface-overlay border-round"
    >
      <div
        class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem -mt-8"
      >
        <i class="pi pi-question text-5xl"></i>
      </div>
      <span class="font-bold text-2xl block mb-2 mt-4">{{
        message.header
      }}</span>
      <p class="mb-0">{{ message.message }}</p>
      <div class="flex align-items-center gap-2 mt-4">
        <button
          pButton
          label="Save"
          (click)="cd.accept()"
          class="w-8rem"
        ></button>
        <button
          pButton
          label="Cancel"
          (click)="cd.reject()"
          class="p-button-outlined w-8rem"
        ></button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog> -->
