@switch (statusProductVars().status) {

  @case('loading') { 
    <div class="product-card__var px-6 py-7 lg:ml-[13em]">
      <div class="product-card__var-row grid grid-cols-1 lg:grid-cols-2 w-full ml-4"> 
        
        <div class="product-card__product flex flex-col lg:flex-row items-start lg:items-center justify-start gap-4">
          <div class="product-card__picture my-6 mx-auto lg:mx-0 lg:my-0 w-[180px] h-[180px] lg:w-[120px] lg:h-[120px]">
            <p-skeleton size="2rem" styleClass="mr-2" />

        
          </div>

          <div class="product-card__info flex items-start flex-col justify-center gap-2 mb-6 lg:mb-0">
            <p-skeleton width="10rem" styleClass="mb-2" />
            <p-skeleton width="10rem" styleClass="mb-2" />
            <p-skeleton width="10rem" styleClass="mb-2" />

          </div>

        </div>

        <div class="product-card__extra-info flex items-start justify-evenly flex-col lg:flex-row gap-6 lg:gap-4">
          <div class="product-card__extra-col flex flex-col flex-wrap gap-y-2 lg:gap-y-1.5">
            <p-skeleton width="10rem" height="4rem" />

          </div>
        </div>

      </div>
    </div>
  } @case('success') {
    <div class="product-card__var px-6 py-7 lg:ml-[13em]" >
  @for (variante of productVars(); track $index) {
    <div class="product-card__var-row grid grid-cols-1 lg:grid-cols-2 w-full ml-4 border-t-[1px] border-slate-200 py-4"  [ngStyle]="{
      'background-color':
        variante.status === 'inactive'
          ? 'var(--surface-200)'
          : 'var(--surface-card)'
    }">
    
     <div class="product-card__product flex flex-col lg:flex-row items-start lg:items-center justify-start gap-4">
       <div class="product-card__picture my-6 mx-auto lg:mx-0 lg:my-0 w-[120px] h-[120px] lg:w-[80px] lg:h-[80px]">
         @if (variante.imgProduct) {
         <img [ngStyle]="{ opacity: variante!.status === 'inactive' && '.7' }"
           [src]="variante.imgProduct!.url" [alt]="variante!.imgProduct.alt || ''"
           class="product-card__img product-card__img-simple-img mix-blend-multiply w-full h-full object-contain object-center border-2 border-slate-100" />
         }
       </div>

       <div class="product-card__col flex items-start flex-col justify-center gap-2 mb-6 lg:mb-0">
         <div class="product-card__info-sku text-xs">
          Variante: {{variante.title}}
         </div>

         <div class="product-card__info-sku text-xs">
           Sku: {{variante.sku}}
          </div>

          <div class="product-card__info-sku text-xs">
           unidades: {{variante.units}}

          </div>
     
      
       </div>
     </div>

     <div class="product-card__extra-info flex items-start justify-evenly flex-col lg:flex-row gap-6 lg:gap-4">
       
       <div class="product-card__extra-col flex flex-col flex-wrap gap-y-2 lg:gap-y-1.5">
         <span class="product-card__price text-sm font-semibold" [ngStyle]="{
             color: variante.status === 'inactive' && 'var(--surface-600)'
           }">
           {{ variante.regular_price | currency }}
         </span>

         <span class="product-card__label text-xs"> precio regular </span>

         <a href="#" class="product-card__a text-xs text-blue-700 font-semibold">
           Modificar precio
         </a>
       </div>

       <div class="product-card__extra-col flex flex-col flex-wrap gap-y-2 lg:gap-y-1.5">
         <span class="product-card__sale text-sm font-semibold" [ngStyle]="{
             color: variante.status === 'inactive' && 'var(--surface-600)'
           }">
           {{ variante.sale_price || variante.regular_price | currency }}
         </span>

         <span class="product-card__label text-xs"> precio al publico </span>
       </div>
       <div class="product-card__extra-col flex flex-col flex-nowrap gap-y-2 lg:gap-y-1.5">
         <span class="product-card__isActive-product text-sm font-semibold" [ngStyle]="{
             color: variante.status === 'inactive' && 'var(--surface-600)'
           }">
           {{ variante.status === "active" ? "Activo" : "Inactivo" }}
         </span>
         <p-inputSwitch [name]="variante.sku" inputId="inputSwitchProduct {{ variante.id }}"
           [ngModel]="variante.status === 'active'" [disabled]="true" [readonly]="true"></p-inputSwitch>
       </div>
     </div>
    </div>
  } 
     </div>
  } @case('empty') {


  } @case('error') {

  }
 } 
