<div class="top-header">
  <div class="home__breadcrumb container-bg">
    <app-breadcrumb
      [breadcrumbHomeItem]="breadcrumbHome"
      [breadcrumbItems]="breadcrumbItems"
    ></app-breadcrumb>
  </div>

  <!-- DETAILS ORDER FOR ALL CHANNEL -->
 
  <div class="section-details__orders container-bg">

    <div
      class="cards-stat__container text-gray-600 body-font shadow-slate-300 mx-auto flex flex-wrap items-center justify-center"
    >
      @for (item of items; track i; let i = $index) {
      <div
        (click)="togglePanel($event, i)"
        class="card-stat cursor-pointer bg-white flex flex-row lg:w-[20%] md:w-1/2 px-6 py-6 shadow-md w-full"
      >
        <span
          [class]="item.backgroundIconClass"
          class="card-stat__icon-box w-11 h-11 mr-3 flex items-center justify-center bg-orange-100"
        >
          <i
            [class]="item.iconClass"
            class="card-stat__icon w-7 h-7 material-icons text-lg text-orange-700"
            >{{ item.icon }}</i
          >
        </span>

        <div class="">
          <h2 class="text-gray-500 title-font font-medium text-sm line-clamp-3">
            {{ item.label }}
          </h2>
          <p class="font-bold text-gray-700 text-2xl">{{ item.totalCount }}</p>
        </div>
      </div>
      <p-overlayPanel #panels>
      
        <p-table
          [value]="item.overData"
          responsiveLayout="stack"
          [breakpoint]="'960px'"
          [tableStyle]="{ 'width': '550px' }"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Tienda</th>
              <th>Ordenes</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-order>
            <tr>
              <td>
                {{ order.label }}
              </td>
              <td>{{ order.count }}</td>
            </tr>
          </ng-template>

          <ng-template pTemplate="footer">
            <div class="flex items-center justify-end ml-3">
              <p class="card-footer__p pt-1 text-sm">
                Ordenes Totales<strong>30</strong>
              </p>
            </div>
          </ng-template>
        </p-table>
        
      </p-overlayPanel>
      }
    </div>
  </div>
</div>

<div class="section-top-products top-products container-bg my-6">

  <div class="top-products__row flex gap-4 items-center justify-between mx-3">

    <div class="top-products__col">
      <h2 class="cards__title font-medium text-2xl text-slate-900 my-3 t">
        Top 10 Productos mas vendidos
      </h2>
    
    </div>
    <div class="top-products__col">
      Tienda: 
      <p-dropdown 
      [style]="{'font-size': '14px'}"
    [options]="cities" 
    [ngModel]="selectedCity" 
    [placeholder]="'Seleccione un canal de venta'"
    optionLabel="name" 
  />
    </div>
  </div>
 
  <p-table 
  [value]="topProductSales"
  responsiveLayout="stack"
  [breakpoint]="'960px'"
  styleClass="p-datatable-striped" 
  [tableStyle]="{ 'width': '100%'}"
  >

  <ng-template pTemplate="header">
    <tr>
      <th>Top</th>
      <th>Producto</th>
      <th>Sku</th>
      <th>Stock</th>
      <th>Estatus</th>
      <th>Canal</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">

    <tr>
      <td>
        #{{(rowIndex +1)}}
      </td>
      <td>
        <div class="product-card__picture my-6 mx-auto lg:mx-0 lg:my-0 w-[100px] h-[100px] lg:w-[60px] lg:h-[60px]">
          <img [ngStyle]="{ opacity: product.status === 'inactive' && '.7' }"
            [src]="product.img?.src" [alt]="product.img?.alt || ''"
            class="product-card__img product-card__img-simple-img mix-blend-multiply w-full h-full object-contain object-center border-2 border-slate-100" />
          </div>
      </td>
    <td>
      {{product.sku}}
    </td>

    <td>
      {{product.stock}} unidades
    </td>

    <td>
      {{product.status}}
    </td>

    <td>
      {{product.channel}}
    </td>
    </tr>
  </ng-template>
  
  </p-table>

</div>
<!-- TABLE DATA -->
<div class="table-data container-bg flex flex-wrap gap-6">
  <div class="table-data__order grow basis-[500px]">
    <div class="table-data__head head flex items-center gap-4 mb-6">
      <h3 class="table-data__h3 mr-auto text-2xl font-semibold">
        Historial de ordenes
      </h3>
      <i class="table-data__i bx bx-search cursor-pointer"></i>
      <i class="table-data__i bx bx-filter cursor-pointer"></i>
    </div>
    <table class="table-order">
      <thead class="table-order__thead">
        <tr class="table-order__tr">
          <th class="table-order__th">Producto</th>
          <th class="table-order__th">Fecha de Orden</th>
          <th class="table-order__th">Status</th>
        </tr>
      </thead>
      <tbody class="table-order__tbody">
        <tr class="table-order__tr">
          <td class="table-order__td">
            <img
              class="table-order__img"
              loading="lazy"
              src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g"
            />
            <p class="table-order__p">Memoria usb 3 en 1</p>
          </td>
          <td class="table-order__d">01-10-2023</td>
          <td class="table-order__td">
            <span
              class="table-order__span table-order__span--completed status completed"
              >Completado</span
            >
          </td>
        </tr>
        <tr class="table-order">
          <td class="table-order__td">
            <img
              class="table-order__img"
              loading="lazy"
              src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g"
            />
            <p>Pokebola de cristal 3D con luz led</p>
          </td>
          <td class="table-order__td">01-10-2023</td>
          <td class="table-order__td">
            <span
              class="table-order__span table-order__span--pending status pending"
              >Pendiente</span
            >
          </td>
        </tr>
        <tr class="table-order__tr">
          <td class="table-order__td">
            <img
              class="table-order__img"
              loading="lazy"
              src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g"
            />
            <p>Super Mario Smash Bros n64</p>
          </td>
          <td class="table-order__td">01-10-2023</td>
          <td class="table-order__td">
            <span
              class="table-order__span table-order__span--process status process"
              >Procesado</span
            >
          </td>
        </tr>
        <tr class="table-order__tr">
          <td class="table-order__td">
            <img
              class="table-order__img"
              loading="lazy"
              src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g"
            />
            <p>The Legend Of Zelda Ocarina of Time</p>
          </td>
          <td class="table-order__td">01-10-2023</td>
          <td class="table-order__td">
            <span
              class="table-order__span table-order__span--pending status pending"
              >Pendiente</span
            >
          </td>
        </tr>
        <tr class="table-order__tr">
          <td class="table-order__td">
            <img
              class="table-order__img"
              loading="lazy"
              src="https://http2.mlstatic.com/D_NQ_NP_2X_635539-MLM52578829573_112022-F.webp"
            />
            <p>Cartucho Multijuegos Snes 900 En 1 Mario Sunset Riders Zelda</p>
          </td>
          <td class="table-order__td">01-10-2023</td>
          <td class="table-order__td">
            <span
              class="table-order__span table-order__span--completed status completed"
              >Cancelado</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="table-todo grow basis-[300px]">
    <div class="table-data__head head flex items-center gap-4 mb-6">
      <h3 class="table-data__h3 mr-auto text-2xl font-semibold">
        Ventas totales
      </h3>
      <i class="table-data__i bx bx-plus cursor-pointer"></i>
      <i class="table-data__i bx bx-filter cursor-pointer"></i>
    </div>
    <ul class="table-todo__ul todo-list w-full">
      <li
        class="table-todo__li table-todo__li--completed completed w-full mb-4 rounded-xl px-3 py-5 flex justify-between items-center"
      >
        <p>Mercado Libre</p>
        <!-- <i class="table-todo__i bx bx-dots-vertical-rounded"></i> -->
        <span class="text-sm">50%</span>
      </li>
      <li
        class="table-todo__li table-todo__li--completed completed w-full mb-4 rounded-xl px-3 py-5 flex justify-between items-center"
      >
        <p>Amazon</p>
        <!-- <i class="table-todo__i bx bx-dots-vertical-rounded"></i> -->
        <span class="text-sm">30%</span>
      </li>
      <li
        class="table-todo__li table-todo__li--not-completed not-completed w-full mb-4 rounded-xl px-3 py-5 flex justify-between items-center"
      >
        <p>Claroshop</p>
        <!-- <i class="table-todo__i bx bx-dots-vertical-rounded"></i> -->
        <span class="text-sm">15%</span>
      </li>
      <li
        class="table-todo__li table-todo__li--completed completed w-full mb-4 rounded-xl px-3 py-5 flex justify-between items-center"
      >
        <p>Woocommmerce</p>
        <!-- <i class="table-todo__i bx bx-dots-vertical-rounded"></i> -->
        <span class="text-sm">5%</span>
      </li>
      <li
        class="table-todo__li table-todo__li--not-completed not-completed w-full mb-4 rounded-xl px-3 py-5 flex justify-between items-center"
      >
        <p>Otros</p>
        <!-- <i class="table-todo__i bx bx-dots-vertical-rounded"></i> -->
        <span class="text-sm">0%</span>
      </li>
    </ul>
  </div>
</div>

<!-- MAIN -->
