<div class="top-header">
  <div class="home__breadcrumb container-bg">
    <app-breadcrumb
      [breadcrumbHomeItem]="breadcrumbHome"
      [breadcrumbItems]="breadcrumbItems"
    ></app-breadcrumb>
  </div>

  <!-- DETAILS ORDER FOR ALL CHANNEL -->
  <div class="section-details__orders container-bg">
  
      <h2 class="cards__title font-medium text-xl text-white mb-3">Resumen de las Ordenes</h2>

      <div class="cards rounded-2xl">
        <app-card-stat [klassContainer]="'flex items-center justify-center flex-wrap gap-6'" [klassCard]="'lg:w-[20%] md:w-1/2 w-full flex flex-row px-6 py-6 rounded-3xl shadow-md bg-white cursor-pointer'"  [dataCard]="dataOrders"></app-card-stat>
      </div>
    
  <!-- <div class="home__card-stats container-bg">
    <ul class="box-info">
      <li class="box-info__li">
        <i class="box-info__i material-icons">pallet</i>
        <span class="box-info__text">
          <h3 class="box-info__h3">1020</h3>
          <p class="box-info__p">Nuevas ordenes</p>
        </span>
      </li>
      <li class="box-info__li">
        <i class="box-info__i material-icons">supervisor_account</i>
        <span class="box-info__text">
          <h3 class="box-info__h3">2834</h3>
          <p class="box-info__p">Atendidas</p>
        </span>
      </li>
      <li class="box-info__li">
        <i class="box-info__i material-icons">stacked_line_chart</i>
        <span class="box-info__text">
          <h3 class="box-info__h3">$2543</h3>
          <p class="box-info__p">Ventas totales</p>
        </span>
      </li>
    </ul>
  </div>  -->
</div>

</div>
<div class="section-details container-bg my-6">
  <!-- DETAILS MYSELF INVENVENTORY -->
  
    <h2 class="cards__title font-medium text-xl text-slate-900 my-3">Resumen del Inventario</h2>

    <div class="cards">
      <app-card-stat [dataTable]="dataTable" [klassContainer]="'flex flex-wrap gap-6'" [klassCard]="'flex lg:w-[30%] w-full flex flex-row px-6 py-6 rounded-3xl shadow-md bg-white'" [dataCard]="datamyInventory"> </app-card-stat>
    </div>
  </div>

  <div class="container-bg my-6">

  </div>



<!-- TABLE DATA -->
<div class="table-data container-bg">
  <div class="table-data__order order">
    <div class="table-data__head head">
      <h3 class="table-data__h3">Historial de ordenes</h3>
      <i class="table-data__i bx bx-search"></i>
      <i class="table-data__i bx bx-filter"></i>
    </div>
    <table class="table-order">
      <thead class="table-order__thead">
        <tr class="table-order__tr">
          <th class="table-order__th">Producto</th>
          <th class="table-order__th">Fecha de Orden</th>
          <th class="table-order__th">Status</th>
        </tr>
      </thead>
      <tbody class="table-order__tbody">
        <tr class="table-order__tr">
          <td class="table-order__td">
            <img
              class="table-order__img"
              loading="lazy"
              src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g"
            />
            <p class="table-order__p">Memoria usb 3 en 1</p>
          </td>
          <td class="table-order__d">01-10-2023</td>
          <td class="table-order__td">
            <span
              class="table-order__span table-order__span--completed status completed"
              >Completado</span
            >
          </td>
        </tr>
        <tr class="table-order">
          <td class="table-order__td">
            <img
              class="table-order__img"
              loading="lazy"
              src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g"
            />
            <p>Pokebola de cristal 3D con luz led</p>
          </td>
          <td class="table-order__td">01-10-2023</td>
          <td class="table-order__td">
            <span
              class="table-order__span table-order__span--pending status pending"
              >Pendiente</span
            >
          </td>
        </tr>
        <tr class="table-order__tr">
          <td class="table-order__td">
            <img
              class="table-order__img"
              loading="lazy"
              src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g"
            />
            <p>Super Mario Smash Bros n64</p>
          </td>
          <td class="table-order__td">01-10-2023</td>
          <td class="table-order__td">
            <span
              class="table-order__span table-order__span--process status process"
              >Procesado</span
            >
          </td>
        </tr>
        <tr class="table-order__tr">
          <td class="table-order__td">
            <img
              class="table-order__img"
              loading="lazy"
              src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g"
            />
            <p>The Legend Of Zelda Ocarina of Time</p>
          </td>
          <td class="table-order__td">01-10-2023</td>
          <td class="table-order__td">
            <span
              class="table-order__span table-order__span--pending status pending"
              >Pendiente</span
            >
          </td>
        </tr>
        <tr class="table-order__tr">
          <td class="table-order__td">
            <img
              class="table-order__img"
              loading="lazy"
              src="https://http2.mlstatic.com/D_NQ_NP_2X_635539-MLM52578829573_112022-F.webp"
            />
            <p>
              Cartucho Multijuegos Snes 900 En 1 Mario Sunset Riders Zelda</p>
          </td>
          <td class="table-order__td">01-10-2023</td>
          <td class="table-order__td">
            <span
              class="table-order__span table-order__span--completed status completed"
              >Cancelado</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="table-todo todo">
    <div class="table-data__head head">
      <h3 class="table-data__h3">Ventas totales</h3>
      <i class="table-data__i bx bx-plus"></i>
      <i class="table-data__i bx bx-filter"></i>
    </div>
    <ul class="table-todo__ul todo-list">
      <li class="table-todo__li table-todo__li--completed completed">
        <p>Mercado Libre</p>
        <!-- <i class="table-todo__i bx bx-dots-vertical-rounded"></i> -->
        <span class="text-sm">50%</span>
      </li>
      <li class="table-todo__li table-todo__li--completed completed">
        <p>Amazon</p>
        <!-- <i class="table-todo__i bx bx-dots-vertical-rounded"></i> -->
        <span class="text-sm">30%</span>
      </li>
      <li class="table-todo__li table-todo__li--not-completed not-completed">
        <p>Claroshop</p>
        <!-- <i class="table-todo__i bx bx-dots-vertical-rounded"></i> -->
        <span class="text-sm">15%</span>
      </li>
      <li class="table-todo__li table-todo__li--completed completed">
        <p>Woocommmerce</p>
        <!-- <i class="table-todo__i bx bx-dots-vertical-rounded"></i> -->
        <span class="text-sm">5%</span>

      </li>
      <li class="table-todo__li table-todo__li--not-completed not-completed">
        <p>Otros</p>
        <!-- <i class="table-todo__i bx bx-dots-vertical-rounded"></i> -->
        <span class="text-sm">0%</span>

      </li>
    </ul>
  </div>
</div>

<!-- MAIN -->
