<div class="inventory__unstyledContainer">
  <div class="inventory__container">
    <div class="inventory__toolbar sticky top-0 z-10 mb-8">
      <div [style]="{ 'background-color': 'var(--surface-card)' }"
        class="inventory__toolbar-row container p-3 flex items-center justify-between flex-wrap gap-2 mt-8">
        <div class="inventory__toolbar-col flex item-center gap-2">
          <p-checkbox [disabled]="products().length === 0" [binary]="true" inputId="binary"
            [(ngModel)]="isSelectAllProduct" (onChange)="toggleSelectAllProducts()">
          </p-checkbox>

          <div class="inventory__toolbar-separator ml-2 w-[1px] items-stretch block bg-slate-300"></div>
          <div class="w-32">
            @if (selectedProduct.length) {

            <p class="inventory__toolbar-selection-label text-sm text-slate-600">
              {{ selectedProduct.length }} seleccionados
            </p>

            }
          </div>
        </div>

        <div class="inventory__toolbar-col flex item-center gap-2">
          <p-button [style]="{ 'font-size': '14px' }" label="Pausar" [text]="true"
            [disabled]="isBtnActive.pause === false" [severity]="isBtnActive.pause ? 'warning' : 'secondary'">
          </p-button>
          <p-button [style]="{ 'font-size': '14px' }" label="Modificar" [text]="true"
            [disabled]="isBtnActive.modify === false" [severity]="isBtnActive.modify ? 'primary' : 'secondary'">
          </p-button>
          <p-button [style]="{ 'font-size': '14px' }" label="Eliminar" [text]="true"
            [disabled]="isBtnActive.eliminate === false" [severity]="isBtnActive.eliminate ? 'danger' : 'secondary'">
          </p-button>

          @if(isBtnActive.massiveModification) {

          <p-button [style]="{ 'font-size': '14px' }" label="Modificar de manera Masica" [text]="true"
            [disabled]="!isBtnActive.massiveModification" [severity]="
              isBtnActive.massiveModification ? 'primary' : 'secondary'
            ">
          </p-button>
          }
        </div>

        <div class="inventory__toolbar-col flex items-center gap-1">
          <!-- search -->
          <div class="inventory__search flex items-center justify-end gap-1 relative"
            [class.inventory__search-show]="hidenSearch">
            <div #midyv></div>

            <button (click)="showSearch()" severity="success" type="button"
              class="inventory__search-btn-toggle p-ripple p-element p-button p-component p-button-icon-only p-button-rounded p-button-text">
              <span class="p-button-icon pi pi-search" aria-hidden="true"></span>
            </button>

            <div class="inventory__search-wrapper relative flex items-center flex-row flex-nowrap gap-1">
              <span class="inventory__search-span w-[280px] flex items-center justify-end">
                <button (click)="toggleMenuSearch()" (click)="menuS.toggle($event)"
                  class="menuSearchType__btn flex items-center gap-1 text-sm text-slate-500 p-ripple p-element p-button p-component p-button-text p-button-plain">
                  {{ changeLabelBtn }}
                  <i class="pi pi-angle-down"></i>
                </button>

                <input #searchProduct name="inputSearch" [(ngModel)]="inputValue" (input)="onInputChange()"
                  (keyup.enter)="searchRecord(searchProduct.value)" type="text" [placeholder]="changePlaceHolder"
                  pinputtext="" [style]="{ 'font-size': '14px' }"
                  class="inventory__search-input p-inputtext p-component p-element border-none w-full" />

                @if (!showIcon) {
                <i class="inventory__search-i pi pi-search cursor-pointer" (click)="hiddenSearch()">
                </i>
                } @else {
                <i class="inventory__search-i pi pi-times" (click)="clearInput()">
                </i>
                }
              </span>

              <p-menu #menuS [model]="menuToolbar" [popup]="true" [appendTo]="midyv" id="menuToolbar"
                [style]="{ 'font-size': '14px' }"></p-menu>
            </div>
          </div>

          <!-- filter -->
          <p-button icon="pi pi-sliders-v" [rounded]="true" [text]="true" severity="primary"></p-button>
        </div>
      </div>
    </div>

    @switch (statusProducts().status) { @case ('success') { 
      @for (product of products(); track i; let i = $index) {

    <app-card-product [product]="product" [isSelected]="isSelectedEveryProduct[i]"
      (onChangeValue)="toggleEveryProduct($event, i)" [menuProduct]="menuProduct()"
      (emitID)="toggleAccordeon(i, product.id)"
      [productVar]="productsVar()"
      [statusProductVar]="statusProductVars()">
    </app-card-product>
    }

    <div class="inventory__pagination my-8 container">
      <p-paginator [style]="{ 'font-size': '14px' }" [first]="paginationParams.first" [rows]="paginationParams.rows"
        [totalRecords]="totalRecords()" [rowsPerPageOptions]="perPageOptions" (onPageChange)="onPageChange($event)">
      </p-paginator>
    </div>
    } @case ('loading') {

    <div class="loader fixed top-0 left-0 w-full h-screen flex items-center justify-center z-10">
      <div class="loader__mask absolute top-0 left-0 w-full h-screen z-[10]"></div>
      <div class="loader__spiner w-20 h-4 relative z-[11]"></div>
    </div>
    <div class="container mt-4">
      @for (_ of [1, 2, 3]; track _) {
      <div
        class="skeleton__card flex flex-col lg:flex-row gap-1 flex-wrap items-center justify-between p-6 bg-white mt-10">
        <div class="skeleton__col skeleton__col-product flex mb-3">
          <p-skeleton size="4rem" styleClass="mr-2"></p-skeleton>
          <div>
            <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="15rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="5rem"></p-skeleton>
          </div>
        </div>
        <div class="skeleton__col skeleton__col-details flex mb-3">
          <p-skeleton width="30rem" height="6rem" styleClass="mr-2"></p-skeleton>
        </div>
      </div>
      }
    </div>

    } @case('empty') {
    <div class="empty-card container bg-white my-6 py-6">
      <div class="empty-card__image">
        <picture class="empty-card__picture">
          <source srcset="assets/img/svg/NoSearchResult.png" type="image/png" />
          <img src="assets/img/svg/NoSearchResult.png" class="empty-card__img mx-auto max-w-52"
            alt="resultado de busqueda" loading="lazy" />
        </picture>
      </div>
      <div
        class="empty-card__text mx-auto mt-4 bg-white my-6 py-6 flex items-center justify-center gap-1 flex-col shadow shadow-indigo-500/30 rounded-xl">
        <h3 class="empty-card__text-title text-center font-semibold">
          Sin resultados...
        </h3>
        <p class="empty-card__text-p text-center text-slate-600">
          intenta ajustar tu búsqueda para encontrar lo que buscas
        </p>
      </div>
    </div>
    } @case ('error') {
    <div
      class="error-card container bg-white my-6 py-6 flex items-center justify-center gap-1 flex-col shadow shadow-indigo-500/30 rounded-xl">
      <img src="assets/img/svg/internal_error.svg" class="max-w-72 max-h-72 w-full h-full" alt="error" />

      <h2 class="lg:text-xl text-lg font-semibold text-slate-600 text-center">
        {{ statusInfoProducts()?.titleError }}
      </h2>

      <p class="text-base text-slate-700 text-center">
        {{ statusInfoProducts()?.summaryError }}
      </p>
    </div>
    } }
  </div>
</div>