@import "_mixin";


.expansion-panel {
 
    &-header {
    
        // cursor: pointer;
        // @include flexible(flex, row, nowrap, space-between, center);
        // gap: 1em;
        overflow: hidden;


        &__title {
            flex-grow: 1;
        }
        
       
        // &__icon {
        //     @include flexible(flex, column, nowrap, center, center);
        // }


        &__i {
          
            transition: transform 0.35s ease;
        }
        &__i.animateArrow {
            transform: rotate(180deg);
          

        }

    }


    
}

.expansion-panel-header.expanded {
    border-bottom: 1px solid #e5e5e5;

}

.expansion-panel-header.expanded + .expansion-panel__body {
    pointer-events: auto;
    visibility: visible;
    margin-top: 12px;
}



