<section class="contenedor">
  <section class="sidebar" [class.hide-sidebar]="toggleSidebar">
    <div class="sidebar-head">
      <div class="sidebar-head__user">
        <img src="assets/img/profile-example.webp" class="sidebar-head__img" loading="lazy" alt="profile" />
      </div>

      <div class="sidebar-head__details">
        <p class="sidebar-head__title">Web developer</p>
        <p class="sidebar-head__name">Jong SanR.</p>
      </div>
    </div>

    <div class=" sidebar__contain">
      <div class="sidebar__content">
        <div class="sidebar-toggle">
          <i #arrow (click)="addToggle()" class="material-icons sidebar-toggle__i">chevron_left</i>
        </div>

        <div class="sidebar-section">
          <p class="sidebar-section__p">Main</p>

          <ul class="sidebar__ul">
          
            <li class="sidebar__li">
              <a routerLink="/dashboard/home" routerLinkActive="isActive" class="sidebar__a">
                <i class="material-icons sidebar__icon">home</i>
                <span class="sidebar__span sidebar__label">Home</span>
              </a>
            </li>

            <!--OPEN MIS TIENDAS -->
            <li class="sidebar__li">
              <button type="button" #menu class="sidebar__btn sidebar__btn--menu" (click)="toggleMenu()">
              
                <div class="sidebar__option">
                  <i class="material-icons sidebar__icon">store</i>
                  <span class="sidebar__span sidebar__label">Mis Tiendas</span>
                </div>
                <i class="material-icons sidebar__arrow" [class.moveArrow]="isOpenMenu">navigate_next</i>
              </button>

              <ul class="sidebar-menu sidebar-dropdown" *ngIf="isOpenMenu" [class.show-submenu]="isOpenMenu">
                <!-- AMAZON -->
                <li class="sidebar__li">
                  <button type="button" class="sidebar__btn sidebar__btn--menu" (click)="toggleSubMenu(10)">

                    <div class="sidebar__option">
                      <i class="material-icons sidebar__icon">storefront</i>
                      <span class="sidebar__span">Amazon</span>
                    </div>
                    <i class="material-icons sidebar__arrow" [class.moveArrow]="activeSubmenu === 10">navigate_next</i>
                  </button>

                  <!-- SUBMENU AMAZON -->
                  <ul class="sidebar-submenu sidebar-menu" [class.show-submenu]="activeSubmenu === 10">
                    <li class="sidebar__li">
                      <a routerLink="/dashboard/wocommerce/productos" class="sidebar__a">
                        <i class="material-icons sidebar__icon">inventory</i>
                        <span class="sidebar__span">Inventario</span>
                      </a>
                    </li>

                    <li class="sidebar__li">
                      <a routerLink="/dashboard/wocommerce/pedidos" class="sidebar__a">
                        <i class="material-icons sidebar__icon">local_mall</i>
                        <span class="sidebar__span">Pedidos</span>
                      </a>
                    </li>

                    <li class="sidebar__li">
                      <a href="" class="sidebar__a">
                        <i class="material-icons sidebar__icon">group</i>
                        <span class="sidebar__span">Clientes</span>
                      </a>
                    </li>

                    <li class="sidebar__li">
                      <a href="" class="sidebar__a">
                        <i class="material-icons sidebar__icon">stacked_bar_chart</i>
                        <span class="sidebar__span">Reportes</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <!-- CLARO SHOP -->
                <li class="sidebar__li">
                  <button type="button" class="sidebar__btn sidebar__btn--menu" (click)="toggleSubMenu(11)">
                    <div class="sidebar__option">
                      <i class="material-icons sidebar__icon">storefront</i>
                      <span class="sidebar__span">Claro Shop</span>
                    </div>
                    <i class="material-icons sidebar__arrow">navigate_next</i>
                  </button>

                    <!-- SUBMENU CLAROSHOP -->
                    <ul class="sidebar-submenu sidebar-menu" [class.show-submenu]="activeSubmenu === 11">
                      <li class="sidebar__li">
                        <a routerLink="/dashboard/claroshop/inventario" class="sidebar__a">
                          <i class="material-icons sidebar__icon">inventory</i>
                          <span class="sidebar__span">Inventario</span>
                        </a>
                      </li>
  
                      <li class="sidebar__li">
                        <a routerLink="/dashboard/claroshop/pedidos" class="sidebar__a">
                          <i class="material-icons sidebar__icon">local_mall</i>
                          <span class="sidebar__span">Pedidos</span>
                        </a>
                      </li>
  
                      <li class="sidebar__li">
                        <a href="" class="sidebar__a">
                          <i class="material-icons sidebar__icon">group</i>
                          <span class="sidebar__span">Clientes</span>
                        </a>
                      </li>
  
                      <li class="sidebar__li">
                        <a href="" class="sidebar__a">
                          <i class="material-icons sidebar__icon">stacked_bar_chart</i>
                          <span class="sidebar__span">Reportes</span>
                        </a>
                      </li>
                    </ul>
                </li>
                <!-- MERCADO LIBRE -->
                <li class="sidebar__li">
                  <button type="button" class="sidebar__btn sidebar__btn--menu" (click)="toggleSubMenu(12)" routerLinkActive="isActive">
                    <div class="sidebar__option">
                      <i class="material-icons sidebar__icon">storefront</i>
                      <span class="sidebar__span">Mercado Libre</span>
                    </div>
                    <i class="material-icons sidebar__arrow">navigate_next</i>
                  </button>

                     <!-- SUBMENU MERCADO LIBRE -->
                     <ul class="sidebar-submenu sidebar-menu" [class.show-submenu]="activeSubmenu === 12">
                      <li class="sidebar__li">
                        <a routerLink="/dashboard/wocommerce/productos" class="sidebar__a">
                          <i class="material-icons sidebar__icon">inventory</i>
                          <span class="sidebar__span">Inventario</span>
                        </a>
                      </li>
  
                      <li class="sidebar__li">
                        <a href="" class="sidebar__a">
                          <i class="material-icons sidebar__icon">local_mall</i>
                          <span class="sidebar__span">Pedidos</span>
                        </a>
                      </li>

                      <li class="sidebar__li">
                        <a href="" class="sidebar__a">
                          <i class="material-icons sidebar__icon">group</i>
                          <span class="sidebar__span">Preguntas</span>
                        </a>
                      </li>
  
                      <li class="sidebar__li">
                        <a href="" class="sidebar__a">
                          <i class="material-icons sidebar__icon">group</i>
                          <span class="sidebar__span">Clientes</span>
                        </a>
                      </li>
  
                      <li class="sidebar__li">
                        <a href="" class="sidebar__a">
                          <i class="material-icons sidebar__icon">stacked_bar_chart</i>
                          <span class="sidebar__span">Reportes</span>
                        </a>
                      </li>
                    </ul>
                </li>
                <!-- WOCOMMERCE -->
                <li class="sidebar__li">
                  <button type="button" class="sidebar__btn sidebar__btn--menu" (click)="toggleSubMenu(13)">
                   
                    <div class="sidebar__option">
                      <i class="material-icons sidebar__icon">storefront</i>
                      <span class="sidebar__span">Woocommerce</span>
                    </div>
                    <i class="material-icons sidebar__arrow" [class.moveArrow]="activeSubmenu === 13">navigate_next</i>
                  </button>

                  <ul #submenu class="sidebar-submenu sidebar-menu" [class.show-submenu]="activeSubmenu === 13">
                    <li class="sidebar__li">
                      <a routerLink="/dashboard/woocommerce/inventario" routerLinkActive="isActive"
                        class="sidebar__a">
                        <i class="material-icons sidebar__icon">inventory</i>
                        <span class="sidebar__span">Inventario</span>
                      </a>
                    </li>

                    <li class="sidebar__li">
                      <a routerLink="/dashboard/woocommerce/pedidos" class="sidebar__a">
                        <i class="material-icons sidebar__icon">local_mall</i>
                        <span class="sidebar__span">Pedidos</span>
                      </a>
                    </li>

                    <li class="sidebar__li">
                      <a href="" class="sidebar__a">
                        <i class="material-icons sidebar__icon">group</i>
                        <span class="sidebar__span">Clientes</span>
                      </a>
                    </li>

                    <li class="sidebar__li">
                      <a href="" class="sidebar__a">
                        <i class="material-icons sidebar__icon">stacked_bar_chart</i>
                        <span class="sidebar__span">Reportes</span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
              <!-- CLOSE MIS TIENDAS -->

            <li class="sidebar__li">
              <button type="button" class="sidebar__btn">
                <i class="material-icons sidebar__icon">point_of_sale</i>
                <span class="sidebar__span sidebar__label">Ventas</span>
              </button>
            </li>

            <li class="sidebar__li">
              <a href="" class="sidebar__a">
                <i class="material-icons sidebar__icon">inventory_2</i>
                <span class="sidebar__span sidebar__label">Inventario</span>
              </a>
            </li>

            <li class="sidebar__li">
              <a href="" class="sidebar__a">
                <i class="material-icons sidebar__icon">description</i>
                <span class="sidebar__span sidebar__label">Reportes</span>
              </a>
            </li>

            <li class="sidebar__li">
              <a href="" class="sidebar__a">
                <i class="material-icons sidebar__icon">forum</i>
                <span class="sidebar__span sidebar__label">Mensajes</span>
              </a>
            </li>
            <li class="sidebar__li">
              <a href="" class="sidebar__a">
                <i class="material-icons sidebar__icon">local_shipping</i>
                <span class="sidebar__span sidebar__label">Envios</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="sidebar-section">
          <p class="sidebar-section__p">Ayuda</p>

          <ul class="sidebar__ul">
            <li class="sidebar__li">
              <a href="" class="sidebar__a">
                <i class="material-icons sidebar__icon">contact_support</i>
                <span class="sidebar__span sidebar__label">Ayuda</span>
              </a>
            </li>

            <li class="sidebar__li">
              <a href="" class="sidebar__a">
                <i class="material-icons sidebar__icon">contacts</i>
                <span class="sidebar__span sidebar__label">Contacto</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="sidebar-section">
          <p class="sidebar-section__p">Otros</p>

          <ul class="sidebar__ul">
            <li class="sidebar__li">
              <a href="" class="sidebar__a">
                <i class="material-icons sidebar__icon">settings</i>
                <span class="sidebar__span sidebar__label">Configuraciones</span>
              </a>
            </li>

            <li class="sidebar__li">
              <button type="button" (click)="cerrarSesion()" class="sidebar__btn">
                <i class="material-icons sidebar__icon">logout</i>
                <span class="sidebar__span sidebar__label">Cerra sesion</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- SIDEBAR -->

  <!-- CONTENT -->
  <section id="content" class="content" #content>
    <!-- NAVBAR -->
    <nav class="nav">
      <!-- <i (click)="addToggle()" class='nav__i--menu material-icons' >grid_view</i> -->

      <form class="nav-form">
        <div class="nav-form__box form-input">
          <input class="nav-form__input" type="text" name="search" pInputText placeholder="buscar producto..." #searchProduct />
          <button class="nav-form__btn search-btn" type="button" pButton icon="pi pi-search"></button>
          <!-- <input class="nav-form__input" type="search" placeholder="Search...">
        <button type="button" class="nav-form__btn search-btn"><i class='bx bx-search'></i></button> -->
        </div>
      </form>
      <div class="nav-right">
        <div class="nav-right__message" (click)="op.toggle($event)" pTooltip="Mensajes" tooltipPosition="bottom">
          <i class="pi pi-comment text-3xl nav-right__i" pBadge [value]="'+10'" severity="danger"></i>

          <p-overlayPanel #op>
            <h4 class="message-tienda__title">
              Tienes 10 mensajes de tus compradores
            </h4>
            <p-divider></p-divider>

            <div *ngFor="let message of messageUser" class="message-tienda">
              <a href="#" class="message-tienda__a">
                <div class="message-tienda__image">
                  <img [src]="message.avatar" class="message-tienda__img" alt="" />
                </div>

                <div class="message-tienda__information">
                  <h5 class="message-tienda__h5">{{ message.user }}</h5>
                  <p class="message-tienda__p">{{ message.description }}</p>
                  <span class="message-tienda__time">
                    {{ date | date : "mediumTime" }}
                  </span>
                </div>
              </a>
            </div>
            <p-divider></p-divider>

            <a class="message-tienda__more" href="#">Ver todos los mensajes ></a>
          </p-overlayPanel>
        </div>

        <div class="nav-right__notification" pTooltip="Notificaciones" tooltipPosition="bottom">
          <i #btnNotf (click)="toggleNotf()" class="pi pi-bell text-3xl nav-right__i" pBadge value="2"></i>

          <!-- [ngClass]="showNotf === true ? 'show' : '' " -->
          <div #notfContainer class="notf" (click)="closeNotf()">
            <div class="notf-header">
              <i class="notf-header__i material-icons">notifications_active</i>
              <h3 class="notf-header__h3">Notificaciones nuevas</h3>
            </div>
            <p-divider></p-divider>

            <ul class="notf__ul">
              <li class="notf__li">
                <div class="notf__info">
                  <h6 class="notf__h6">
                    <i class="notf__i pi pi-check-circle"></i>
                    Se ha realizado una venta
                  </h6>

                  <p class="notf__p">
                    Se vendio (x2) <strong class="notf__strong">Juego</strong>,
                    Zelda Majora mask, en Mercado Libre, atiendalo ahora.
                  </p>

                  <span class="notf__p notf__span"> 9:00 AM </span>

                  <p-button class="notf__btn" icon="pi pi-thumbs-up"
                    styleClass="p-button-rounded p-button-info"></p-button>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="nav-right__profile" pTooltip="Mi perfil" tooltipPosition="bottom">
          <p-avatar class="nav-right__i" (click)="profile.toggle($event)"
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" size="large"
            shape="circle"></p-avatar>

          <p-overlayPanel #profile>
            <h4>Perfil</h4>
            <p-divider></p-divider>

            <ul class="nav-right-profile__ul">
              <li *ngFor="let item of menuProfile" class="nav-right-profile__li">
                <a class="nav-right-profile__a">
                  <i class="nav-right-profile__i material-icons">{{
                    item.icon
                    }}</i>
                  <span class="nav-right-profile__span">{{ item.label }}</span>
                </a>
              </li>
            </ul>
          </p-overlayPanel>
        </div>
      </div>
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main class="main">
      <router-outlet></router-outlet>
    </main>
    <!-- MAIN -->
  </section>
  <!-- CONTENT -->

  <div class="theme">
    <i class="theme__i material-icons" (click)="sidebarVisible = true">settings</i>
  </div>
</section>
<p-sidebar [(visible)]="sidebarVisible" [baseZIndex]="50" position="right">
  <h3>Elige un tema:</h3>

  <div class="theme__content">
    <h4>Temas Claros</h4>
    <div class="theme__card card">
      <div class="col-3 flex flex-column align-item-center gap-2">
        <button (click)="changeTheme('purple')" class="mr-3 cursor-pointer">
          <img class="theme__img" src="assets/img/themes/saga-blue.png" width="50" />
        </button>

        <span class="white-sapce-nowrap theme__span">Purple</span>
      </div>

      <div class="col-3 flex flex-column align-item-center gap-2">
        <button (click)="changeTheme('light-deeppurple')" class="mr-3 cursor-pointer">
          <img class="theme__img" src="assets/img/themes/vela-blue.png" width="50" />
        </button>

        <span class="white-sapce-nowrap theme__span">Deep Purple</span>
      </div>

      <div class="col-3 flex flex-column align-item-center gap-2">
        <button (click)="changeTheme('lara-light-indigo')" class="mr-3 cursor-pointer">
          <img class="theme__img" src="assets/img/themes/arya-blue.png" width="50" />
        </button>
        <span class="white-sapce-nowrap theme__span">Lara Indigo</span>
      </div>

      <div class="col-3 flex flex-column align-item-center gap-2">
        <button (click)="changeTheme('saga-blue')" class="mr-3 cursor-pointer">
          <img class="theme__img" src="assets/img/themes/md-light-indigo.svg" width="50" />
        </button>
        <span class="white-sapce-nowrap theme__span">Soho Light</span>
      </div>
    </div>
  </div>

  <div class="theme__content">
    <h4>Temas Oscuros</h4>
    <div class="theme__card card">
      <div class="col-3 flex flex-column align-item-center gap-2">
        <button (click)="changeTheme('boostrap-dark-blue')" class="mr-3 cursor-pointer">
          <img class="theme__img" src="assets/img/themes/saga-blue.png" width="50" />
        </button>

        <span class="white-sapce-nowrap theme__span">Saga blue</span>
      </div>

      <div class="col-3 flex flex-column align-item-center gap-2">
        <button (click)="changeTheme('lara-dark-indigo')" class="mr-3 cursor-pointer">
          <img class="theme__img" src="assets/img/themes/vela-blue.png" width="50" />
        </button>

        <span class="white-sapce-nowrap theme__span">Vela blue</span>
      </div>

      <div class="col-3 flex flex-column align-item-center gap-2">
        <button (click)="changeTheme('vela-blue')" class="mr-3 cursor-pointer">
          <img class="theme__img" src="assets/img/themes/arya-blue.png" width="50" />
        </button>
        <span class="white-sapce-nowrap theme__span">Arya blue</span>
      </div>
    </div>
  </div>
</p-sidebar>