<app-breadcrumb>

    <ul title class="breadcrumb__ul">

        <li class="breadcrumb__li">
            <h6 class="breadcrumb__h6">Dashboard ></h6>
        </li>

        <li class="breadcrumb__li">
            <i class="breadcrumb__i material-icons">storefront</i>
            <h6 class="breadcrumb__h6">Woocommerce</h6>
            <span class="breadcrumb__span"> > </span>

        </li>

        <li class="breadcrumb__li breadcrumb__link">
            <i class="breadcrumb__i material-icons">pallet</i>
            <a routerLink="/dashboard/wocommerce/ordenes" class="breadcrumb__a">
                Pedidos</a>
        </li>
    </ul>
</app-breadcrumb>


<div class="order-statistics">

    <div class="order-statistics__content section">

        <div class="order-statistics__card">
            <a class="order-statistics__title" routerLink="/dashboard/woocommerce/ordenes/pendientes">
                <span class="order-statistics__status">En preparación</span>
                <span *ngIf="!statusOrderPending" class="order-statistics__value">{{ pendingOrdersCount }} ventas</span>
                <p-skeleton *ngIf="statusOrderPending"  width="8rem" styleClass="mt-2"></p-skeleton>
            </a>
        </div>

        <div class="order-statistics__card">
            <div class="order-statistics__title">
                <span class="order-statistics__status">En transito</span>
                <span *ngIf="!statusOrderProcess" class="order-statistics__value">{{ processingOrdersCount }} ventas</span>
                <p-skeleton *ngIf="statusOrderProcess" width="10rem" styleClass="mt-2"></p-skeleton>

            </div>
        </div>

        <a class="order-statistics__card" routerLink="/dashboard/woocommerce/ordenes/concretadas">
            <div class="order-statistics__title">
                <span class="order-statistics__status">Concretadas</span>
                <span *ngIf="!statusOrderCompleted" class="order-statistics__value">{{ completedOrdersCount }} ventas</span>
                <p-skeleton *ngIf="statusOrderCompleted"  width="8rem" styleClass="mt-2"></p-skeleton>

            </div>
        </a>

        <div class="order-statistics__card" routerLink="/dashboard/woocommerce/ordenes/falladas">
            <a class="order-statistics__title">
                <span class="order-statistics__status">No concretadas</span>
                <span *ngIf="!statusOrderFailed" class="order-statistics__value">{{ cancelledOrdersCount }} ventas</span>
                <p-skeleton *ngIf="statusOrderFailed"  width="8rem" styleClass="mt-2"></p-skeleton>

            </a>
        </div>
    </div>

</div>

<router-outlet></router-outlet>

<!-- <div class="order-table section" [ngSwitch]="statusData">

    <div class="order-search">
        
            <div class="order-search__left">
              
                <span class="order-search__content">
                    <i class="order-search__icon order-search__icon-1 pi pi-search"></i>
                    <input [(ngModel)]="searchTerm" name="searchText" class="order-search__input" type="text" pInputText />
                    <i class="order-search__icon order-search__icon-2 pi pi-info-circle" pTooltip="Busca por # venta, producto o nombre de la persona que lo compro"></i>
                </span>
            </div>

            <div class="order-search__right">
                <span class="order-search__span">{{orders.length}} ventas</span>
            </div>

    </div>

        <ng-template #data ngSwitchCase="success">

            <app-table-pedidos *ngFor="let order of orders | filterOrder:searchTerm">
        
                <div class="order-header__left">
                    <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
    
                    <h3 class="order-header__h3">
                       #{{ order.id_order}}
                    </h3>
    
                    <span class="order-header__span">|</span>
    
                    <span class="order-header__span">
                       {{ order.date_created}}
                    </span>
                </div>
    
                <div class="order-header__right">
                    <h3 class="order-header__h3">
                        {{ order.first_name}} {{order.last_name}}
                     </h3>
     
                     <span class="order-header__span">|</span>
     
                     <h3 class="order-header__h3">
     
                         {{order.status}}
                     </h3>
     
                </div>
    
                <div class="order-content-left__info">
                    <div class="order-date">
    
                        <span *ngIf="order.status === 'completed' " class="order__status order__status--completed">
                           {{order.status}}
                        </span>

                        <span *ngIf="order.status === 'failed' " class="order__status order__status--failed">
                            {{order.status}}
                         </span>
    
                   
                    </div>

                    <div class="order-product">
    
                        <img [src]="order.img" alt="" class="order-product__img" loading="lazy">
    
                        <div class="order-product__content">
                          
                            <a class="order-product__a" href="#">{{order.product}}</a>
                            <span class="order-product__span"> {{order.sku}}</span>
                        </div>
                    </div>
                </div>
    
                <div class="order-content-center__price">
                   
                        <span class="order-quantity__span">{{ order.price }}</span>
                        <span class="order-quantity__span">|</span>
                        <span class="order-quantity__span">{{order.quantity}} unidad</span>
        
                   
                </div>
    
                <div class="order-content-right__actions">
                    <p-button label="Ver pedido" ></p-button>
    
                </div>
    
            </app-table-pedidos>
        </ng-template>

            <ng-template #dataLoading ngSwitchCase="loading">
        <app-loading-table></app-loading-table>
    </ng-template>

     
    <ng-template  #dataError ngSwitchCase="error">
        <app-error-message [titleError]="titleError" [DetailError]="detailsError"></app-error-message>
     </ng-template>
    </div> -->

  

 

