<!-- <app-breadcrumb>

    <ul title class="breadcrumb__ul">

        <li class="breadcrumb__li">
            <h6 class="breadcrumb__h6">Dashboard ></h6>
        </li>

        <li class="breadcrumb__li">
            <i class="breadcrumb__i material-icons">storefront</i>
            <h6 class="breadcrumb__h6">Woocommerce</h6>
            <span class="breadcrumb__span"> > </span>

        </li>

        <li class="breadcrumb__li breadcrumb__link">
            <i class="breadcrumb__i material-icons">pallet</i>
            <a routerLink="/dashboard/wocommerce/ordenes" class="breadcrumb__a">
                Pedidos</a>
        </li>
    </ul>
</app-breadcrumb> -->


<div class="container order-quantity">
    <app-orders-quantity-card [status]="'En proceso de pago'" [routerLink]="['/dashboard/woocommerce/ordenes', 'pendientes']" [count]="pendingOrdersCount" [isLoading]="status.pending"></app-orders-quantity-card>
    <app-orders-quantity-card [status]="'En Preparación'" [routerLink]="['/dashboard/woocommerce/ordenes', 'pendientes']" [count]="pendingOrdersCount" [isLoading]="status.pending"></app-orders-quantity-card>
    <app-orders-quantity-card [status]="'No Concretadas'" [routerLink]="['/dashboard/woocommerce/ordenes', 'pendientes']" [count]="processingOrdersCount" [isLoading]="status.shipped"></app-orders-quantity-card>
    <app-orders-quantity-card [status]="'Concretadas'" [routerLink]="['/dashboard/woocommerce/ordenes', 'concretadas']" [count]="completedOrdersCount" [isLoading]="status.completed"></app-orders-quantity-card>
</div>

<router-outlet></router-outlet>

