<div class="order-table section" [ngSwitch]="statusData">

    <div class="order-search">
        
            <div class="order-search__left">
              
                <span class="order-search__content">
                    <i class="order-search__icon order-search__icon-1 pi pi-search"></i>
                    <input [(ngModel)]="searchTerm" name="searchText" class="order-search__input" type="text" pInputText />
                    <i class="order-search__icon order-search__icon-2 pi pi-info-circle" pTooltip="Busca por # venta, producto o nombre de la persona que lo compro"></i>
                </span>
            </div>

            <div class="order-search__right">
                <span class="order-search__span">6 ventas</span>
            </div>

    </div>

        <ng-template #data ngSwitchCase="success">

            <app-table-pedidos *ngFor="let order of completedOrders | filterOrder:searchTerm">
        
                <div class="order-header__left">
                    <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
    
                    <h3 class="order-header__h3">
                       #{{ order.id_order}}
                    </h3>
    
                    <span class="order-header__span">|</span>
    
                    <span class="order-header__span">
                       {{ order.date_created}}
                    </span>
                </div>
    
                <div class="order-header__right">
                    <h3 class="order-header__h3">
                        {{ order.first_name}} {{order.last_name}}
                     </h3>
     
                     <span class="order-header__span">|</span>
     
                     <h3 class="order-header__h3">
     
                         {{order.status}}
                     </h3>
     
                </div>
    
                <div class="order-content-left__info">
                    <div class="order-date">
    
                        <span *ngIf="order.status === 'completed' " class="order__status order__status--completed">
                           {{order.status}}
                        </span>

                        <span *ngIf="order.status === 'failed' " class="order__status order__status--failed">
                            {{order.status}}
                         </span>
    
                      
                    </div>

                    <div class="order-product">
    
                        <img [src]="order.img" alt="" class="order-product__img" loading="lazy">
    
                        <div class="order-product__content">
                          
                            <a class="order-product__a" href="#">{{order.product}}</a>
                            <span class="order-product__span"> {{order.sku}}</span>
                        </div>
                    </div>
                </div>
    
                <div class="order-content-center__price">
                   
                        <span class="order-quantity__span">{{ order.price }}</span>
                        <span class="order-quantity__span">|</span>
                        <span class="order-quantity__span">{{order.quantity}} unidad</span>
        
                   
                </div>
    
                <div class="order-content-right__actions">
                    <p-button label="Ver pedido" ></p-button>
    
                </div>
    
            </app-table-pedidos>
        </ng-template>

            <ng-template #dataLoading ngSwitchCase="loading">
        <app-loading-table></app-loading-table>
    </ng-template>

     
    <ng-template  #dataError ngSwitchCase="error">
        <app-message [titleError]="titleError" [DetailError]="messageError"></app-message>
     </ng-template>
    </div> 
