<div class="top-header">
  <div class="top-header__content container">
    <div class="top-header__row top-header__row-breadcrumb">
      <app-breadcrumb
        [breadcrumbHomeItem]="BreadcrumbHome"
        [breadcrumbItems]="breadcrumbItems">
      </app-breadcrumb>
    </div>

    <div class="top-header__row top-header__row-text flex flex-row items-start justify-between gap-y-2">
      <div class="top-header__col">
        <h1 class="top-header__h1 text-3xl font-bold text text-white">Inventario</h1>
        <span class="top-header__span text-white">26 productos</span>
      </div>

      <div class="top-header__col">
        <p-button
          icon="pi pi-plus"
          [style]="{ 'font-size': '14px', padding: '0.5em 0.6em' }"
          label="Agregar producto"
          severity="success"
        >
        </p-button>
      </div>
    </div>
  </div>
</div>

<app-card-search [isDisabled]="products.length ===0" [isOptionActive]="handlerOptionBtn">
  <ng-container #contentLeft>
    <p-checkbox
    [binary]="true"
    [disabled]="products.length === 0"
    inputId="binary"
    [(ngModel)]="isSelectAllProduct"
    (onChange)="toggleSelectAllProducts()">
  </p-checkbox>

  <span class="toolbar-actions__separator"> </span>

  <div class="w-32">
  @if (selectedProduct.length) {

      <p class="toolbar-actions__selection-label">
        {{ selectedProduct.length }} seleccionados
      </p>
      
    }
  </div>
  </ng-container>
  
</app-card-search>

@switch (statusData) { 
  @case('success') {
<p-toast></p-toast>

<div class="claro-inventario">
  @for (product of products; let i = $index; track product.transactionid) {
  <app-card-product [outOfStock]="product.estatus === 'inactivo'">
    <p-checkbox
      [binary]="true"
      inputId="checkProduct {{i}}}"
      handlerCheckProduct
      [value]="product"
      [(ngModel)]="isSelectedEveryProduct[i]"
      (onChange)="toggleEveryProduct(product)"
    ></p-checkbox>
    <span
      class="product-card__actions-id text-sm font-bold text-slate-600"
      idProduct
      >#{{ product.transactionid }}</span
    >

    <div
      class="product-card__product flex flex-col lg:flex-row items-start lg:items-center justify-start gap-4"
    >
      <div class="product-card__toggle-btn">
        <p-button
          icon="pi pi-angle-down"
          [rounded]="true"
          [text]="true"
          severity="primary"
        ></p-button>
      </div>

      <div class="product-card__description gap-2 mb-6 lg:mb-0">
        <div class="product-card__sku text-xs">
          #{{ product.transactionid }} | ean: {{ product.skupadre }}
        </div>
        <a href="#" class="product-card__link-product">
          <div class="product-card__name text-sm font-bold">
            {{ product.nombre | slice : 0 : 61 }}
          </div>
        </a>
        <div
          class="product-card__store product-card__store-claroshop text-xs font-bold rounded-md inline py-1 px-2"
        >
          ClaroShop
        </div>
      </div>
    </div>

    <div
      class="product-card__details-col flex flex-col flex-wrap gap-y-2 lg:gap-y-1.5"
    >
      <span class="text-sm font-semibold">
        {{ product.precio | currency }}</span
      >
      <span class="product-card__label text-xs">precio regular</span>
      <a href="#" class="product-card__a product-card__a text-xs"
        >Modificar precio</a
      >
    </div>

    <div
      class="product-card__details-col product-card__channel flex flex-col flex-nowrap gap-y-2 lg:gap-y-1.5"
    >
      <span class="text-sm font-semibold">{{
        product.fulfillment ? "Si" : "No"
      }}</span>
      <div class="text-xs flex nowrap flex-row items-start gap-1 bg-green-100 py-1 px-2 rounded-md">
        <span class="text-sm font-bold text-green-700">Full</span>
        <i class="product-card__icon pi pi-bolt font-bold text-green-700"></i>
      </div>
    </div>

    <div
      class="product-card__details-col product-card__skuPadre flex flex-col flex-nowrap gap-y-2 lg:gap-y-1.5"
    >
      <span class="text-sm font-semibold">{{ product.skupadre }}</span>
      <span class="text-xs">Sku</span>
    </div>

    <div
      class="product-card__details-col flex flex-col flex-wrap gap-y-2 lg:gap-y-1.5"
    >
      <span class="product-card__isActive-product text-sm font-semibold">
        {{ product.estatus.toString() === "activo" ? "Activo" : "Inactivo" }}
      </span>
      <p-inputSwitch
        [name]="product.skupadre"
        inputId="inputSwitchProduct {{ product.skupadre }}"
        [trueValue]="product.estatus.toString() === 'inactivo'"
        [disabled]="true"
        [readonly]="true"
      ></p-inputSwitch>
    </div>
  </app-card-product>
  }

  <p-paginator
          [style]="{ 'font-size': '14px' }"
          [first]="paginationParams.first"
          [rows]="paginationParams.per_page"
          [totalRecords]="paginationParams.totalRecords ? paginationParams.totalRecords : 0"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[5, 10, 20, 40, 50]"
          currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros"
          (onPageChange)="onPageChange($event)"
          >
  </p-paginator>
</div>

} 
@case('loading') {
  <div class="container mt-4">
    @for (_ of [1, 2, 3, 4, 5]; track _) {
    <div class="skeleton__card">
      <div class="skeleton__col skeleton__col-product flex mb-3">
        <p-skeleton size="4rem" styleClass="mr-2"></p-skeleton>
        <div>
          <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
          <p-skeleton width="15rem" styleClass="mb-2"></p-skeleton>
          <p-skeleton width="5rem"></p-skeleton>
        </div>
      </div>
      <div class="skeleton__col skeleton__col-details flex mb-3">
        <p-skeleton width="30rem" height="6rem" styleClass="mr-2"></p-skeleton>
      </div>
    </div>
    }
  </div>
}

}
