@import "mixin";

//? ============ Table productos ============

.list-products {
margin: 1em auto;
  &__header {
    background-color: lightcoral;
    @include flexible(flex, row, nowrap, space-between, center);
    gap: 1em;
    &-col {

    }
  }

  &__card{
    background-color: var(--surface-card);
  }
}
