<div class="top-header">
  <div class="top-header__content container">
    <app-breadcrumb
      [breadcrumbHomeItem]="breadcrumHome"
      [breadcrumbItems]="breadcrumbItems"
    ></app-breadcrumb>
  </div>
</div>

<div class="wcproduct container">
  <p-toast position="top-center" key="tc"></p-toast>
  <div class="wcproduct__left">
    <form action="#" class="wcform mx-auto" [formGroup]="formProduct">
      <div class="wc-product__back flex items-stretch gap-4 mt-3 mb-10">
        <p-button
          icon="pi pi-arrow-left"
          [rounded]="false"
          [text]="true"
          [raised]="true"
          severity="info"
        ></p-button>
        <div class="wc-product__back-text">
          <p class="text-slate-600 text-xs">Regresar a Inventario</p>
          <h5 class="text-stone-700 font-semibold text-xl">Editar Producto</h5>
        </div>
      </div>

      <div class="wcform__container">
        <div
          class="wcform__title flex flex-row flex-wrap lg:flex-nowrap justify-between items-center gap-1 px-6 py-8"
        >
          <div class="wcform__details">
            <span
              class="form__store font-semibold text-sm bg-indigo-100 text-indigo-700 px-4 py-1 mb-2 inline-block rounded-lg"
              >Woocommerce</span
            >
            <div class="wcform__detail mb-2">
              <a class="wcform__a text-slate-700 font-bold text-2xl" href="#">{{
                wcProduct.name
              }}</a>
            </div>
            <div class="wcform__detail mb-2">
              <span class="wcform__span text-base mb-2 block" href="#"
                >#1345805537</span
              >
              <p class="wcform__p text-sm" href="#">
                Unidades vendidas:
                <span class="">{{ wcProduct.total_sales }}</span>
              </p>
            </div>
          </div>
          <div class="wcform__image">
            <img
              [src]="wcProduct.images![0].src"
              class="form__img w-32 h-32 mix-blend-multiply"
              alt=""
            />
          </div>
        </div>

        <div class="section-product px-6 py-8">
          <h3 class="text-2xl font-bold text-slate-500 py-3">
            Datos basicos del producto 📓
          </h3>

          <div class="section-product__content">
            <app-expansion-panel
              [label]="'Titulo'"
              [isValid]="verifyField('name', wcProduct.name)"
              [propertyProduct]="wcProduct.name"
              [propertytoRequire]="
                'Incluye producto, marca, modelo y caraterísticas principales'
              "
              [activeAccordeon]="1"
              (updateProduct)="updateField('name')"
            >
              <div
                class="expansion-panel__content flex flex-col gap-3 items-start justify-start"
              >
                <label
                  class="form__label text-sm font-semibold text-slate-500"
                  htmlFor="title"
                >
                  *Titulo del producto:
                </label>
                <input
                  class="form__input w-full"
                  pInputText
                  id="title"
                  placeholder="Ingrese un titulo para el producto"
                  formControlName="name"
                  #inputName
                  [maxlength]="60"
                  [style]="{ 'font-size': '14px', 'border-style': 'dashed' }"
                />

                @if (invalidField('name')) {
                <small class="p-error">El titulo es obligatorio</small>
                }
              </div>
            </app-expansion-panel>

            <app-expansion-panel
              [isValid]="verifyField('description', wcProduct.description)"
              [label]="'Descripción del producto'"
              [propertyProduct]="wcProduct.description | slice : 0 : 300"
              [propertytoRequire]="
                'Describe este producto. ¿Qué lo hace único?, ¿Cuáles son sus características mas importantes?'
              "
              [activeAccordeon]="2"
           
              (updateProduct)="updateField('description')"
            >
              <div
                class="expansion-panel__content flex flex-col gap-3 items-start justify-start"
              >
                <label class="form__label text-sm font-semibold text-slate-500" htmlFor="title">
                  *Descripción del producto:
                </label>

                <textarea
                  class="wcform__textarea"
                  id="description"
                  placeholder="Descripción larga del producto"
                  formControlName="description"
                  rows="14"
                  cols="30"
                  [maxlength]="50000"
                  pInputTextarea
                  [autoResize]="true"
                  [class.is-invalid]="verifyField"
                >
                </textarea>
              </div>
            </app-expansion-panel>

            <app-expansion-panel
              [isValid]="
                verifyField('short_description', wcProduct.short_description)
              "
              [label]="'Descripción corta del producto'"
              [propertyProduct]="wcProduct.short_description | slice : 0 : 300"
              [propertytoRequire]="
                'Describe este producto. ¿Qué lo hace único?, ¿Cuáles son sus características mas importantes?'
              "
              [activeAccordeon]="3"
            
            >
              <div
                class="expansion-panel__content flex flex-col gap-3 items-start justify-start"
              >
                <label class="form__label" htmlFor="title">
                  *descripcion corta del producto:
                </label>

                <textarea
                  class="wcform__textarea"
                  id="description"
                  placeholder="Descripción larga del producto"
                  formControlName="description"
                  rows="14"
                  cols="30"
                  [maxlength]="50000"
                  pInputTextarea
                  [autoResize]="true"
                  [class.is-invalid]="verifyField"
                >
                </textarea>
              </div>
            </app-expansion-panel>
          </div>
        </div>

        <div class="section-product">

          <h3 class="text-2xl font-bold text-slate-500 py-3">Inventario 🧑‍💻</h3>
          <span class="divider block w-full h-[1px] bg-slate-300 mb-4"></span>
  
          <app-expansion-panel
            [isValid]="verifyField('sku', wcProduct.sku)"
            [label]="'Sku del producto'"
            [propertyProduct]="wcProduct.sku | slice : 0 : 300"
            [propertytoRequire]="'Indica un codigo para identificar tu producto'"
            [activeAccordeon]="4"
          
          >
            <div
              class="expansion-panel__content flex flex-col gap-3 items-start justify-start"
            >
              <label class="form__label" htmlFor="title">
                *Código de identificación del producto:
              </label>
  
              <input
                class="form-product__input w-full"
                pInputText
                id="sku"
                formControlName="sku"
              />
            </div>
          </app-expansion-panel>
  
          <app-expansion-panel
            [isValid]="verifyField('stock', wcProduct.sku)"
            [label]="'Stock del producto'"
            [propertyProduct]="wcProduct.stock_quantity"
            [propertytoRequire]="'Indica el stock en tu almacen'"
            [activeAccordeon]="5"
           
          >
            <div
              class="expansion-panel__content flex flex-col gap-3 items-start justify-start"
            >
              <label class="form__label" htmlFor="title">
                *Stock en inventario:
              </label>
  
              <input
                class="form-product__input w-full"
                pInputText
                id="sku"
                formControlName="stock_quantity"
              />
            </div>
          </app-expansion-panel>
        </div>


        <h3 class="text-2xl font-bold text-slate-700 py-3">
          Precio del producto 🪙
        </h3>
        <span class="divider block w-full h-[1px] bg-slate-300 mb-4"></span>

        <!-- <app-expansion-panel [isValid]="verifyField('stock_quantity', wcProduct.stock_quantity.toString())" [label]="'Precio regular del producto'" [propertyProduct]="wcProduct.stock_quantity" [propertytoRequire]="'Indica el stock en tu almacen'" [activeAccordeon]="activeAccordeon" (panelClicked)="activeAccordeon = $event" >
            <div class="expansion-panel__content flex flex-col gap-3 items-start justify-start">
              <label class="form__label" htmlFor="title">
                *Stock en inventario:
              </label>
              
              <input class="form-product__input w-full" pInputText id="sku" formControlName="stock_quantity"/>

            </div>
         
          </app-expansion-panel>

          <app-expansion-panel [isValid]="verifyField('', '')" [label]="'Precio al publico del producto'" [propertyProduct]="wcProduct.stock_quantity" [propertytoRequire]="'Indica el stock en tu almacen'" [activeAccordeon]="activeAccordeon" (panelClicked)="activeAccordeon = $event" >
            <div class="expansion-panel__content flex flex-col gap-3 items-start justify-start">
              <label class="form__label" htmlFor="title">
                *Stock en inventario:
              </label>
              
              <input class="form-product__input w-full" pInputText id="sku" formControlName="stock_quantity"/>

            </div>
         
          </app-expansion-panel> -->

        <!-- <app-expansion-panel [label]="'Titulo'" [accordionHeader]="wcProduct.name" >

            <div class="expansion-panel__content">
              <label class="wcform__label" htmlFor="title">
                *Titulo del producto:
              </label>
              <input class="wcform__input" pInputText id="title" placeholder="Ingrese un titulo para el producto"
              formControlName="name" #inputName [maxlength]="60" />

            </div>

          </app-expansion-panel> -->

        <!-- <div class="accordeon__item" [ngClass]="activeAccordeon === 1 ? 'isActive' : ''">
            <div class="accordeon__titular" (click)="toggleAccordeon(1)">
              <div class="accordeon__titulo">
                <h3 class="accordeon__h3">Titulo</h3>
          
                @if(activeAccordeon !=1) {
                  <span class="accordeon__span">{{wcProduct.name}}</span>
                } @else {
                  <span #aco class="accordeon__span">Incluye producto, marca, modelo y
                    destaca sus características principales</span>
                }
              </div>
              <div class="accordeon__icon">
                <i class="accordeon__i material-icons">expand_more</i>
              </div>
            </div>
            <div class="accordeon__contenido">
              <div class="wcform__box">
                <label class="wcform__label" htmlFor="title">
                  *Titulo del producto:
                </label>
                <input class="wcform__input" pInputText id="title" placeholder="Ingrese un titulo para el producto"
                  formControlName="name" #inputName [maxlength]="60" />
                <span class="wcform__span--words"> {{formProduct.get('name')?.value.length}} /60</span>
              </div>
              @if (invalidField('name')) {
                <small class="p-error">El titulo es obligatorio</small>
              }
              <div class="wcform__action">
                <p-toast></p-toast>
                <p-button styleClass="p-button-raised" [disabled]="verifyField('name', wcProduct.name)"
                (onClick)="updateName()">Aceptar</p-button>
                <p-button styleClass="p-button-text" [disabled]="verifyField('name', wcProduct.name)"
                (onClick)="cancelUpdate('name', wcProduct.name)">Cancelar</p-button>
              </div>
            </div>
          </div> -->

        <!-- <div class="accordeon">
            <div class="accordeon__item" [ngClass]="activeAccordeon === 1 ? 'isActive' : ''">
              <div class="accordeon__titular" (click)="toggleAccordeon(1)">
                <div class="accordeon__titulo">
                  <h3 class="accordeon__h3">Titulo</h3>
            
                  @if(activeAccordeon !=1) {
                    <span class="accordeon__span">{{wcProduct.name}}</span>
                  } @else {
                    <span #aco class="accordeon__span">Incluye producto, marca, modelo y
                      destaca sus características principales</span>
                  }
                </div>
                <div class="accordeon__icon">
                  <i class="accordeon__i material-icons">expand_more</i>
                </div>
              </div>
              <div class="accordeon__contenido">
                <div class="wcform__box">
                  <label class="wcform__label" htmlFor="title">
                    *Titulo del producto:
                  </label>
                  <input class="wcform__input" pInputText id="title" placeholder="Ingrese un titulo para el producto"
                    formControlName="name" #inputName [maxlength]="60" />
                  <span class="wcform__span--words"> {{formProduct.get('name')?.value.length}} /60</span>
                </div>
                @if (invalidField('name')) {
                  <small class="p-error">El titulo es obligatorio</small>
                }
                <div class="wcform__action">
                  <p-toast></p-toast>
                  <p-button styleClass="p-button-raised" [disabled]="verifyField('name', wcProduct.name)"
                  (onClick)="updateName()">Aceptar</p-button>
                  <p-button styleClass="p-button-text" [disabled]="verifyField('name', wcProduct.name)"
                  (onClick)="cancelUpdate('name', wcProduct.name)">Cancelar</p-button>
                </div>
              </div>
            </div>
            <div class="accordeon__item" [ngClass]="activeAccordeon === 2 ? 'isActive' : ''">
              <div class="accordeon__titular" (click)="toggleAccordeon(2)">
                <div class="accordeon__titulo">
                  <h3 class="accordeon_h3">Descripcion del producto</h3>
                  <span class="accordeon__span">Describe este producto</span>
                </div>
              </div>
              <div class="accordeon__contenido">
                <div class="accordeon__box">
                  <textarea class="wcform__textarea" id="description" placeholder="Descripción larga del producto"
                    formControlName="description" rows="14" cols="30" [maxlength]="50000" pInputTextarea
                    [autoResize]="true" [class.is-invalid]="verifyField">
                  </textarea>
                  <span class="wcform__span--words"> {{formProduct.get('description')?.value.length}} /5000</span>
                </div>
                <div class="wcform__action">
                  <p-button styleClass="p-button-raised"
                  [disabled]="verifyField('description',wcProduct.description)">Aceptar</p-button>
                  <p-button styleClass="p-button-text" [disabled]="verifyField('description', wcProduct.description)"
                  (onClick)="cancelUpdate('description', wcProduct.description)">Cancelar</p-button>
                </div>
              </div>
            </div>
            <div class="accordeon__item" [ngClass]="activeAccordeon === 3 ? 'isActive' : ''">
              <div class="accordeon__titular" (click)="toggleAccordeon(3)">
                <div class="accordeon__titulo">
                  <h3 class="accordeon__h3">Descripción corta del producto</h3>
                  <span class="accordeon__span">Describe este producto</span>
                </div>
                <div class="accordeon__icon">
                  <i class="accordeon__i material-icons">expand_more</i>
                </div>
              </div>
              <div class="accordeon__contenido">
                <div class="wcform__box">
                  <textarea class="wcform__textarea" id="description" placeholder="Descripción larga del producto"
                    formControlName="short_description" rows="14" cols="30" pInputTextarea [autoResize]="true">
                  </textarea>
                </div>
                <div class="wcform__action">
                  <p-button styleClass="p-button-raised">Aceptar</p-button>
                  <p-button styleClass="p-button-text"
                  (onClick)="cancelUpdate('short_description', wcProduct.description)">Cancelar</p-button>
                </div>
              </div>
            </div>
            <div class="accordeon__item" [ngClass]="activeAccordeon === 4 ? 'isActive' : ''">
              <div class="accordeon__titular" (click)="toggleAccordeon(4)">
                <div class="accordeon__titulo">
                  <h3 class="accordeon__h3">Precio del producto</h3>
                  <div class="wcform__prices">
                    <span class="wcform__price">Precio regular: {{wcProduct.regular_price}}</span>
                    <span class="wcform__price">Precio con oferta: {{wcProduct.price}}</span>
                  </div>
                </div>
                <div class="accordeon__icon">
                  <i class="accordeon__i material-icons">expand_more</i>
                </div>
              </div>
              <div class="accordeon__contenido">
                <div class="form-product__box">
                  <label class="form-product__label" htmlFor="price">*Precio normal del producto:</label>
                  <p-inputNumber class="form-product__input" inputId="price" mode="currency" currency="USD"
                    locale="en-US" placeholder="$0.00" [showClear]="true" formControlName="regular_price">
                  </p-inputNumber>
               
                </div>
                <div class="form-product__box">
                  <label class="form-product__label" htmlFor="rebaja">*Precio con rebaja del producto:</label>
                  <p-inputNumber class="form-product__input" inputId="rebaja" mode="currency" currency="USD"
                    locale="en-US" placeholder="$0.00" [showClear]="true" formControlName="sale_price">
                  </p-inputNumber>
             
                  <br>
                  </div>
                </div>
              </div>
              <div class="accordeon__item" [ngClass]="activeAccordeon === 5 ? 'isActive' : ''">
                <div class="accordeon__titular" (click)="toggleAccordeon(5)">
                  <div class="accordeon__titulo">
                    <h3 class="accordeon__h3">Inventario</h3>
                    <div class="wcform__inventario">
                      <p>En mi almacen: <span class="wcform__span">{{wcProduct.stock_quantity}}</span> Unidades | SKU:
                      <span class="wcform__span">{{wcProduct.sku}}</span></p>
                    </div>
                  </div>
                  <div class="accordeon__icon">
                    <i class="accordeon__i material-icons">expand_more</i>
                  </div>
                </div>
                <div class="accordeon__contenido">
                  <div class="wcform__box">
                    <label class="form-product__label" htmlFor="sku">*SKU del producto:
                      <i class="form-product__icon material-icons"
                        pTooltip="SKU se refiere a una unidad de almacenamiento de inventario, un identificador único para cada producto y servicio que se puede comprar."
                      tooltipStyleClass="form-product__toolTip" tooltipPosition="bottom">help</i>
                    </label>
                    <input class="form-product__input" pInputText id="sku" formControlName="sku" />
                  </div>
                  <div class="wcform__box">
                    <label class="form-product__label" htmlFor="cantidad">*Cantidad:
                      <i class="form-product__icon material-icons"
                        pTooltip="SKU se refiere a una unidad de almacenamiento de inventario, un identificador único para cada producto y servicio que se puede comprar."
                      tooltipStyleClass="form-product__toolTip" tooltipPosition="bottom">help</i>
                    </label>
                    <p-inputNumber inputId="integeronly" formControlName="stock_quantity">
                    </p-inputNumber>
                  </div>
                </div>
              </div>
          </div> -->
      </div>
    </form>

    <div class="skeleton">
      <div class="skeleton__section skeleton__section--title">
        <div style="flex: 1" class="skeleton__details">
          <p-skeleton width="100%" height="2rem" styleClass="mb-3"></p-skeleton>
          <p-skeleton width="35%" height="2rem" styleClass="mb-3"></p-skeleton>
          <p-skeleton width="15%" height="2rem"></p-skeleton>
        </div>
        <div class="skeleton__img">
          <p-skeleton shape="circle" size="6rem" styleClass="mr-2"></p-skeleton>
        </div>
      </div>
      <div class="skeleton__card">
        <div class="skeleton__titular">
          <div style="flex: 1" class="skeleton__title">
            <p-skeleton
              width="30%"
              height="2rem"
              styleClass="mb-2"
            ></p-skeleton>
            <p-skeleton
              width="80%"
              height="2rem"
              styleClass="mb-2"
            ></p-skeleton>
          </div>
          <div class="skeleton__icon">
            <p-skeleton
              shape="circle"
              size="3rem"
              styleClass="mr-2"
            ></p-skeleton>
          </div>
        </div>
      </div>
      <div class="skeleton__card">
        <div class="skeleton__titular">
          <div style="flex: 1" class="skeleton__title">
            <p-skeleton
              width="30%"
              height="2rem"
              styleClass="mb-2"
            ></p-skeleton>
            <p-skeleton
              width="80%"
              height="2rem"
              styleClass="mb-2"
            ></p-skeleton>
          </div>
          <div class="skeleton__icon">
            <p-skeleton
              shape="circle"
              size="3rem"
              styleClass="mr-2"
            ></p-skeleton>
          </div>
        </div>
      </div>
      <div class="skeleton__card">
        <div class="skeleton__titular">
          <div style="flex: 1" class="skeleton__title">
            <p-skeleton
              width="30%"
              height="2rem"
              styleClass="mb-2"
            ></p-skeleton>
            <p-skeleton
              width="80%"
              height="2rem"
              styleClass="mb-2"
            ></p-skeleton>
          </div>
          <div class="skeleton__icon">
            <p-skeleton
              shape="circle"
              size="3rem"
              styleClass="mr-2"
            ></p-skeleton>
          </div>
        </div>
      </div>
      <div class="skeleton__card">
        <div class="skeleton__titular">
          <div style="flex: 1" class="skeleton__title">
            <p-skeleton
              width="30%"
              height="2rem"
              styleClass="mb-2"
            ></p-skeleton>
            <p-skeleton
              width="80%"
              height="2rem"
              styleClass="mb-2"
            ></p-skeleton>
          </div>
          <div class="skeleton__icon">
            <p-skeleton
              shape="circle"
              size="3rem"
              styleClass="mr-2"
            ></p-skeleton>
          </div>
        </div>
      </div>
      <div class="skeleton__card">
        <div class="skeleton__titular">
          <div style="flex: 1" class="skeleton__title">
            <p-skeleton
              width="30%"
              height="2rem"
              styleClass="mb-2"
            ></p-skeleton>
            <p-skeleton
              width="80%"
              height="2rem"
              styleClass="mb-2"
            ></p-skeleton>
          </div>
          <div class="skeleton__icon">
            <p-skeleton
              shape="circle"
              size="3rem"
              styleClass="mr-2"
            ></p-skeleton>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <aside class="wcproduct-aside">

    <div class="wcproduct-aside__content">
      <div class="wcproduct-aside__complete">
     

        <div class="wcnew-aside__avance">
          <span>Completado:</span>
          <span class="wcnew-aside__span--avance"> 8 / 8</span>
        </div>
      </div>

      <div class="wcproduct-aside__item">
        @if (invalidField('name')) {
          <div class="p-messages">
            <div class="p-message p-message-error wcnew-aside__type">
              <span class="p-message-icon"><i class="material-icons">cancel</i></span>
              <span class="p-message-summary">Titulo</span>
              <span class="p-message-detail">Incompleto</span>
            </div>
          </div>
        }

        @if (!invalidField('name')) {
          <div class="p-messages">
            <div class="p-message p-message-success	wcnew-aside__type">
              <span class="p-message-icon"> <i class="pi pi-check"></i></span>
              <span class="p-message-summary">Titulo</span>
              <span class="p-message-detail">Completo</span>
            </div>
          </div>
        }
      </div>

      <div class="wcproduct-aside__item">
        @if (invalidField('description')) {
          <div class="p-messages">
            <div class="p-message p-message-error wcnew-aside__type">
              <span class="p-message-icon"><i class="material-icons">cancel</i></span>
              <span class="p-message-summary">Descripción</span>
              <span class="p-message-detail">Incompleto</span>
            </div>
          </div>
        }

        @if (!invalidField('descripción')) {
          <div class="p-messages">
            <div class="p-message p-message-success	wcnew-aside__type">
              <span class="p-message-icon"> <i class="pi pi-check"></i></span>
              <span class="p-message-summary">Descripción</span>
              <span class="p-message-detail">Completo</span>
            </div>
          </div>
        }
      </div>

      <div class="wcproduct-aside__item">
        @if (invalidField('short_description')) {
          <div class="p-messages">
            <div class="p-message p-message-error wcnew-aside__type">
              <span class="p-message-icon"><i class="material-icons">cancel</i></span>
              <span class="p-message-summary">Descripción Corta</span>
              <span class="p-message-detail">Incompleto</span>
            </div>
          </div>
        }

        @if (!invalidField('short_description')) {
          <div class="p-messages">
            <div class="p-message p-message-success	wcnew-aside__type">
              <span class="p-message-icon"> <i class="pi pi-check"></i></span>
              <span class="p-message-summary">Descripción Corta</span>
              <span class="p-message-detail">Completo</span>
            </div>
          </div>
        }
      </div>

      <div class="wcproduct-aside__item">
        @if (invalidField('regular_price')) {
          <div class="p-messages">
            <div class="p-message p-message-error wcnew-aside__type">
              <span class="p-message-icon"><i class="material-icons">cancel</i></span>
              <span class="p-message-summary">Precio Regular</span>
              <span class="p-message-detail">Incompleto</span>
            </div>
          </div>
        }

        @if (!invalidField('regular_price')) {
          <div class="p-messages">
            <div class="p-message p-message-success	wcnew-aside__type">
              <span class="p-message-icon"> <i class="pi pi-check"></i></span>
              <span class="p-message-summary">Precio Regular</span>
              <span class="p-message-detail">Completo</span>
            </div>
          </div>
        }
      </div>

      <div class="wcproduct-aside__item">
        @if (invalidField('sale_price')) {
          <div class="p-messages">
            <div class="p-message p-message-error wcnew-aside__type">
              <span class="p-message-icon"><i class="material-icons">cancel</i></span>
              <span class="p-message-summary">Precio de Oferta</span>
              <span class="p-message-detail">Incompleto</span>
            </div>
          </div>
        }

        @if (!invalidField('sale_price')) {
          <div class="p-messages">
            <div class="p-message p-message-success	wcnew-aside__type">
              <span class="p-message-icon"> <i class="pi pi-check"></i></span>
              <span class="p-message-summary">Precio de Oferta</span>
              <span class="p-message-detail">Completo</span>
            </div>
          </div>
        }
      </div>

      <div class="wcproduct-aside__item">
        @if (invalidField('sku')) {
          <div class="p-messages">
            <div class="p-message p-message-error wcnew-aside__type">
              <span class="p-message-icon"><i class="material-icons">cancel</i></span>
              <span class="p-message-summary">SKU</span>
              <span class="p-message-detail">Incompleto</span>
            </div>
          </div>
        }

        @if (!invalidField('sku')) {
          <div class="p-messages">
            <div class="p-message p-message-success	wcnew-aside__type">
              <span class="p-message-icon"> <i class="pi pi-check"></i></span>
              <span class="p-message-summary">SKU</span>
              <span class="p-message-detail">Completo</span>
            </div>
          </div>
        }
      </div>

      <div class="wcproduct-aside__item">
        @if (invalidField('stock_quantity')) {
          <div class="p-messages">
            <div class="p-message p-message-error wcnew-aside__type">
              <span class="p-message-icon"><i class="material-icons">cancel</i></span>
              <span class="p-message-summary">Stock</span>
              <span class="p-message-detail">Incompleto</span>
            </div>
          </div>
        }

        @if (!invalidField('stock_quantity')) {
          <div class="p-messages">
            <div class="p-message p-message-success	wcnew-aside__type">
              <span class="p-message-icon"> <i class="pi pi-check"></i></span>
              <span class="p-message-summary">Stock</span>
              <span class="p-message-detail">Completo</span>
            </div>
          </div>
        }
      </div>
    </div>
  </aside> -->
</div>
