

 <div class="loading-search flex justify-content-between mt-3">

    <div class="loading-search__left">
        <p-skeleton width="20rem" height="3rem"></p-skeleton>

    </div>

    <div class="loading-search__right">
        <p-skeleton width="20rem" height="3rem"></p-skeleton>

    </div>
 </div>


 <div class="loading-card">

    <div class="loading-card-header" style="flex: 1">
        <p-skeleton class="loading-card-header__skeleton" width="100%" height="50px"></p-skeleton>
    </div>

    <div class="loading-card-content">
        <p-skeleton width="100%" height="8rem"></p-skeleton>
    </div>
 </div>

 <div class="loading-card">

    <div class="loading-card-header" style="flex: 1">
        <p-skeleton class="loading-card-header__skeleton" width="100%" height="50px"></p-skeleton>
    </div>

    <div class="loading-card-content">
        <p-skeleton width="100%" height="8rem"></p-skeleton>
    </div>
 </div>

