@import 'mixin';

//* ============ NAV ============
.nav {
    // height: 66px;
    background-color: var(--purple-500);
    font-family: var(--lato);

    &-form {
 

      &__input {
        &:enabled:focus {
          outline: 0 none;
          outline-offset: 0;
          border-color: transparent;
        }
      }

   
    }

    &-right__i {
      cursor: pointer;
      color: #fff;
    }
  }




@media screen and (max-width: 576px) {
  .nav-form {
    
    .show &__input {
      display: block;
      width: 100%;
    }

    .show &__btn {
      width: 36px;
      height: 100%;
      border-radius: 0 36px 36px 0;
      color: var(--light);
      background: var(--red);
    }
  }

  .nav-form.show ~ .nav__a--notificacion,
  .nav-form.show ~ .nav__a--profile {
    display: none;
  }
}