@import "_mixin";

.order-statistics {
  &__content {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));
  }

  &__card {
    background-color: var(--surface-card);
    padding: 20px 25px;
    cursor: pointer;
    border-radius: 20px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
  }

  &__status {
    color: var(--blue-500);
    font-weight: 500;
  }

  &__value {
    color: var(--surface-600);
  }
}

.order {

    &-search {
      @include flexible(flex, row, wrap, space-between, center);
      gap: 1em;
      position: sticky;
      top: 100px;
      background-color: var(--surface-ground);
      &__right {
        padding-right: 20px;
        font-size: .875rem;
        color: var(--surface-600);
      }
  
      &__content {
        position: relative;
        display: inline-block;
      }
  
      &__icon {
        position: absolute;
        color: var(--surface-600);
  
        &-1 {
          top: 50%;
          left: 0.75rem;
          margin-top: -0.5rem;
        }
  
        &-2 {
          top: 50%;
          margin-top: -0.5rem;
          right: 0.75rem;
          cursor: pointer;
        }
      }
  
      &__input {
        padding-left: 2.5rem;
        border-radius: 10px
      }
  
    }
  
    &-card {
      background-color: var(--surface-card);
      border-radius: 20px;
      padding: 20px;
      margin: 1.5em 0;
    }
  
    &-header {
      padding: 1em 0;
      @include flexible(flex, row, nowrap, space-between, center);
      gap: 1em;
      border-bottom: 1px solid var(--surface-300);
  
      &__details {
        @include flexible(flex, row, nowrap, flex-start, center);
        gap: 1em;
      }
  
      &__h3,
      &__span {
        margin: 0;
        font-size: 0.875rem;
        color: var(--surface-600);
        font-family: "Inter", sans-serif;
      }
  
      &__client {
        @include flexible(flex, row, nowrap, space-between, center);
        gap: 1em;
      }
    }
  
    &-content {
      @include flexible(flex, row, nowrap, space-between, center);
      gap: 1em;
      font-size: 0.965rem;
      padding-left: 40px;
    }
  
    &-date {
      margin: 1em 0;
      &__span {
        display: block;
        text-align: left;
        font-size: .875rem;
        font-family: 'Inter', sans-serif;;
        color: var(--surface-600);
      }
      margin-bottom: 1em;
  
      &__status {
        font-weight: 500;
        color: var(--orange);
        font-size: 1rem;
      }
    }
  
    &-product {
      @include flexible(flex, row, wrap, flex-start, center);
      gap: 1em;
      &__img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
  
      &__h4, &__span {
        margin: 0;
        font-size: .875rem;
        color: var(--surface-600);
        font-family: 'Inter', sans-serif;;
      }
    }
  
    &-quantity {
      &__span {
        color: var(--surface-600);
        margin: 0 1em;
        font-family: 'Inter', sans-serif;;
      }
    }
  }