<div class="order-statistics order-statistics__content container">
  <div (click)="getOrderByStatus('pendientes')" class="order-statistics__card">
      <!-- <a routerLink="/dashboard/claroshop/ordenes/pendientes" class="order-statistics__title">
                <span class="order-statistics__status">En preparación</span>
                <span *ngIf="!statusOrderPending" class="order-statistics__value">{{ pendingOrdersCount || 0 }} ventas</span>
                <p-skeleton *ngIf="statusOrderPending" width="8rem" styleClass="mt-2"></p-skeleton>
      </a> -->
      <div class="order-statistics__title">
        <span class="order-statistics__status">En preparación</span>
        <span *ngIf="!statusOrderPending" class="order-statistics__value">{{ pendingOrdersCount || 0 }} ventas</span>
        <p-skeleton *ngIf="statusOrderPending" width="8rem" styleClass="mt-2"></p-skeleton>
     </div>
  </div>

  <div (click)="getOrderByStatus('embarcados')" class="order-statistics__card">
    <!-- <a routerLink="/dashboard/claroshop/ordenes/embarcados" class="order-statistics__title">
      <span class="order-statistics__status">Embarcados</span>
      <span *ngIf="!statusOrdersShipped" class="order-statistics__value">{{ shippedOrdersCount || 0 }} ventas</span>
      <p-skeleton *ngIf="statusOrdersShipped" width="8rem" styleClass="mt-2"></p-skeleton>
    </a> -->

    <div class="order-statistics__title">
        <span class="order-statistics__status">Embarcados</span>
        <span *ngIf="!statusOrdersShipped" class="order-statistics__value">{{ shippedOrdersCount || 0 }} ventas</span>
        <p-skeleton *ngIf="statusOrdersShipped" width="8rem" styleClass="mt-2"></p-skeleton>
      </div>
  </div>

  <div (click)="getOrderByStatus('entregados')" class="order-statistics__card">
    <!-- <a routerLink="/dashboard/claroshop/ordenes/entregados" class="order-statistics__title">
      <span class="order-statistics__status">Concretadas</span>
      <span *ngIf="!statusOrderCompleted" class="order-statistics__value">{{ completedOrdersCount || 0 }} ventas</span>
      <p-skeleton *ngIf="statusOrderCompleted"  width="8rem" styleClass="mt-2"></p-skeleton>
    </a> -->

    <div class="order-statistics__title">
        <span class="order-statistics__status">Concretadas</span>
        <span *ngIf="!statusOrderCompleted" class="order-statistics__value">{{ completedOrdersCount || 0 }} ventas</span>
        <p-skeleton *ngIf="statusOrderCompleted"  width="8rem" styleClass="mt-2"></p-skeleton>
      </div>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->

<div class="order-table container" [ngSwitch]="statusData">

  <ng-template ngSwitchCase="loading">
      <app-loading-table></app-loading-table>
  </ng-template>

  <ng-template ngSwitchCase="success">


      <app-orders-template>
          <div class="order-topbar__left">
              <h3 class="order-topbar__h3">Ordenes Pendientes</h3>
          </div>

          <div class="order-card" *ngFor="let order of orders">
              <div class="order-row order-card-header">
                  <div class="order-card-header__left">
                      <p-checkbox
                      [binary]="true"
                      [value]="order"
                      inputId="binary"
                    ></p-checkbox>

                    <h3 class="order__h3">#{{ order.nopedido }}</h3>
                  </div>

                  <div class="order-card-header__right">
                      <h3 class="order__h3">fecha de autorización: {{order.fechaautorizacion}}</h3>
                  </div>
              </div>

              <div class="order-card__details">
                  <div class="order-status">
                      <div class="order-card__status">
                          <span class="order-status__span order-status__pending">
                              Pendiente
                          </span>
                      </div>

                      <div class="order__date">
                          <span class="order__span">
                              Fecha de colocación: {{order.fechacolocacion}}
                          </span>
                      </div>
                  </div>


                  <div class="order-col order-card__action">
                      <button type="button" class="order__btn order__btn--desktop">
                        Ver orden
                      </button>
                    </div>
              </div>

              <div class="order-card__content order-card__container">
                  <div class="order-card__product">

                      <div class="order-card__description">
                          <a href="#" class="order-card__a">
                            <div class="orde-card__title">{{ order.articulo}}</div>
                            <!-- <div class="order-card__variante">Variante:</div> -->
                          </a>
                      </div>

                      <div class="order-card__text">

                          <div class="order-card__price">
                              <span class="order-card__price"> ${{ order.totalpedido }} </span>
                          </div>


                          <div class="order-card__sku">
                              SKU: {{ order.sku }}
                          </div>

                          <div class="order-card__unity">
                              <span class="order__span">canal de venta: {{order.channel}}</span>
                          </div>

                      </div>

                  </div>
              </div>
          </div>


      </app-orders-template>

  </ng-template>

  <ng-template ngSwitchCase="error">
      <app-message></app-message>
  </ng-template>

</div>




