<!-- MOSTRAR PAGINA SI EL USUARIO YA SE AUTENTICO DE LO CONTRARIO MOSTRAR MENSAJE DE INFORMACIÓN  -->

<div class="section">
    <div class="section__container">

        <div class="wc">
            <div class="wc__container container">
              
                <div class="card">
                    <p-tabMenu [model]="items"></p-tabMenu>

                </div>

            </div>
        </div>

        <div class="wc-table container">
            <p-button label="Registrar producto" icon="pi pi-check"></p-button>
            <app-table></app-table>
        </div>
    </div>
</div>