.productos-data {
  padding: 24px;
  border-radius: 20px;
  background-color: var(--light);
}


.wc-table {

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1em;
  }

  &__h1{
    font-size: 24px;
    font-weight: 600;
  }

  &__search {
    max-width: 350px;
  }

  &__input {
    border-radius: 36px 0 0 36px !important;
  }

  &__btn--search {
    border-radius: 0 36px 36px 0 !important;
    background-color: var(--active-color);
  }

  &__th {
    background-color: var(--light) !important;
    border: none !important;
    border-bottom: 1px solid var(--grey) !important;
  }

  &__td {
    border: none !important;
  }

  
  &__img {
    max-width: 80px;
    border-radius: 10px;
  }

  &__producto{
    display: flex;
    align-items: center;
    gap: 0.8em;
  }

  &__h4, &__p {
    text-align: center;
  }

  &__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &__status > span {
    margin: auto;
    display: block;
    padding: 4px 8px;
    font-size: 0.9rem;
    text-align: center;
  }


}


::ng-deep .p-datatable-header {
  background: var(--light) !important;
  border-radius: 20px 20px 0px 0px;
}

::ng-deep .p-datatable-wrapper{
  border-radius: 0px 0px 20px 20px !important;
}
