@import "mixin";

.breadcrumb {
  position: relative;
  padding: 1.5em 0;

  &__body {
    @include flexible(flex, row, wrap, flex-start, center);
    gap: 0.5em;
  }

  &-main {
    @include flexible(flex, row, wrap, flex-start, center);
    gap: 0.5em;

    &__i,
    &__h6 {
      color: #fff;
    }

    &__h6 {
      margin: 0;
      font-size: 0.975rem;
    }
  }

  &__span {
    color: #fff;
  }
  &__separator {
    color: darkgrey;
  }
  

  &__items {
    margin-left: 1.5em;
  }

  &__title {
    margin: 0;
    font-size: 1.25rem;
    color: #fff;
  }

  &__ol {
    @include flexible(flex, row, wrap, flex-start, center);
    gap: 0.5em;
    margin-left: 1.5em;
  }

  &__item {
    @include flexible(flex, row, wrap, center, center);
    gap: 0.5em;
    font-size: 0.875rem;
  }

  &__a,
  &__i {
    color: #fff;
  }
}
