<div class="card-order__wrapper">


    <div [ngStyle]="{ 'background-color': 'var(--surface-card)' }"
        class="card-order container mx-auto rounded-lg shadow-md shadow-indigo-500/10 mb-8">

        <div
            class="card-order__toolbar flex flex-row flex-nowrap items-center justify-between gap-1 p-4 border-b-2 border-b-slate-100">

            <div class="card-order__toolbar-col flex items-center justify-start gap-4">
                <p-checkbox [binary]="true" inputId="checkProduct{{ order().id }}" [value]="order"
                    [ngModel]="isSelectedOrder()" (onChange)="onChangeValue.emit(order())">
                </p-checkbox>

                <h3 class="card-order__toolbar-h3 text-slate-700 text-sm font-semibold">
                    # {{ order().id }}
                </h3>
            </div>

            <div class="card-order__toolbar-col flex flex-nowrap items-center">
                <span class="text-sm pr-2 text-slate-700">Fecha de recibido:</span>
                <span class="text-sm text-slate-700 font-semibold">
                    {{ order().date_created | date : "mediumDate" }}
                </span>

                <button type="button" (click)="[menuOption.toggle($event), emitId.emit(order().id) ]"
                    class="p-ripple p-element p-button p-component p-button-icon-only p-button-rounded p-button-text">
                    <i class="pi pi-ellipsis-v"></i>
                </button>

                <p-menu #menuOption  [id]="order().id.toString()" [model]="menuOrder()" [popup]="true" [style]="{ 'font-size': '14px' }"></p-menu>

            </div>
        </div>


        @if (order().products.length > 1) {

        <div class="card-order__content flex-col lg:flex-row mt-6 p-6 py-7 flex items-center gap-1">
            <div class="card-order__toggle">
                <p-button (onClick)="isCollapsing = !isCollapsing" icon="pi pi-angle-down" [rounded]="true"
                    [text]="true"></p-button>
            </div>

            @if(!isCollapsing) {
            <div
                class="card-order__product card-order__product-multiple flex flex-col lg:flex-row item-center gap-3 lg:w-2/4">
                <div
                    class="card-order__picture card-order__picture-multiple-items relative bg-transparent flex items-center flex-row flex-wrap">
                    @for (img of order().products.slice(0, 3); track $index) {
                    <div class="card-order__content-img w-24 h-24 lg:w-[64px] lg:h-[64px] relative">
                        <img [src]="img.image!.src" alt=""
                            class="card-order__img card-order__img-multiple-items object-contain w-full h-full mix-blend-multiply" />
                    </div>
                    }
                </div>

                <div [class]="order().products.length >=2 ? 'card-order__description-simple-item' : 'card-order__description-multiple-items'"
                    class="card-order__description relative flex gap-1 items-center lg:items-start justify-center flex-col mt-4 lg:mt-0 mb-2 left-0">

                    @if(order().status === 'Pendiente') {
                    <span
                        class="text-xs font-semibold bg-amber-100 text-amber-700 py-1 px-2 rounded-sm block max-w-[150px] w-full text-center">
                        <i class="order-card__i pi pi-stopwatch"></i>

                        {{ order().status }}
                    </span>
                    } @else if(order().status === 'Concretado') {
                    <span
                        class="text-xs font-semibold bg-green-100 text-green-700 py-1 px-2 rounded-sm block max-w-[150px] w-full text-center">
                        <i class="order-card__i pi pi-stopwatch"></i>

                        {{ order().status }}
                    </span>
                    } @else if (order().status === 'En Proceso') {
                    <div class="flex items-center flex-wrap gap-2 rounded-sm bg-orange-100 text-orange-700 px-3 py-1">
                        <span class="text-xs font-semibold text-center">
                            {{ order().status }}
                        </span>
                        <i class="order-card__i material-icons">local_shipping</i>
                    </div>
                    }
                    <span class="text-sm font-semibold">Paquete de:</span>
                    <span class="order-card__name text-sm">{{ order().products.length }} unidades</span>
                </div>

            </div>

            <div
                class="card-order__extraInfo flex items-start justify-start lg:justify-around flex-col lg:flex-row gap-4 grow lg:w-2/4">

                <div class="card-order__extraInfo-col flex items-center lg:items-start gap-1 flex-col w-full lg:w-[33%]">
                  
                
                    <span class="text-sm font-semibold text-slate-700">
                        Paquete de:
                     </span>

                  
                    <span class="order-card__date text-sm">
                        {{ order().products.length }} unidades
                    </span>

                </div>

                <div class="card-order__extraInfo-col flex items-center lg:items-start gap-1 flex-col w-full lg:w-[33%]">
                  
                
                    <span class="text-sm font-semibold text-slate-700">
                        {{ order().status === 'Pendiente' && 'Fecha de Autorización' || 
                           order().status === 'En Proceso' && 'Fecha de Despacho' ||
                           order().status === 'Concretado' && 'Fecha de Despacho'}}
                     </span>

                  
                    <span class="order-card__date text-sm">
                        {{ order().authorization_date | date : "mediumDate" }}
                    </span>

                </div>

                <div class="card-order__extraInfo-col flex items-center lg:items-start gap-1 flex-col w-full lg:w-[33%]">
                    <span class="text-sm font-semibold text-slate-700">Total:</span>

                    <span class="order-card__price text-sm">
                        {{ order().total_order | currency: 'MXN' }}
                    </span>
                </div>

            </div>
            } @else {
            <div class="card-order__collapsed-container flex flex-col w-full max-h-96 h-full overflow-hidden overflow-y-auto">
                @for (product of order().products; track $index) {

                <div
                    class="card-order__collapsed-content flex flex-col lg:flex-row items-center justify-between w-full h-full border-solid border-b-2 border-b-slate-100">
                    <div class="card-order__product flex flex-col lg:flex-row items-center gap-3 w-full lg:w-2/4">
                        <div
                            class="card-order__picture card-order__picture-simple-item mr-3 w-32 h-32 lg:w-16 lg:h-16 rounded relative">
                            <img [src]="product.image!.src"
                                class="card-order__img card-order__img-simple-item object-contain w-full h-full mix-blend-multiply"
                                alt="" />
                        </div>

                        <div
                            class="card-order__description flex items-center lg:items-start gap-1 flex-col mb-2 mt-4 lg:mt-0">
                            <span class="text-sm font-semibold">Producto:</span>
                            <span class="card-order__name text-sm">
                                {{ product.product | slice : 0 : 60 }}
                            </span>
                        </div>
                    </div>

                    <div
                        class="card-order__extraInfo flex items-start justify-start lg:justify-around flex-col lg:flex-row gap-4 grow w-full lg:w-2/4">

                        <div class="card-order__extraInfo-col flex items-center lg:items-start gap-1 flex-col w-full lg:w-[33%]">
                            <span class="card-order__date text-sm font-semibold text-slate-700">
                                Total:
                            </span>
                            <span class="card-order__price text-sm">
                                ${{product.total_product | currency: 'MXN'  }}
                            </span>
                        </div>

                        @if(product.quantity) {
                        <div class="card-order__extraInfo-col flex items-center lg:items-start gap-1 flex-col w-full lg:w-[33%]">
                            <span class="card-order__quantity-label text-sm font-semibold text-slate-700">Unidad</span>

                            <span class="card-order__quantity text-sm font-semibold text-slate-700">
                                {{ product.quantity }}
                             </span>
                        </div>
                        }

                        <div class="card-order__extraInfo-col flex items-center lg:items-start gap-1 flex-col w-full lg:w-[33%]">
                            <span class="card-order__date text-sm font-semibold text-slate-700">
                                Sku:
                            </span>
                            <span class="card-order__sku text-sm">{{ product.sku }}</span>
                        </div>
                    </div>
                </div>
                }
            </div>
            }
        </div>
        } @else {

            <div class="card-order__row flex flex-wrap flex-col lg:flex-row gap-1 items-center justify-center lg:justify-between px-6 pt-7 pb-[14px]">
                
                <div class="card-order__col">
                    @if(order().status === 'Pendiente') {
                        <div class="flex items-center flex-wrap gap-2 rounded-sm bg-blue-100 text-blue-700 px-3 py-[6px] max-w-48">
                            <span class="text-xs font-semibold text-center">
                                {{ order().status }}
                            </span>
                            <i class="card-order__i pi pi-stopwatch"></i>
                        </div>
                        <p class="text-sm py-2">Tienes que despachar el paquetes cuanto antes, para no demorarte.</p>

                        } @else if(order().status === 'Concretado') {
                       
                        <div class="flex flex-row flex-nowrap items-center justify-center gap-2 rounded-sm bg-green-100 text-green-700 px-3 py-[6px] max-w-48 w-full">
                            <span class="text-xs font-semibold text-center">
                                {{ order().status }}
                            </span>
                            <i class="card-order__i pi pi-check"></i>
                        </div>

                        <p class="text-sm py-2">Entregado el día: <strong class="text-slate-700">{{order().authorization_date | date:  'MMM d'}}</strong></p>

                        } @else if (order().status === 'En Proceso') {
                        <div class="flex flex-row flex-nowrap items-center justify-center gap-2 rounded-sm bg-orange-100 text-orange-700 px-3 py-[6px] max-w-48 w-full">
                            <span class="text-xs font-semibold text-center">
                                {{ order().status }}
                            </span>
                            <i class="card-order__i material-icons">local_shipping</i>
                        </div>

                        <p class="text-sm py-2">Salio el: <strong class="text-slate-700">{{order().authorization_date | date: 'EEE, MMMM d'}}</strong> y sigue en camino</p>
                        } @else if (order().status === 'No Concretada') {
                            <div class="flex flex-row flex-nowrap items-center justify-center gap-2 rounded-sm bg-red-100 text-red-700 px-3 py-[6px] max-w-48 w-full">
                                <span class="text-xs font-semibold text-center">
                                    {{ order().status }}
                                </span>
                                <i class="card-order__i pi pi-times"></i>
                            </div>
    
                            <p class="text-sm py-2">Asegúrate de no enviar este paquete. La persona que compró canceló.</p>
                            }
                </div>
                <div class="card-order__col">
                    
                    @if(order().status === 'Pendiente') {
                        <button class="card-order__btn card-order__btn-pending text-sm font-medium py-2 px-12 bg-blue-500 text-white rounded-md">
                            Generar guia
                        </button>
                    } @else if(order().status === 'Concretado') {
                        <button class="card-order__btn card-order__btn-completed text-sm font-medium py-2 px-12 bg-blue-100 text-blue-700 rounded-md">
                            Ver detalles
                        </button>
                    } @else if(order().status === 'En Proceso') {
                        <button class="card-order__btn card-order__btn-progress text-sm font-medium py-2 px-12 bg-blue-500 text-white rounded-md">
                            Seguir envio
                        </button>
                    } @else {
                        <button class="card-order__btn card-order__btn-failed text-sm font-medium py-2 px-12 bg-blue-100 text-blue-700 rounded-md">
                            Ver detalles
                        </button>
                    }

                </div>
            </div>

        <div class="card-order__content flex-col lg:flex-row px-6 pt-[14px] pb-7 flex items-center gap-1">
        
            <div
                class="card-order__product card-order__product-simple flex flex-col lg:flex-row items-center gap-3 w-full lg:w-2/4">

                @if(order().products[0].image) {
                <div
                    class="card-order__picture card-order__picture-simple-item mr-3 w-32 h-32 lg:w-16 lg:h-16 rounded relative">
                    <img [src]="order().products[0].image!.src"
                        class="card-order__img card-order__img-simple-item object-contain w-full h-full mix-blend-multiply"
                        alt="" />
                </div>
                }

                <div class="card-order__description flex items-center mt-4 lg:mt-0 lg:items-start gap-1 flex-col mb-2">
                 
                    <span class="text-sm font-semibold">Producto:</span>
                    <span class="card-order__name text-sm">
                        {{ order().products[0].product | slice : 0 : 60 }}
                    </span>
                </div>

            </div>

            <div
            class="card-order__extraInfo flex items-start justify-start lg:justify-around flex-col lg:flex-row gap-4 grow w-full lg:w-2/4">

            <div class="card-order__extraInfo-col flex items-center lg:items-start gap-1 flex-col w-full lg:w-1/5">
                <span class="card-order__date text-sm font-semibold text-slate-700">
                    Canal de venta:
                </span>
                @if (order().channel === 'mely') {
                 <img class="card-order__channel w-11 h-11 m-auto rounded-[50%]" src="assets/img/mely_logo.webp" alt="mercado libre">
                 }  @else if (order().channel === 'amazon') {
                    <img class="card-order__channel w-11 h-11 mx-auto rounded-[50%]" src="assets/img/amazon_logo.webp" alt="Amazon">
                    } @else if (order().channel === 'claroshop') {
                     <img class="card-order__channel w-11 h-11 mx-auto rounded-[50%]" src="assets/img/claroshop_logo-2.png" alt="Claroshop">
                    } @else {
                     <img class="card-order__channel w-11 h-11 mx-auto rounded-[50%]" src="assets/img/woocommerce__logo.png" alt="Woocommerce">
                    }
            </div>


            <div class="card-order__extraInfo-col flex items-center lg:items-start gap-1 flex-col w-full lg:w-1/5">
                <span class="text-sm font-semibold text-slate-700">
                    {{ order().status === 'Pendiente' && 'Fecha de Autorización' || 
                       order().status === 'En Proceso' && 'Fecha de Despacho' ||
                       order().status === 'Concretado' && 'Fecha de Despacho'}}
                 </span>

                <span class="card-order__date text-sm">
                    {{ order().authorization_date | date : "mediumDate" }}
                </span>
            </div>


            <div class="card-order__extraInfo-col flex items-center lg:items-start gap-1 flex-col w-full lg:w-1/5">
                <span class="card-order__date text-sm font-semibold text-slate-700">
                    Total:
                </span>
                <span class="card-order__price text-sm">
                    ${{ order().products[0].total_product | currency: 'MXN' }}
                    </span>
            </div>

            @if(order().products[0].quantity) {
                <div class="card-order__extraInfo-col flex items-center lg:items-start gap-1 flex-col w-full lg:w-1/5">
                    <span class="card-order__quantity-label text-sm font-semibold text-slate-700">Unidad</span>

                    <span class="card-order__quantity text-sm">
                        {{ order().products[0].quantity }}
                    </span>
                </div>
            }

            <div class="card-order__extraInfo-col flex items-center lg:items-start gap-1 flex-col w-full lg:w-1/5">
                <span class="card-order__date text-sm font-semibold text-slate-700">
                  Sku:
                </span>
                <span class="card-order__sku text-sm">{{
                  order().products[0].sku
                  }}</span>
              </div>
        </div>
        </div>
        }

    </div>


</div>