<div class="breadcrumb section">
  <ul class="breadcrumb__ul">
    <li class="breadcrumb__li">
      <h6 class="breadcrumb__h6">Dashboard ></h6>
    </li>

    <li class="breadcrumb__li">
      <i class="breadcrumb__i material-icons">storefront</i>
      <h6 class="breadcrumb__h6">Woocommerce</h6>
      <span class="breadcrumb__span"> > </span>
    </li>

    <li class="breadcrumb__li breadcrumb__link">
      <i class="breadcrumb__i material-icons">pallet</i>
      <a routerLink="/dashboard/wocommerce/inventario" class="breadcrumb__a">
        Inventario</a>
    </li>
  </ul>
</div>

<div class="wcproduct">

  <div class="wcproduct__left">

    <ng-container *ngIf="loading === false else skeletonData">

      <form action="#" class="wcform" [formGroup]="formProduct">
        <div class="wcform__container">
          <div class="wcform__title">
            <div class="wcform__details">
              <div class="wcform__detail">
                <a class="wcform__a" href="#">{{wcProduct.name}}</a>


              </div>
              <div class="wcform__detail">
                <span class="wcform__span" href="#">#1345805537</span>
                <p class="wcform__p" href="#">
                  Unidades vendidas: <span class="">{{wcProduct.total_sales}}</span>
                </p>
              </div>
            </div>

            <div class="wcform__image">
              <img src="assets/img/icon_producto.png" class="wcform__img" alt="" />
            </div>
          </div>

          <div class="accordeon">

            <div class="accordeon__item" [ngClass]="activeAccordeon === 1 ? 'isActive' : ''">

              <div class="accordeon__titular" (click)="toggleAccordeon(1)">

                <div class="accordeon__titulo">

                  <h3 class="accordeon__h3">Titulo</h3>
                  <span class="accordeon__span" *ngIf="activeAccordeon != 1">{{wcProduct.name}}</span>
                  <span #aco class="accordeon__span" *ngIf="activeAccordeon === 1">Incluye producto, marca, modelo y
                    destaca sus características principales</span>
                </div>

                <div class="accordeon__icon">
                  <i class="accordeon__i material-icons">expand_more</i>
                </div>

              </div>

              <div class="accordeon__contenido">

                <div class="wcform__box">

                  <label class="wcform__label" htmlFor="title">
                    *Titulo del producto:
                  </label>

                  <input class="wcform__input" pInputText id="title" placeholder="Ingrese un titulo para el producto"
                    formControlName="name" #inputName [maxlength]="60" />

                  <span class="wcform__span--words"> {{formProduct.get('name')?.value.length}} /60</span>
                </div>


                <small *ngIf="invalidField('name')" class="p-error">El titulo es obligatorio</small>


                <div class="wcform__action">
                  <p-toast></p-toast>
                  <p-button styleClass="p-button-raised" [disabled]="verifyField('name', wcProduct.name)"
                    (onClick)="updateName()">Aceptar</p-button>
                  <p-button styleClass="p-button-text" [disabled]="verifyField('name', wcProduct.name)"
                    (onClick)="cancelUpdate('name', wcProduct.name)">Cancelar</p-button>
                </div>

              </div>

            </div>

            <div class="accordeon__item" [ngClass]="activeAccordeon === 2 ? 'isActive' : ''">

              <div class="accordeon__titular" (click)="toggleAccordeon(2)">
                <div class="accordeon__titulo">
                  <h3 class="accordeon_h3">Descripcion del producto</h3>
                  <span class="accordeon__span">Describe este producto</span>
                </div>
              </div>

              <div class="accordeon__contenido">
                <div class="accordeon__box">
                  <textarea class="wcform__textarea" id="description" placeholder="Descripción larga del producto"
                    formControlName="description" rows="14" cols="30" [maxlength]="50000" pInputTextarea
                    [autoResize]="true" [class.is-invalid]="verifyField">
                  </textarea>
                  <span class="wcform__span--words"> {{formProduct.get('description')?.value.length}} /5000</span>

                </div>

                <div class="wcform__action">
                  <p-button styleClass="p-button-raised"
                    [disabled]="verifyField('description',wcProduct.description)">Aceptar</p-button>
                  <p-button styleClass="p-button-text" [disabled]="verifyField('description', wcProduct.description)"
                    (onClick)="cancelUpdate('description', wcProduct.description)">Cancelar</p-button>
                </div>
              </div>

            </div>

            <div class="accordeon__item" [ngClass]="activeAccordeon === 3 ? 'isActive' : ''">

              <div class="accordeon__titular" (click)="toggleAccordeon(3)">
                <div class="accordeon__titulo">
                  <h3 class="accordeon__h3">Descripción corta del producto</h3>
                  <span class="accordeon__span">Describe este producto</span>
                </div>

                <div class="accordeon__icon">
                  <i class="accordeon__i material-icons">expand_more</i>
                </div>
              </div>

              <div class="accordeon__contenido">

                <div class="wcform__box">
                  <textarea class="wcform__textarea" id="description" placeholder="Descripción larga del producto"
                    formControlName="short_description" rows="14" cols="30" pInputTextarea [autoResize]="true">
                  </textarea>
                </div>

                <div class="wcform__action">
                  <p-button styleClass="p-button-raised">Aceptar</p-button>
                  <p-button styleClass="p-button-text"
                    (onClick)="cancelUpdate('short_description', wcProduct.description)">Cancelar</p-button>
                </div>

              </div>



            </div>

            <div class="accordeon__item" [ngClass]="activeAccordeon === 4 ? 'isActive' : ''">
              <div class="accordeon__titular" (click)="toggleAccordeon(4)">
                <div class="accordeon__titulo">
                  <h3 class="accordeon__h3">Precio del producto</h3>

                  <div class="wcform__prices">
                    <span class="wcform__price">Precio regular: {{wcProduct.regular_price}}</span>
                    <span class="wcform__price">Precio con oferta: {{wcProduct.sale_price}}</span>
                  </div>
                </div>

                <div class="accordeon__icon">
                  <i class="accordeon__i material-icons">expand_more</i>
                </div>
              </div>

              <div class="accordeon__contenido">
                <div class="form-product__box">
                  <label class="form-product__label" htmlFor="price">*Precio normal del producto:</label>

                  <p-inputNumber class="form-product__input" inputId="price" mode="currency" currency="USD"
                    locale="en-US" placeholder="$0.00" [showClear]="true" formControlName="regular_price">

                  </p-inputNumber>

                  <!-- <small *ngIf="regularPriceInvalid" class="p-error"
                  >El precio es obligatorio</small
                > -->
                </div>

                <div class="form-product__box">
                  <label class="form-product__label" htmlFor="rebaja">*Precio con rebaja del producto:</label>

                  <p-inputNumber class="form-product__input" inputId="rebaja" mode="currency" currency="USD"
                    locale="en-US" placeholder="$0.00" [showClear]="true" formControlName="sale_price">

                  </p-inputNumber>

                  <!-- <small *ngIf="salePriceInvalid" class="p-error"
                  >El precio oferta es obligatorio</small
                > -->
                  <br>
                  <!-- <small *ngIf="priceSaleInvalid" class="p-error">El precio oferta debe ser menor al precio regular</small> -->
                </div>
              </div>
            </div>

            <div class="accordeon__item" [ngClass]="activeAccordeon === 5 ? 'isActive' : ''">
              <div class="accordeon__titular" (click)="toggleAccordeon(5)">
                <div class="accordeon__titulo">
                  <h3 class="accordeon__h3">Inventario</h3>

                  <div class="wcform__inventario">
                    <p>En mi almacen: <span class="wcform__span">{{wcProduct.stock_quantity}}</span> Unidades | SKU:
                      <span class="wcform__span">{{wcProduct.sku}}</span></p>
                  </div>
                </div>

                <div class="accordeon__icon">
                  <i class="accordeon__i material-icons">expand_more</i>
                </div>
              </div>

              <div class="accordeon__contenido">
                <div class="wcform__box">
                  <label class="form-product__label" htmlFor="sku">*SKU del producto:
                    <i class="form-product__icon material-icons"
                      pTooltip="SKU se refiere a una unidad de almacenamiento de inventario, un identificador único para cada producto y servicio que se puede comprar."
                      tooltipStyleClass="form-product__toolTip" tooltipPosition="bottom">help</i>
                  </label>

                  <input class="form-product__input" pInputText id="sku" formControlName="sku" />

                </div>

                <div class="wcform__box">
                  <label class="form-product__label" htmlFor="cantidad">*Cantidad:
                    <i class="form-product__icon material-icons"
                      pTooltip="SKU se refiere a una unidad de almacenamiento de inventario, un identificador único para cada producto y servicio que se puede comprar."
                      tooltipStyleClass="form-product__toolTip" tooltipPosition="bottom">help</i>
                  </label>

                  <p-inputNumber inputId="integeronly" formControlName="stock_quantity">
                  </p-inputNumber>
                </div>
              </div>
            </div>

          </div>

          <!-- <div class="form-product__section">
            <hr />
  
            <pre>
              {{  formProduct.value | json }}
           </pre>
          </div> -->
        </div>
      </form>
    </ng-container>

    <ng-template #skeletonData>
      <div class="skeleton">

        <div class="skeleton__section skeleton__section--title">

          <div style="flex: 1" class="skeleton__details">
            <p-skeleton width="100%" height="2rem" styleClass="mb-3"></p-skeleton>
            <p-skeleton width="35%" height="2rem" styleClass="mb-3"></p-skeleton>
            <p-skeleton width="15%" height="2rem"></p-skeleton>

          </div>

          <div class="skeleton__img">
            <p-skeleton shape="circle" size="6rem" styleClass="mr-2"></p-skeleton>
          </div>
        </div>

        <div class="skeleton__card">

          <div class="skeleton__titular">

            <div style="flex: 1" class="skeleton__title">
              <p-skeleton width="30%" height="2rem" styleClass="mb-2"></p-skeleton>
              <p-skeleton width="80%" height="2rem" styleClass="mb-2"></p-skeleton>
            </div>

            <div class="skeleton__icon">
              <p-skeleton shape="circle" size="3rem" styleClass="mr-2"></p-skeleton>

            </div>
          </div>

        </div>

        <div class="skeleton__card">

          <div class="skeleton__titular">

            <div style="flex: 1" class="skeleton__title">
              <p-skeleton width="30%" height="2rem" styleClass="mb-2"></p-skeleton>
              <p-skeleton width="80%" height="2rem" styleClass="mb-2"></p-skeleton>
            </div>

            <div class="skeleton__icon">
              <p-skeleton shape="circle" size="3rem" styleClass="mr-2"></p-skeleton>

            </div>
          </div>

        </div>

        <div class="skeleton__card">

          <div class="skeleton__titular">

            <div style="flex: 1" class="skeleton__title">
              <p-skeleton width="30%" height="2rem" styleClass="mb-2"></p-skeleton>
              <p-skeleton width="80%" height="2rem" styleClass="mb-2"></p-skeleton>
            </div>

            <div class="skeleton__icon">
              <p-skeleton shape="circle" size="3rem" styleClass="mr-2"></p-skeleton>

            </div>
          </div>

        </div>

        <div class="skeleton__card">

          <div class="skeleton__titular">

            <div style="flex: 1" class="skeleton__title">
              <p-skeleton width="30%" height="2rem" styleClass="mb-2"></p-skeleton>
              <p-skeleton width="80%" height="2rem" styleClass="mb-2"></p-skeleton>
            </div>

            <div class="skeleton__icon">
              <p-skeleton shape="circle" size="3rem" styleClass="mr-2"></p-skeleton>

            </div>
          </div>

        </div>

        <div class="skeleton__card">

          <div class="skeleton__titular">

            <div style="flex: 1" class="skeleton__title">
              <p-skeleton width="30%" height="2rem" styleClass="mb-2"></p-skeleton>
              <p-skeleton width="80%" height="2rem" styleClass="mb-2"></p-skeleton>
            </div>

            <div class="skeleton__icon">
              <p-skeleton shape="circle" size="3rem" styleClass="mr-2"></p-skeleton>

            </div>
          </div>

        </div>

      </div>
    </ng-template>
  </div>

  <aside class="wcproduct-aside">

    <div class="wcproduct-aside__content">
      <div class="wcproduct-aside__complete">
        <div class="wcproduct-aside__bar">
          <p-knob [(ngModel)]="completedEdit" valueColor="green" [size]="130" valueTemplate="{value}%" [min]="0"
            [max]="100" [readonly]="true"></p-knob>
        </div>

        <div class="wcnew-aside__avance">
          <span>Completado:</span>
          <span class="wcnew-aside__span--avance"> 8 / 8</span>
        </div>
      </div>

      <div class="wcproduct-aside__item">
        <div class="p-messages" *ngIf="invalidField('name')">
          <div class="p-message p-message-error wcnew-aside__type">
            <span class="p-message-icon"><i class="material-icons">cancel</i></span>
            <span class="p-message-summary">Titulo</span>
            <span class="p-message-detail">Incompleto</span>
          </div>
        </div>

        <div class="p-messages" *ngIf="!invalidField('name')">
          <div class="p-message p-message-success	wcnew-aside__type">
            <span class="p-message-icon"> <i class="pi pi-check"></i></span>
            <span class="p-message-summary">Titulo</span>
            <span class="p-message-detail">Completo</span>
          </div>
        </div>
      </div>

      <div class="wcproduct-aside__item">
        <div class="p-messages" *ngIf="invalidField('description')">
          <div class="p-message p-message-error wcnew-aside__type">
            <span class="p-message-icon"><i class="material-icons">cancel</i></span>
            <span class="p-message-summary">Descripción</span>
            <span class="p-message-detail">Incompleto</span>
          </div>
        </div>

        <div class="p-messages" *ngIf="!invalidField('descripción')">
          <div class="p-message p-message-success	wcnew-aside__type">
            <span class="p-message-icon"> <i class="pi pi-check"></i></span>
            <span class="p-message-summary">Descripción</span>
            <span class="p-message-detail">Completo</span>
          </div>
        </div>
      </div>

      <div class="wcproduct-aside__item">
        <div class="p-messages" *ngIf="invalidField('short_description')">
          <div class="p-message p-message-error wcnew-aside__type">
            <span class="p-message-icon"><i class="material-icons">cancel</i></span>
            <span class="p-message-summary">Descripción Corta</span>
            <span class="p-message-detail">Incompleto</span>
          </div>
        </div>

        <div class="p-messages" *ngIf="!invalidField('short_description')">
          <div class="p-message p-message-success	wcnew-aside__type">
            <span class="p-message-icon"> <i class="pi pi-check"></i></span>
            <span class="p-message-summary">Descripción Corta</span>
            <span class="p-message-detail">Completo</span>
          </div>
        </div>
      </div>

      <div class="wcproduct-aside__item">
        <div class="p-messages" *ngIf="invalidField('regular_price')">
          <div class="p-message p-message-error wcnew-aside__type">
            <span class="p-message-icon"><i class="material-icons">cancel</i></span>
            <span class="p-message-summary">Precio Regular</span>
            <span class="p-message-detail">Incompleto</span>
          </div>
        </div>

        <div class="p-messages" *ngIf="!invalidField('regular_price')">
          <div class="p-message p-message-success	wcnew-aside__type">
            <span class="p-message-icon"> <i class="pi pi-check"></i></span>
            <span class="p-message-summary">Precio Regular</span>
            <span class="p-message-detail">Completo</span>
          </div>
        </div>
      </div>

      <div class="wcproduct-aside__item">
        <div class="p-messages" *ngIf="invalidField('sale_price')">
          <div class="p-message p-message-error wcnew-aside__type">
            <span class="p-message-icon"><i class="material-icons">cancel</i></span>
            <span class="p-message-summary">Precio de Oferta</span>
            <span class="p-message-detail">Incompleto</span>
          </div>
        </div>

        <div class="p-messages" *ngIf="!invalidField('sale_price')">
          <div class="p-message p-message-success	wcnew-aside__type">
            <span class="p-message-icon"> <i class="pi pi-check"></i></span>
            <span class="p-message-summary">Precio de Oferta</span>
            <span class="p-message-detail">Completo</span>
          </div>
        </div>
      </div>

      <div class="wcproduct-aside__item">
        <div class="p-messages" *ngIf="invalidField('sku')">
          <div class="p-message p-message-error wcnew-aside__type">
            <span class="p-message-icon"><i class="material-icons">cancel</i></span>
            <span class="p-message-summary">SKU</span>
            <span class="p-message-detail">Incompleto</span>
          </div>
        </div>

        <div class="p-messages" *ngIf="!invalidField('sku')">
          <div class="p-message p-message-success	wcnew-aside__type">
            <span class="p-message-icon"> <i class="pi pi-check"></i></span>
            <span class="p-message-summary">SKU</span>
            <span class="p-message-detail">Completo</span>
          </div>
        </div>
      </div>

      <div class="wcproduct-aside__item">
        <div class="p-messages" *ngIf="invalidField('stock_quantity')">
          <div class="p-message p-message-error wcnew-aside__type">
            <span class="p-message-icon"><i class="material-icons">cancel</i></span>
            <span class="p-message-summary">Stock</span>
            <span class="p-message-detail">Incompleto</span>
          </div>
        </div>

        <div class="p-messages" *ngIf="!invalidField('stock_quantity')">
          <div class="p-message p-message-success	wcnew-aside__type">
            <span class="p-message-icon"> <i class="pi pi-check"></i></span>
            <span class="p-message-summary">Stock</span>
            <span class="p-message-detail">Completo</span>
          </div>
        </div>
      </div>
    </div>
  </aside>

</div>