<div class="sidebar-section" [class.hidden-menu]="hiddenMenu()">
  <div class="sidebar-section__title">{{titleSection}}</div>

  <ul class="sidebar-menu">
    @for (menu of menuData; track menu; let i = $index) {
      <li class="sidebar-item">
        @if (menu.type === 'link') {
          <a  [routerLink]="menu.routerLink" class="sidebar-item__a" [queryParams]="menu.queryParams">
            <div class="sidebar-item__box">
              <i class="material-icons-outlined sidebar__icon">{{ menu.iconLeft }}</i>
              <span class="sidebar__label">{{ menu.label }}</span>
            </div>
          </a>
        } @else {
          <button (click)="toggleMenu(i)" type="button" class="sidebar-item__btn dropdown-toggle">
            <div class="sidebar-item__box">
              <i class="material-icons-outlined sidebar__icon">{{ menu.iconLeft }}</i>
              <span class="sidebar__label">{{ menu.label }}</span>
            </div>
            <i class="material-icons-outlined sidebar__icon sidebar-item__icon-arrow" [class.animateArrow]="activeMenu === i">{{menu.iconRight}}</i>
          </button>
          <ul class="dropdown-menu" [class.show-menu]="activeMenu === i">
            @for (submenu of menu.items; track submenu; let j = $index) {
              <li class="dropdown-item sidebar-item">
                <button (click)="toggleSubMenu(j)" type="button" class="sidebar-item__btn dropdown-toggle">
                  <div class="sidebar-item__box">
                    <i class="material-icons-outlined sidebar__icon">{{ submenu.iconLeft }}</i>
                    <span class="dropdown__label">{{ submenu.label }}</span>
                  </div>
                  <i class="material-icons-outlined sidebar__icon dropdown__icon-arrow" [class.animateArrow]="activeSubMenu === j">{{ submenu.iconRight }}</i>
                </button>
                <ul class="dropdown-submenu" [class.show-submenu]="activeSubMenu === j">
                  @for (subitem of submenu.items; track subitem) {
                    <li class="dropdown-subitem sidebar-item">
                      <a class="dropdown-subitem__a sidebar-item__a" [routerLink]="subitem.routerLink" routerLinkActive="isActive" [queryParams]="subitem?.queryParams">
                        <div class="sidebar-item__box">
                          <i class="material-icons-outlined sidebar__icon">{{ submenu.iconLeft }}</i>
                          <span class="dropdown__label">{{ subitem.label }}</span>
                        </div>
                      </a>
                    </li>
                  }
                </ul>
              </li>
            }
          </ul>
        }
      </li>
    }
  </ul>
</div>