@import "_mixin";

// .head {
//   position: relative;
//   padding: 5em 30px;
//   z-index: 1;

//   &::before {
//     position: absolute;
//     content: "";
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: var(--primary-500);
//     z-index: -1;
//   }

//   &__ul {
//     @include flexible(flex, row, wrap, flex-start, center);
//     gap: 1em;
//   }

//   &__li {
//     color: #fff;
//     @include flexible(flex, row, wrap, center, center);
//     gap: 0.5em;
//   }

//   &__a {
//     text-decoration: underline;
//   }

//   &__h6 {
//     color: var(--light);
//   }

//   &__actions {
//     @include flexible(flex, row, wrap, flex-end, center);
//     gap: 0.8em;
//   }
//   &__btn {
//     padding: 0.35rem 0.6rem;
//     line-height: 1.5;
//     border-radius: 0.25rem;
//     background-color: #fff;
//     font-size: 0.9rem;
//     cursor: pointer;
//   }
// }

.list-card {
  // background-color: var(--surface-card);
  // margin: 1.5em auto;

  // &__content {
  //   display: grid;
  //   grid-template-columns: 60% 40%;
  //   grid-template-areas: "product details";
  //   align-items: stretch;
  //   justify-content: space-between;
  //   padding: 40px 20px;
  //   gap: 1.5em;
  // }

  // &__product {
  //   grid-area: product;
  //   display: flex;
  //   align-items: center;
  //   justify-content: flex-start;
  //   flex-direction: row;
  //   flex-wrap: nowrap;
  // }

  // &__actions {
  //   &-desktop {
  //     display: block;
  //   }
  //   &-responsive {
  //     display: none;
  //     padding: 0px 20px;
  //   }
  // }

  // .list-card__checkbox {
  //   &-desktop {
  //     padding-right: 20px;
  //     display: block;
  //   }
  // }

  // &__picture {
  //   margin-right: 20px;
  //   width: 88px;
  //   height: 88px;
  //   position: relative;

  //   &-simple-item {
  //     border-radius: 4px;
  //     background-color: #efefef;
  //   }
  // }

  // &__img {
  //   border: 1px solid #ededed;
  //   object-fit: contain;
  //   width: 100%;
  //   height: 100%;

  //   &-simple-img {
  //     mix-blend-mode: multiply;
  //   }
  // }

  // &__span {
  //   font-size: 0.875rem;
  // }

  // &__span-small {
  //   font-size: 0.75rem;
  // }

  // &__description {
  //   color: var(--surface-700);
  //   align-items: flex-start;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   gap: 6px 0;
  // }

  // &__store {
  //   background-color: var(--purple-100);
  //   color: var(--purple-700);
  //   padding: 2px 4px;
  //   border-radius: 5px;
  //   font-weight: 600;
  // }

  // &__details {
  //   grid-area: details;
  //   display: flex;
  //   align-items: flex-start;
  //   justify-content: flex-end;
  //   flex-direction: row;
  //   gap: 1em;
  // }

  // &__span-bold {
  //   font-weight: 600;
  // }

  // &__stock {
  //   display: flex;
  //   flex-direction: column;
  // }

  // &__prices,
  // &__status {
  //   display: flex;
  //   gap: 6px 0;
  //   flex-direction: row;
  //   flex-wrap: nowrap;
  // }
  // &__prices {
  //   gap: 1em;
  // }

  // &__price {
  //   display: flex;
  //   flex-direction: column;
  //   flex-wrap: wrap;
  //   gap: 6px 0;
  // }

  &__status {
    // background-color: lavenderblush;
    flex-direction: column;
  }

  &__a {
    color: var(--primary-color);
    font-weight: 600;
  }
}

//*style for outstock
// .list-card.outofstock {
//   background-color: var(--surface-d);

//   .list-card__img {
//     opacity: 0.7;
//   }
// }

// @media screen and (max-width: 990px) {
//   .list-card {
//     &__content {
//       grid-template-columns: 1fr;
//       grid-template-areas:
//         "product"
//         "details";
//     }

//     &__product {
//       gap: 1em 0;
//     }

//     &__actions {
//       flex-direction: row;
//       flex-wrap: nowrap;
//       gap: 1.5em;
//       align-items: center;
//       justify-content: space-between;

//       &-desktop {
//         display: none;
//       }
//       &-responsive {
//         display: flex;
//       }
//     }

//     .list-card__checkbox {
//       &-desktop {
//         display: none;
//       }
//     }

//     &__details {
//       width: 100%;
//       max-width: 100%;
//       justify-content: space-between;
//     }
//   }
// }

// @media screen and (max-width: 570px) {
//   .list-card {
//     &__product,
//     &__details {
//       flex-direction: column;
//       align-items: flex-start;
//     }

//     &__picture {
//       width: 120px;
//       height: 120px;
//       margin-right: auto;
//     }
//   }
// }
