<div class="top-header">

    <div class="top-header__content container">

   
    <div class="top-header__row top-header__row-header">

        <div class="top-header__col">
            <app-breadcrumb [breadcrumbHomeItem]="breadcrumHome" [breadcrumbItems]="breadcrumbItems"></app-breadcrumb>
        </div>
        
        <div class="top-header__col">
            <button pButton pRipple type="button" routerLink="/dashboard/woocommerce/new-product" icon="pi pi-plus" label="Nuevo producto" class="p-button-success"></button>
    
        </div>
    </div>

    <div class="tow-header__row top-header__row-title">
        <h1 class="top-header__h1">Inventario</h1>
        <span class="top-header__span">26 productos</span>
    </div>
 
</div>
</div>

<ng-container *ngIf="statusData === 'success'">
   
    <div class="inventario">
    

        <div class="toolbar-actions container">
    
            <div class="toolbar-actions__left">
                <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
    
                <span class="toolbar-actions__separator"> </span>
    
                <div class="toolbar-actions__selection">
                    <p class="toolbar-actions__selection-label">
                        40 seleccionados
                    </p>
                </div>
            </div>
    
            <div class="toolbar-actions__center">
                <button type="button" class="toolbar-actions__btn p-ripple p-element p-button p-component p-button-text" > Modificar</button>
                <button type="button" class="toolbar-actions__btn p-ripple p-element p-button p-component p-button-warning p-button-text">Pausar</button>
                <button type="button" class="toolbar-actions__btn p-ripple p-element p-button p-component p-button-danger p-button-text">Eliminar</button>
    
            </div>
    
            <div class="toolbar-actions-right">
    
                <div class="toolbar-actions__search" [class.toolbar-actions__search-show]="hidenSearch">
                    <button
                    (click)="showSearch()"
                    severity="success"
                    type="button"
                    class="toolbar-actions__search-btn-toggle p-ripple p-element p-button p-component p-button-icon-only p-button-rounded p-button-text"
                   >
                    <span class="p-button-icon pi pi-search" aria-hidden="true"></span>
                  </button>
    
                  <div class="toolbar-actions__search-wrapper">
                    <span class="toolbar-actions__search-span p-input-icon-right">
                        <input
                          #searchProduct
                          [(ngModel)]="inputValue"
                          (input)="onInputChange()"
                          (keyup.enter)="getProductsBySearch()"
                          type="text"
                          placeholder="Buscar..."
                          pinputtext=""
                          placeholder="Titulo, Codigo, SKU o #"
                          class="toolbar-actions__search-input p-inputtext p-component p-element"
                        />
                         <i *ngIf="!showIcon; else iconSearch" class="toolbar-actions__search-i pi pi-search" (click)="hiddenSearch()"></i>
                            <ng-template #iconSearch>
                                <i class="toolbar-actions__search-i pi pi-times" (click)="clearInput()"></i>
    
                            </ng-template>
                            
                      </span>
                  </div>
                </div>
            </div>
    
        </div>
        <div class="woo-inventario__content">
            <app-card-product *ngFor="let product of products; let i = index; trackBy: trackByFn" [menu]="menuWC" [outOfStock]="product.stock_quantity === 0"> 
               <div class="product-card__checkbox">
                   <p-checkbox [value]="product"></p-checkbox>
               </div>
            
               <div class="product-card__product">
                   <div class="product-card__checkbox product-card__checkbox-desktop">
                       <p-checkbox [value]="product"></p-checkbox>
                   </div>
            
                   <div class="product-card__picture" >
                       <img [src]="product.images[0].src" alt="" class="product-card__img product-card__img-simple-img" />
                   </div>
            
                   <div class="product-card__description">
                       <div class="product-card__sku product-card__span-small">
                           #{{ product.id }} | Sku: {{ product.sku }}
                       </div>
                       <a href="#" class="product-card__link-product">
                           <div class="product-card__span product-card__span-bold">
                               {{ product.name | slice : 0 : 61 }}
                           </div>
                       </a>
            
                       <div class="product-card__store product-card__span-small">
                           Woocommerce
                       </div>
            
                       <div class="product-card__quantity product-card__span-small">
                           {{ product.stock_quantity }}
            
                           <ng-container [ngSwitch]="product.stock_quantity">
                               <ng-container *ngSwitchCase="0"> unidades </ng-container>
                               <ng-container *ngSwitchCase="1"> unidad </ng-container>
                               <ng-container *ngSwitchDefault> unidades </ng-container>
                           </ng-container>
                       </div>
                   </div>
               </div>
            
               <div *ngIf="product.regular_price && product.sale_price" class="product-card__details-col product-card__price">
                   <span class="product-card__span product-card__span-bold">${{ product.regular_price }}</span>
                   <span class="product-card__span-small">precio regular</span>
                   <a href="#" class="product-card__a product-card__span-small">Modificar precio</a>
               </div>
            
               <div *ngIf="product.regular_price && product.sale_price" class="product-card__details-col product-card__price">
                   <span class="product-card__span product-card__span-bold">${{ product.sale_price }}</span>
                   <span class="product-card__span-small">precio al publico</span>
               </div>
            
                   <div *ngIf="!product.regular_price || !product.sale_price" class="product-card__details-col product-card__price">
                       <span class="product-card__span product-card__span-bold">Precio no fijado</span>
                       <span class="product-card__span-small">Precio sin configurar</span>
            
                       <a href="#" class="product-card__a product-card__span-small">Modificar precio</a>
                   </div>
             
            
               <div class="product-card__details-col product-card__status">
                   <ng-container [ngSwitch]="product.stock_status">
                       <ng-container *ngSwitchCase="'outofstock'">
                           <span class="product-card__span product-card__span-bold">Inactivo</span>
            
                           <span class="product-card__span-small">No tienes mas unidades a la venta</span>
                       </ng-container>
            
                       <ng-container *ngSwitchCase="'instock'">
                           <span class="product-card__span product-card__span-bold">{{
                               product.total_sales
                               }}</span>
            
                           <span class="product-card__span-small">{{product.total_sales > 1 ? 'unidades vendidas' : 'unidad vendida'}}</span>
                       </ng-container>
                   </ng-container>
               </div>
         

               <div class="product-card__details-col product-card__toggle" *ngIf="product.stock_quantity >= 1">
                <span class="product-card__span-small">{{product.stock_quantity >=
                 1 ? 'Activo' : 'Inactivo'}}</span>
                <p-inputSwitch  [(ngModel)]="checked" [tabindex]="i"></p-inputSwitch>

               </div>

                  
               <div class="product-card__details-col product-card__actions product-card__actions-desktop">
                <button type="button"
                    class="product-card__btn product-card__btn-desktop p-ripple p-element p-button p-component p-button-icon-only p-button-rounded p-button-text">
                    <i class="pi pi-ellipsis-v"></i>
                </button>
            </div>
            </app-card-product>
    
        
           <div class=" container">
    
                 <!-- <div class="woo-inventario__pagination-left">
                    <span class="woo-inventario__pagination__span">Filas por página</span>
    
                    <p-dropdown [options]="[5, 10, 20, 40, 60, 120]" [(ngModel)]="rows" (onChange)="onRowsChange($event)"></p-dropdown> 
                </div> -->
    
                <div class="woo-inventario__pagination-right">
            
                <p-paginator 
                 [first]="first"
                 [rows]="rows" 
                 [totalRecords]="26" 
                 [showCurrentPageReport]="true"
                 
                 [rowsPerPageOptions]="[5,10, 20, 40, 50]"
                 currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros" 
                 (onPageChange)="onPageChange($event)" 
                
                 ></p-paginator>
                
                   
                </div> 
    
                
    
            </div> 
    
    
    
        </div>
    </div>
</ng-container>


<ng-container *ngIf="statusData === 'loading'">

    <div class="loader">
        <div class="loader__mask"></div>
        <div class="loader__spiner"></div>
    </div>
    
    
        <div class="container mt-4 ">
    
            <div class="skeleton__row skeleton__row-topbar">
                <div class="skeleton__col">
                    <p-skeleton size="2rem"></p-skeleton>
                </div>
                <div class="skeleton__col">
                    <p-skeleton height="2rem" width="18rem"></p-skeleton>

                </div>
                <div class="skeleton__col">
                    <p-skeleton height="2rem" width="18rem"></p-skeleton>

                </div>
            </div>

        <div *ngFor="let _ of [1, 2, 3, 4, 5]" class="skeleton__card ">
            <div class="skeleton__col skeleton__col-product flex mb-3">
                <p-skeleton  size="4rem" styleClass="mr-2"></p-skeleton>
                <div>
                    <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                    <p-skeleton width="15rem" styleClass="mb-2"></p-skeleton>
                    <p-skeleton width="5rem"></p-skeleton>
                </div>
            </div>
    
            <div class="skeleton__col skeleton__col-details flex mb-3">
                <p-skeleton  width="30rem" height="6rem" styleClass="mr-2"></p-skeleton>
               
            </div>
          
        </div>
    </div>

</ng-container>
