<div class="order-table container">
  <div class="order-row order-topbar">
   <ng-content select=".order-topbar__left"></ng-content>
      <div class="order-col order-topbar__right">
        <div class="topbar-search" [class.topbar-search-active]="hidenSearch">
          <button
           (click)="showSearch()"
           severity="success"
           type="button"
           class="topbar-searchbutton p-ripple p-element p-button p-component p-button-icon-only p-button-rounded p-button-text"
          >
           <i class="p-button-icon pi pi-search" aria-hidden="true"></i>
         </button>

          <div class="search-input-wrapper">
           <span class="p-input-icon-right">
            <input
              #searchProduct
              type="text"
              placeholder="Buscar..."
              pinputtext=""
              placeholder="Buscar producto"
              class="p-inputtext p-component p-element"
            />
             <i class="pi pi-search" (click)="hiddenSearch()"></i>
          </span>
         </div>
       </div>

       <button
        severity="success"
        class="p-ripple p-element p-button p-component p-button-icon-only p-button-rounded p-button-text"
        type="button"
        >
        <i class="order__i pi pi-sliders-v"></i>
       </button>
      </div>
  </div>
  <ng-content select=".order-card"></ng-content>
</div>


