<div class="order-table section" [ngSwitch]="statusData">


    <ng-template ngSwitchCase="loading">

        <app-loading-table></app-loading-table>
    </ng-template>


    <ng-template ngSwitchCase="success">

        <app-search-product></app-search-product>

     
        <!-- <app-table-pedidos *ngFor="let pending of ordersExample">

            <div class="order-header__left">
                <h3 class="order-header__h3">
                  #{{pending.nopedido}}
                </h3>
    
                <span class="order-header__separator">|</span>
    
                <span class="order-header__date">
                  {{pending.fechaautorizacion}}
                </span>
            </div>
    
            <div class="order-header__right">
                <span class="order-header__span">
                    Status
                </span>
    
                <span class="order-header__separator">|</span>
    
                <h3 class="order-header__status">
    
                    {{pending.estatus}}
                </h3>
            </div>
    
            <div class="order-content-left__info">
                
                <div class="order-date">
    
                    <span class="order__status order__status--pending">
                        {{pending.estatus}}
                    </span>
    
                </div>
    
                <div class="order-product">
    
                    <div class="order-product__content">
    
                        <a class="order-product__a" href="#"> {{pending.articulo}}</a>
                        <span class="order-product__span">sku: {{pending.sku}}</span>
                    </div>
                </div>
            </div>
    
            <div class="order-content-center__price">
                <div class="order-quantity">
                    <span class="order-quantity__span">{{pending.totalpedido}}</span>
                    <span class="order-quantity__span">|</span>
                    <span class="order-quantity__span"> unidad</span>
    
                </div>
            </div>
    
            <div class="order-content-right__actions">
                <button type="button" class="order-content-right__btn">Ver detalles</button>
            </div>
    
        </app-table-pedidos> -->

    </ng-template>


    <ng-template ngSwitchCase="error">
        <app-message></app-message>
    </ng-template>

<!-- 
    <ng-container>
        <div class="order-card order-result">

            <div class="order-header order-header__result">

                <i class="pi pi-info-circle order-result__icon"></i>
                <p class="order-result__p">Sin resultados</p>
            </div>

            <div class="order-content__result">

                <p class="order-result__p">
                    No se ha encontrado algun pedido
                </p>
            </div>

        </div>

    </ng-container> -->

</div>