<div class="inventory__unstyledContainer">
  <div class="inventory__container">
    <div class="inventory__toolbar sticky top-0 z-10 mb-8">
      <div [style]="{ 'background-color': 'var(--surface-card)' }"
        class="inventory__toolbar-row container p-3 flex items-center justify-between flex-wrap gap-2 mt-8">
        <div class="inventory__toolbar-col flex item-center gap-2">
          <p-checkbox [disabled]="dataProducts.length === 0" [binary]="true" inputId="binary"
            [(ngModel)]="isSelectAllProduct" (onChange)="toggleSelectAllProducts()">
          </p-checkbox>

          <div class="inventory__toolbar-separator ml-2 w-[1px] items-stretch block bg-slate-300"></div>
          <div class="w-32">
            @if (selectedProduct.length) {

            <p class="inventory__toolbar-selection-label text-sm text-slate-600">
              {{ selectedProduct.length }} seleccionados
            </p>

            }
          </div>
        </div>

        <div class="inventory__toolbar-col flex item-center gap-2">
          <p-button [style]="{ 'font-size': '14px' }" label="Pausar" [text]="true"
            [disabled]="isBtnActive.pause === false" [severity]="isBtnActive.pause ? 'warning' : 'secondary'">
          </p-button>
          <p-button [style]="{ 'font-size': '14px' }" label="Modificar" [text]="true"
            [disabled]="isBtnActive.modify === false" [severity]="isBtnActive.modify ? 'primary' : 'secondary'">
          </p-button>
          <p-button [style]="{ 'font-size': '14px' }" label="Eliminar" [text]="true"
            [disabled]="isBtnActive.eliminate === false" [severity]="isBtnActive.eliminate ? 'danger' : 'secondary'">
          </p-button>

          @if(isBtnActive.massiveModification) {

          <p-button [style]="{ 'font-size': '14px' }" label="Modificar de manera Masica" [text]="true"
            [disabled]="!isBtnActive.massiveModification" [severity]="
              isBtnActive.massiveModification ? 'primary' : 'secondary'
            ">
          </p-button>
          }
        </div>

        <div class="inventory__toolbar-col flex items-center gap-1">
          <!-- search -->
          <div class="inventory__search flex items-center justify-end gap-1 relative"
            [class.inventory__search-show]="hidenSearch">
            <div #midyv></div>

            <button (click)="showSearch()" severity="success" type="button"
              class="inventory__search-btn-toggle p-ripple p-element p-button p-component p-button-icon-only p-button-rounded p-button-text">
              <span class="p-button-icon pi pi-search" aria-hidden="true"></span>
            </button>

            <div class="inventory__search-wrapper relative flex items-center flex-row flex-nowrap gap-1">
              <span class="inventory__search-span w-[280px] flex items-center justify-end">
                <button (click)="toggleMenuSearch()" (click)="menuS.toggle($event)"
                  class="menuSearchType__btn flex items-center gap-1 text-sm text-slate-500 p-ripple p-element p-button p-component p-button-text p-button-plain">
                  {{ changeLabelBtn }}
                  <i class="pi pi-angle-down"></i>
                </button>

                <input #searchProduct name="inputSearch" [(ngModel)]="inputValue" (input)="onInputChange()"
                  (keyup.enter)="searchRecord(searchProduct.value)" type="text" [placeholder]="changePlaceHolder"
                  pinputtext="" [style]="{ 'font-size': '14px' }"
                  class="inventory__search-input p-inputtext p-component p-element border-none w-full" />

                @if (!showIcon) {
                <i class="inventory__search-i pi pi-search cursor-pointer" (click)="hiddenSearch()">
                </i>
                } @else {
                <i class="inventory__search-i pi pi-times" (click)="clearInput()">
                </i>
                }
              </span>

              <p-menu #menuS [model]="menuToolbar" [popup]="true" [appendTo]="midyv" id="menuToolbar"
                [style]="{ 'font-size': '14px' }"></p-menu>
            </div>
          </div>

          <!-- filter -->
          <p-button icon="pi pi-sliders-v" [rounded]="true" [text]="true" severity="primary"></p-button>
        </div>
      </div>
    </div>

    @switch (statusDataProducts) { 
      
      @case ('success') { 
      
      @for (product of dataProducts;track product.id; let i = $index) {

    <div [ngStyle]="{
        'background-color':
          product.status === 'inactive'
            ? 'var(--surface-200)'
            : 'var(--surface-card)'
      }" class="container product-card max-w-7xl mx-auto rounded-lg shadow-md shadow-indigo-500/10 mb-8"
      [class.outOfStock]="product.status === 'inactive'">
      <div
        class="product-card__actions flex flex-row flex-nowrap items-center justify-between gap-1 p-4 border-b-2 border-b-slate-100">
        <div class="product-card__actions-col">
          <p-checkbox [binary]="true" inputId="checkProduct{{ product.id }}" handlerCheckProduct [value]="product"
            [(ngModel)]="isSelectedEveryProduct[i]" (onChange)="toggleEveryProduct(product)">
          </p-checkbox>

          <span class="product-card__actions-id text-sm font-bold text-slate-600 pl-3" idProduct>
            #{{ product.id }}
          </span>
        </div>
        <div class="product-card__actions-col">
          <button type="button" (click)="menuOption.toggle($event)"
            class="p-ripple p-element p-button p-component p-button-icon-only p-button-rounded p-button-text">
            <i class="pi pi-ellipsis-v"></i>
          </button>

          <p-menu #menuOption [model]="menuProduct" [popup]="true" [style]="{ 'font-size': '14px' }"></p-menu>
        </div>
      </div>


        @if(product.isDropdownInformation) {

          
          <div class="product-card__container px-6 py-7 flex items-start"> 

            <p-button icon="pi pi-chevron-down" (onClick)="collapseContent(i, product.id)" [rounded]="true" [text]="true" severity="danger "></p-button>

            <div class="product-card__content grid grid-cols-1 lg:grid-cols-2 w-full ml-4">

         
          @if(!isCollapsing(i)) {

            <div class="product-card__product flex flex-col lg:flex-row items-start lg:items-center justify-start gap-4">
              <div class="product-card__description flex items-start flex-col justify-center gap-2 mb-6 lg:mb-0">
                <div class="product-card__sku text-xs">
                  #{{ product.id }} | Sku: {{ product.sku }}
                </div>
                <a href="#" class="product-card__link-product">
                  <div [ngStyle]="{
                      color: product.status === 'inactive' && 'var(--surface-600)'
                    }" class="product-card__name text-sm font-bold">
                    {{ product.title | slice : 0 : 61 }}
                  </div>
                </a>
               @if(product.store === 'claroshop') {
                <div
                  class="product-card__store product-card__store-woocommerce text-xs font-bold rounded-md inline py-1 px-2 bg-red-100 text-red-700">
                  ClaroShop
                </div>
                } @if(product.units) {
                <div class="product-card__quantity text-xs font-semibold">
                  {{ product.units }}
                  {{ product.units === 0 ? "unidad" : "unidades" }}
                </div>
                } @else if (product.units === null || product.status === 'active') {
                <span class="text-xs font-semibold text-green-600">
                  Hay Existencia
                </span>
                } @else if(product.units === 0 && product.status === 'inactive') {
    
                <span class="text-xs font-semibold"> 0 Unidades</span>
                } @else {
                <span class="text-xs font-semibold"> 0 Unidades</span>
    
                }
              </div>
            </div>

            <div class="product-card__extra-info flex items-start justify-evenly flex-col lg:flex-row gap-6 lg:gap-4">
              <div class="product-card__extra-col flex flex-col flex-wrap gap-y-2 lg:gap-y-1.5">
                <span class="product-card__price text-sm font-semibold" [ngStyle]="{
                    color: product.status === 'inactive' && 'var(--surface-600)'
                  }">
                  {{ product.regular_price | currency }}
                </span>
    
                <span class="product-card__label text-xs"> precio regular </span>
    
                <a href="#" class="product-card__a text-xs text-blue-700 font-semibold">
                  Modificar precio
                </a>
              </div>
    
              <div class="product-card__extra-col flex flex-col flex-wrap gap-y-2 lg:gap-y-1.5">
                <span class="product-card__sale text-sm font-semibold" [ngStyle]="{
                    color: product.status === 'inactive' && 'var(--surface-600)'
                  }">
                  {{ product.sale_price || product.regular_price | currency }}
                </span>
    
                <span class="product-card__label text-xs"> precio al publico </span>
              </div>
    
              <div class="product-card__extra-col flex flex-col flex-nowrap gap-y-2 lg:gap-y-1.5">
                <span class="product-card__isActive-product text-sm font-semibold" [ngStyle]="{
                    color: product.status === 'inactive' && 'var(--surface-600)'
                  }">
                  {{ product.status === "active" ? "Activo" : "Inactivo" }}
                </span>
                <p-inputSwitch [name]="product.sku" inputId="inputSwitchProduct {{ product.id }}" [trueValue]="
                    (product.units === 0 || product.units === null) ||
                    product.status === 'inactive'
                  " [disabled]="true" [readonly]="true"></p-inputSwitch>
              </div>
         
          </div>

          } @else {

            @switch (statusDataProduct) {
              
              @case('loading') {

                <div
                class="skeleton__card flex flex-col lg:flex-row items-start lg:items-center justify-start  gap-4">
                <div class="skeleton__col skeleton__col-product flex mb-3">
                  <p-skeleton size="4rem" styleClass="mr-2"></p-skeleton>
                  <div>
                    <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                    <p-skeleton width="15rem" styleClass="mb-2"></p-skeleton>
                    <p-skeleton width="5rem"></p-skeleton>
                  </div>
                </div>
              </div>
              <div class="skeleton__col skeleton__col-details flex mb-3">
                <p-skeleton width="30rem" height="6rem" styleClass="mr-2"></p-skeleton>
              </div>
              }

              @case('success') {
                  <div class="product-card__product flex flex-col lg:flex-row items-start lg:items-center justify-start gap-4">
                   
                    <div class="product-card__picture my-6 mx-auto lg:mx-0 lg:my-0 w-[180px] h-[180px] lg:w-[120px] lg:h-[120px]">
                     

                        <img [ngStyle]="{ opacity: dataProduct?.status === 'inactive' && '.7' }"
                          [src]="dataProduct?.imagesProduct?.[0]?.src || ''"
                          class="product-card__img product-card__img-simple-img mix-blend-multiply w-full h-full object-contain object-center border-2 border-slate-100" />
                        </div>
                      
      
                    <div class="product-card__info flex items-start flex-col justify-center gap-2 mb-6 lg:mb-0">
                      <div class="product-card__info-sku text-xs">
                        #{{ dataProduct?.id}} | Sku: {{ dataProduct?.sku }}
                      </div>
      
                      <a href="#" class="product-card__info-link-product">
                        <div [ngStyle]="{
                            color: dataProduct?.status === 'inactive' && 'var(--surface-600)'
                          }" class="product-card__name text-sm font-bold">
                          {{ dataProduct?.title | slice : 0 : 61 }}
                        </div>
                      </a>
                
                      <div
                        class="product-card__info-store product-card__store-woocommerce text-xs font-bold rounded-md inline py-1 px-2 bg-red-100 text-red-700">
                        ClaroShop
                      </div>
      
                      @if(dataProduct?.units) {
                        <div class="product-card__info-quantity text-xs font-semibold">
                          {{ dataProduct?.units }}
                          {{ dataProduct?.units === 0 ? "unidad" : "unidades" }}
                        </div>
                        } @else if (dataProduct?.units === null || dataProduct?.status === 'active') {
                        <span class="text-xs font-semibold text-green-600">
                          Hay Existencia
                        </span>
                        } @else if(dataProduct?.units === 0 && dataProduct?.status === 'inactive') {
            
                        <span class="text-xs font-semibold"> 0 Unidades</span>
                        } @else {
                        <span class="text-xs font-semibold"> 0 Unidades</span>
            
                        }
                 </div>
      
                  </div>
              }

              @case('error') {

              }

              @case('empty') {

              }
            }

           
          }
        </div>
        
          </div>


        } @else {
          <div class="product-card__content grid grid-cols-1 lg:grid-cols-2 px-6 py-7"> 
            
          <div class="product-card__product flex flex-col lg:flex-row items-start lg:items-center justify-start gap-4">

              <div class="product-card__picture my-6 mx-auto lg:mx-0 lg:my-0 w-[180px] h-[180px] lg:w-[120px] lg:h-[120px]">
                <img [ngStyle]="{ opacity: product.status === 'inactive' && '.7' }" *ngIf="product.imagesProduct"
                  [src]="product.imagesProduct[0].src" alt="product"
                  class="product-card__img product-card__img-simple-img mix-blend-multiply w-full h-full object-contain object-center border-2 border-slate-100" />
              </div>

              <div class="product-card__info flex items-start flex-col justify-center gap-2 mb-6 lg:mb-0">
                  <div class="product-card__info-sku text-xs">
                    #{{ product.id}} | Sku: {{ product.sku }}
                  </div>

                  <a href="#" class="product-card__info-link-product">
                    <div [ngStyle]="{
                        color: product.status === 'inactive' && 'var(--surface-600)'
                      }" class="product-card__name text-sm font-bold">
                      {{ product.title | slice : 0 : 61 }}
                    </div>
                  </a>
            
                  <div
                    class="product-card__info-store product-card__store-woocommerce text-xs font-bold rounded-md inline py-1 px-2 bg-red-100 text-red-700">
                    ClaroShop
                  </div>

                  @if(product.units) {
                    <div class="product-card__info-quantity text-xs font-semibold">
                      {{ product.units }}
                      {{ product.units === 0 ? "unidad" : "unidades" }}
                    </div>
                    } @else if (product.units === null || product.status === 'active') {
                    <span class="text-xs font-semibold text-green-600">
                      Hay Existencia
                    </span>
                    } @else if(product.units === 0 && product.status === 'inactive') {
        
                    <span class="text-xs font-semibold"> 0 Unidades</span>
                    } @else {
                    <span class="text-xs font-semibold"> 0 Unidades</span>
        
                    }
             </div>

          </div>

          <div class="product-card__extra-info flex items-start justify-evenly flex-col lg:flex-row gap-6 lg:gap-4">
              <div class="product-card__extra-col flex flex-col flex-wrap gap-y-2 lg:gap-y-1.5">
                <span class="product-card__price text-sm font-semibold" [ngStyle]="{
                    color: product.status === 'inactive' && 'var(--surface-600)'
                  }">
                  {{ product.regular_price | currency }}
                </span>
    
                <span class="product-card__label text-xs"> precio regular </span>
    
                <a href="#" class="product-card__a text-xs text-blue-700 font-semibold">
                  Modificar precio
                </a>
              </div>
    
              <div class="product-card__extra-col flex flex-col flex-wrap gap-y-2 lg:gap-y-1.5">
                <span class="product-card__sale text-sm font-semibold" [ngStyle]="{
                    color: product.status === 'inactive' && 'var(--surface-600)'
                  }">
                  {{ product.sale_price || product.regular_price | currency }}
                </span>
    
                <span class="product-card__label text-xs"> precio al publico </span>
              </div>
    
              <div class="product-card__extra-col flex flex-col flex-nowrap gap-y-2 lg:gap-y-1.5">
                <span class="product-card__isActive-product text-sm font-semibold" [ngStyle]="{
                    color: product.status === 'inactive' && 'var(--surface-600)'
                  }">
                  {{ product.status === "active" ? "Activo" : "Inactivo" }}
                </span>
                <p-inputSwitch [name]="product.sku" inputId="inputSwitchProduct {{ product.id }}" [trueValue]="
                    (product.units === 0 || product.units === null) ||
                    product.status === 'inactive'
                  " [disabled]="true" [readonly]="true"></p-inputSwitch>
              </div>
         
          </div>

          </div>
        }
    </div>
    }

    <div class="inventory__pagination my-8 container">
      <p-paginator [style]="{ 'font-size': '14px' }" [first]="paginationParams.first" [rows]="paginationParams.rows"
        [totalRecords]="totalRecords" [rowsPerPageOptions]="perPageOptions" (onPageChange)="onPageChange($event)">
      </p-paginator>
    </div>
    } @case ('loading') {

    <div class="loader fixed top-0 left-0 w-full h-screen flex items-center justify-center z-10">
      <div class="loader__mask absolute top-0 left-0 w-full h-screen z-[10]"></div>
      <div class="loader__spiner w-20 h-4 relative z-[11]"></div>
    </div>
    <div class="container mt-4">
      @for (_ of [1, 2, 3, 4, 5]; track _) {
      <div
        class="skeleton__card flex flex-col lg:flex-row gap-1 flex-wrap items-center justify-between p-6 bg-white mt-10">
        <div class="skeleton__col skeleton__col-product flex mb-3">
          <p-skeleton size="4rem" styleClass="mr-2"></p-skeleton>
          <div>
            <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="15rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="5rem"></p-skeleton>
          </div>
        </div>
        <div class="skeleton__col skeleton__col-details flex mb-3">
          <p-skeleton width="30rem" height="6rem" styleClass="mr-2"></p-skeleton>
        </div>
      </div>
      }
    </div>

    } @case('empty') {
    <div class="empty-card container bg-white my-6 py-6">
      <div class="empty-card__image">
        <picture class="empty-card__picture">
          <source srcset="assets/img/svg/NoSearchResult.png" type="image/png" />
          <img src="assets/img/svg/NoSearchResult.png" class="empty-card__img mx-auto max-w-52"
            alt="resultado de busqueda" loading="lazy" />
        </picture>
      </div>
      <div class="empty-card__text mx-auto mt-4">
        <h3 class="empty-card__text-title text-center font-semibold">
          Sin resultados...
        </h3>
        <p class="empty-card__text-p text-center text-slate-600">
          intenta ajustar tu búsqueda para encontrar lo que buscas
        </p>
      </div>
    </div>
    } @case ('error') { } }
  </div>
</div>