
      <div class="order-card section"> 
    
           <div class="order-header">
    
               <ng-content select=".order-header__left"></ng-content>
    
               <ng-content select=".order-header__right"></ng-content>
    
           </div>
    
           <div class="order-content">
    
               <div class="order-content-left">
                    <ng-content select=".order-content-left__info"></ng-content>
                    
               </div>

               <div class="order-content-center">
                <ng-content select=".order-content-center__price"></ng-content>
                
               </div>

               <div class="order-content-right">
                <ng-content select=".order-content-right__actions"></ng-content>
                
               </div>
    
          
           </div>
    
       </div>
  
