<div class="dashboard__unstyledContainer">
  <div
    class="dashboard__wrapperOverlay fixed z-10 lg:w-0 lg:h-0 lg:top-0 lg:left-0 lg:hidden"
    [class.isActive-overlay]="handlerOverlay$ | async">
  </div>

  <div class="dashboard__wrapper">
    <div class="dashboard__navegation">
      <app-sidebar></app-sidebar>
    </div>

    <div
      class="dashboard__body lg:ml-[92px]"
      [class.translate-body]="sidebarVisible$ | async">
      <div class="dashboard__navbar">
        <app-navbar></app-navbar>
      </div>

      <div class="dashboard__content">
        <router-outlet></router-outlet>
      </div>
    </div>

    <div class="theme">
      <i class="theme__i material-icons" (click)="handlerSidebarTheme = true"
        >settings</i
      >
    </div>

    <p-sidebar
      [(visible)]="handlerSidebarTheme"
      [baseZIndex]="50"
      position="right"
    >
      <h3>Elige un tema:</h3>

      <div class="theme__content">
        <h4>Temas Claros</h4>
        <div class="theme__card card">
          <div class="gap-2 flex items-center flex-col">
            <button (click)="changeTheme('purple')" class="mr-3 cursor-pointer">
              <img
                class="theme__img"
                src="assets/img/themes/saga-blue.png"
                width="50"
              />
            </button>

            <span class="whitespace-nowrap theme__span">Purple</span>
          </div>

          <div class="gap-2 flex items-center flex-col">
            <button
              (click)="changeTheme('light-deeppurple')"
              class="mr-3 cursor-pointer"
            >
              <img
                class="theme__img"
                src="assets/img/themes/vela-blue.png"
                width="50"
              />
            </button>

            <span class="whitespace-nowrap theme__span">Deep Purple</span>
          </div>

          <div class="gap-2 flex items-center flex-col">
            <button
              (click)="changeTheme('lara-light-indigo')"
              class="mr-3 cursor-pointer"
            >
              <img
                class="theme__img"
                src="assets/img/themes/arya-blue.png"
                width="50"
              />
            </button>
            <span class="white-sapce-nowrap theme__span">Lara Indigo</span>
          </div>

          <div class="col-3 flex flex-column align-item-center gap-2">
            <button
              (click)="changeTheme('saga-blue')"
              class="mr-3 cursor-pointer"
            >
              <img
                class="theme__img"
                src="assets/img/themes/md-light-indigo.svg"
                width="50"
              />
            </button>
            <span class="white-sapce-nowrap theme__span">Soho Light</span>
          </div>
        </div>
      </div>

      <div class="theme__content">
        <h4>Temas Oscuros</h4>
        <div class="theme__card card">
          <div class="col-3 flex flex-column align-item-center gap-2">
            <button
              (click)="changeTheme('boostrap-dark-blue')"
              class="mr-3 cursor-pointer"
            >
              <img
                class="theme__img"
                src="assets/img/themes/saga-blue.png"
                width="50"
              />
            </button>

            <span class="white-sapce-nowrap theme__span">Saga blue</span>
          </div>

          <div class="col-3 flex flex-column align-item-center gap-2">
            <button
              (click)="changeTheme('lara-dark-indigo')"
              class="mr-3 cursor-pointer"
            >
              <img
                class="theme__img"
                src="assets/img/themes/vela-blue.png"
                width="50"
              />
            </button>

            <span class="white-sapce-nowrap theme__span">Vela blue</span>
          </div>

          <div class="col-3 flex flex-column align-item-center gap-2">
            <button
              (click)="changeTheme('vela-blue')"
              class="mr-3 cursor-pointer"
            >
              <img
                class="theme__img"
                src="assets/img/themes/arya-blue.png"
                width="50"
              />
            </button>
            <span class="white-sapce-nowrap theme__span">Arya blue</span>
          </div>
        </div>
      </div>
    </p-sidebar>
  </div>
</div>
