<div class="card-pagination container">

    <div class="card-pagination__left">
        <span class="woo-inventario__pagination__span">Filas por página</span>
        <p-dropdown [options]="quantityRecordsPerPage" [(ngModel)]="currentRowsPerPage" (ngModelChange)="currentPage = 0"></p-dropdown>
    </div>
    <div class="card-pagination__right">
        <p-paginator 
        [first]="currentPage" 
        [rows]="currentRowsPerPage" 
        [totalRecords]="totalRecords" 
        [showPageLinks]="true" 
        [showFirstLastIcon]="true"
        (onPageChange)="onPageChange($event)"
        [showJumpToPageDropdown]="true"
        >
    
    </p-paginator>
    </div>

</div>