.sidebar {
  background-color: #fff;
  position: fixed;
  height: 100vh;
  top: 80px;
  left: 0;
  width: 18rem;
  display: flex;
  flex-direction: column;

  &__logo {
    max-width: 180px;
    margin: 0 auto;
    padding: 1.7rem 1.57rem 0.5rem 2.42rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__menu {
    overflow: auto;
    flex: 1;
    padding-bottom: 2rem;

  }

  &__ul {
    margin: 0;
    padding: 0 1.5rem;
    list-style-type: none;

  }
  
}

.sidebar ::ng-deep .p-panelmenu-header-link{
  background-color: transparent;
  border: none;
}