/* You can add global styles to this file, and also import other style files */
@import '_reset';
@import '_mixin';
@import "primeicons/primeicons.css";
@import 'material-icons/iconfont/material-icons.css';

:root {
    --shadow: 0 10px 10px hsla(0deg, 0%, 0%, 0.05);
    --card-shadow: 0px 10px 40px rgba(41, 50, 65, .06);
}

//* MODO RESPONSIVE PARA DESKTOP, TABLE & MOBILE
.container {
width: 90%;
max-width: 80rem;
margin-left: auto;
margin-right: auto;
}

.section {
  padding: 36px 24px;
}

// .section {
//     margin-left: 16em;
//     padding-top: 5em;
//  }
 
//  .section__container {
//      border-top: 1px solid var(--surface-border);
//      overflow: auto;
//      height: calc(100vh - 5rem);
//      padding: 2rem;
//      background-color: var(--surface-ground);
//      border-top-left-radius: 30px;
//      box-shadow: inset 0 3px 4px #0000001a;
//      position: relative;
//      z-index: 20;
//  }




:root {
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;
    --light: #fff;
    --blue: #3C91E6;
    --light-blue: #CFE8FF;
    --grey: #f4f6fd;
    --dark-grey: #AAAAAA;
    --dark: #342E37;
    --red: #DB504A;
    --yellow: #FFCE26;
    --light-yellow: #FFF2C6;
    --orange: #FD7238;
    --light-orange: #FFE0D3;
    --active-color:#6362e7;
    --c-title: #1e2f65;
    --c-text: #495057;
    --c-body: #f4f6fd;
    font-family: var(--poppins);
  }
  html {
    overflow-x: hidden;
  }
  body.dark {
    --light: #0C0C1E;
    --grey: #060714;
    --dark: #FBFBFB;
  }
  body {
    background: #f4f6fd;
    overflow-x: hidden;
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--c-title);
    font-family: 'Poppins', sans-serif;
  }

  p {
    color: var(--c-text);
    font-family: 'Poppins', sans-serif;
  }

  a, button, label, span, small{
    font-family: 'Poppins', sans-serif;
  }