/* You can add global styles to this file, and also import other style files */
@import '_reset';
@import '_mixin';
@import "primeicons/primeicons.css";
@import 'material-icons/iconfont/material-icons.css';

:root {
    --shadow: 0 10px 10px hsla(0deg, 0%, 0%, 0.05);
    --card-shadow: 0px 10px 40px rgba(41, 50, 65, .06);
}

//* MODO RESPONSIVE PARA DESKTOP, TABLE & MOBILE
.container {
width: 90%;
max-width: 80rem;
margin-left: auto;
margin-right: auto;
}

.section {
  padding: 36px 24px;
}

// .section {
//     margin-left: 16em;
//     padding-top: 5em;
//  }
 
//  .section__container {
//      border-top: 1px solid var(--surface-border);
//      overflow: auto;
//      height: calc(100vh - 5rem);
//      padding: 2rem;
//      background-color: var(--surface-ground);
//      border-top-left-radius: 30px;
//      box-shadow: inset 0 3px 4px #0000001a;
//      position: relative;
//      z-index: 20;
//  }




:root {
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;

  }

 
  body {
    // background: #f4f6fd;
    // overflow-x: hidden;
    font-family: 'Poppins';

    background-color: var(--surface-ground);
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--text-color);
  }

  h1, h2, h3, h4, h5, h6 {
    // color: var(--c-title);
    color: var(--surface-900);
    font-family: 'Poppins', sans-serif;
    margin: 1.5rem 0 1rem;
    font-weight: 600;
    line-height: 1.2;
  }

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }
  p {
    // color: var(--c-text);
    color: var(--surface-800);
    font-family: 'Poppins', sans-serif;
  }

  a, button, label, span, small{
    font-family: 'Poppins', sans-serif;
  }

 
  textarea, input {
    font-family: 'Poppins', sans-serif !important;

  } 

  //* ============ SCROLL BAR =============

::-webkit-scrollbar {
  width: 0.85rem;
  scrollbar-width: auto;
  border-radius: 0.5rem;
  background-color: hsl(228, 8%, 76%);
  

}

::-webkit-scrollbar-thumb {
  background-color: #3f51b5;
 
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(228, 8%, 54%);
}

// .breadcrumb {
//   position: relative;
   
 
//   &::before {
//       position: absolute;
//       content: "";
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 410px;
//       background-color: var(--active-color);
//       z-index: -1;

//   }

//   &__ul {
//     @include flexible(flex, row, wrap, flex-start, center);
//       gap: 0.5em;
//   }

//   &__li {
//     @include flexible(flex, row, wrap, center, center);
//     gap: 0.5em;
//   }

//   &__i, &__span, &__h6, &__a {
//     color: var(--light);
//   }
// }

.expansion-panel-header__defaultValue, .expansion-panel-header__value {
  font-size: .895rem;
color: var(--surface-600);
}


.expansion-panel-header__value { 
  font-size: .985rem;
}