<div class="breadcrumb section">
 
    <ul class="breadcrumb__ul">

        <li class="breadcrumb__li">
            <h6 class="breadcrumb__h6">Dashboard ></h6>
        </li>

        <li class="breadcrumb__li">
            <i class="breadcrumb__i material-icons">storefront</i>
            <h6 class="breadcrumb__h6">Woocommerce</h6>
            <span class="breadcrumb__span"> > </span>
            
        </li>

        <li class="breadcrumb__li breadcrumb__link">
            <i class="breadcrumb__i material-icons">pallet</i>
            <a routerLink="/dashboard/wocommerce/inventario" class="breadcrumb__a">
                Inventario</a>
        </li>

    </ul>
</div>

<div class="product section">

    <form action="#" class="form-product">
        <div class="form__container">

            <div class="product__title">

                <div class="product-details">
                    <a class="product-details__a" href="#">Name product</a>
                </div>

                <div class="product-details">
                    <span class="product-details__span" href="#">code product</span>
                    <p class="product-details__span" href="#"> Unidades vendidas: <span class="">66</span> </p>

                </div>

                <div class="product__img">
                    <img src="" alt="">
                </div>

            </div>

            <div class="form__section">
                
            </div>

        </div>
    </form>
</div>