<app-orders [dataOrders]="pendingOrders"></app-orders>


<!-- 
<div class="order-table section" [ngSwitch]="statusData">

        <ng-template #data ngSwitchCase="success">

            <div class="order-search">
        
                <div class="order-search__left">
                  
                    <span class="order-search__content">
                        <i class="order-search__icon order-search__icon-1 pi pi-search"></i>
                        <input [(ngModel)]="searchTerm" name="searchText" class="order-search__input" type="text" pInputText />
                        <i class="order-search__icon order-search__icon-2 pi pi-info-circle" pTooltip="Busca por # venta, producto o nombre de la persona que lo compro"></i>
                    </span>
                </div>
    
                <div class="order-search__right">
                    <span class="order-search__span">3 ventas</span>
                </div>
    
        </div>
        <app-orders-template [dataOrders]="pendingOrders" ></app-orders-template>
   
        </ng-template>

            <ng-template #dataLoading ngSwitchCase="loading">
        <app-loading-table></app-loading-table>
    </ng-template>

     
    <ng-template  #dataError ngSwitchCase="error">
        <app-message [titleError]="titleError" [DetailError]="messageError" [cssClasses]="'p-message-error'" [icon]="'pi-close'"></app-message>
     </ng-template>

     <ng-template  #dataEmpty ngSwitchCase="empty">
        <app-message [titleError]="'Sin datos'" [DetailError]="'No hay datos que mostrar'" [cssClasses]="'p-message-warn'" [icon]="'pi-exclamation-triangle'"></app-message>
     </ng-template>
    </div>  -->
