<div class="woocommerce__head section">
  <ul class="woocommerce-breadcrumb__ul">
    <li class="woocommerce-breadcrumb__li">
      <h1 class="woocommerce-breadcrumb__h1">Tiendas</h1>
    </li>

    <li class="woocommerce-breadcrumb__li">
      <span> > </span>
    </li>

    <li class="woocommerce-breadcrumb__li">
      <span>Woocommerce</span>
    </li>

    <li class="woocommerce-breadcrumb__li">
      <span> > </span>
    </li>

    <li class="woocommerce-breadcrumb__li">
      <a routerLink="/dashboard/woocommerce/inventario" class="woocommerce-breadcrumb">Inventario</a>
    </li>

    <li class="woocommerce-breadcrumb__li">></li>

    <li class="woocommerce-breadcrumb__li">
      <a class="woocommerce-breadcrumb__a woocommerce-breadcrumb__a--active">Nuevo Producto</a>
    </li>
  </ul>
</div>

<div class="wcnew">
 
   
    <div class="avanceStatus">
      <div class="avanceStatus__content">
        <div class="avanceStatus__progress">
          <p-knob
            [(ngModel)]="completed"
            valueColor="purple"
            [size]="110"
            valueTemplate="{value}%"
            [min]="0"
            [max]="100"
            [readonly]="true"
          ></p-knob>

          <div class="avanceStatus__completed">
            <span class="avanceStatus__span">Completado:</span>
            <span class="avanceStatus__span--avance">
              {{ numFieldValid }} / 8</span
            >
          </div>
        </div>

        <div class="card flex justify-content-center gap-2">
          <button
            (click)="registerProduct()"
            type="submit"
            pButton
            pRipple
            label="Registrar"
            [disabled]="formRegisterProducto.invalid"
            class="wcnew-aside__btn p-button-primary"
          ></button>
        </div>
      </div>
    </div>


    <form action="#" class="steps__form" [formGroup]="formRegisterProducto" (ngSubmit)="registerProduct()">
      <div class="steps__container">
        <div class="steps-header">
          <div class="steps-header__left">
            <h3 class="steps-header__h3">Registro de producto</h3>
            <p class="steps-header__p">
              Sigue los simple 4 pasos para completar el registro de tu producto
            </p>
          </div>

          <div class="steps-header__right">
            <img src="assets/img/producto.png" alt="Registro de producto" class="steps-header__img" />
          </div>
        </div>

        <div class="steps__content">
          <div class="fieldset">
            <p-fieldset legend="Datos basicos" [toggleable]="true">
              <div class="form-section">
                <label class="form-section__label" htmlFor="title">*Titulo del producto:
                </label>
                <input class="form-section__input" pInputText id="title" (blur)="completedStatus()"
                  placeholder="Ingrese un titulo para el producto" formControlName="name"
                  [class.is-invalid]="validField('name')" [maxlength]="60"
                  [ngClass]="{ 'ng-invalid ng-dirty': validField('name') }" />
                <span class="form-section__words">{{
                  formRegisterProducto.get("name")?.value.length
                  }}
                  /60</span>
                <small *ngIf="validField('name')" class="p-error">El titulo es obligatorio</small>
              </div>

              <div class="form-section">
                <label class="form-section__label" htmlFor="description">*Descripción del producto:
                  <i class="form-section__i material-icons"
                    pTooltip="Describe este producto, ¿Qué lo hace único?, ¿Cúales son sus características más importantes?"
                    tooltipStyleClass="form-section__toolTip" tooltipPosition="bottom">help</i>
                </label>
                <textarea class="form-section__textarea" id="description" (blur)="completedStatus()"
                  placeholder="Descripción larga del producto" formControlName="description" rows="14" cols="30"
                  pInputTextarea [autoResize]="true" [maxlength]="5000" [class.is-invalid]="validField('description')"
                  [ngClass]="{
                    'ng-invalid ng-dirty': validField('description')
                  }">
                </textarea>
                <span class="form-section__words">{{
                  formRegisterProducto.get("description")?.value.length
                  }}
                  /5000</span>

                <small *ngIf="validField('description')" class="p-error">La descripción es obligatorio</small>
              </div>
            </p-fieldset>
          </div>

          <div class="fieldset">
            <p-fieldset legend="Datos extras" [toggleable]="true">
              <div class="form-section">
                <textarea class="form-section__textarea" placeholder="Descripción corta del producto"
                  id="shortDescription" (blur)="completedStatus()" rows="8" cols="30" pInputTextarea [autoResize]="true"
                  [maxlength]="2000" formControlName="short_description"
                  [class.is-invalid]="validField('short_description')" [ngClass]="{
                    'ng-invalid ng-dirty': validField('short_description')
                  }">
                </textarea>
                <span class="form-section__words">{{
                  formRegisterProducto.get("short_description")?.value.length
                  }}
                  /2000</span>

                <small *ngIf="validField('short_description')" class="p-error">La descripción corta es
                  obligatorio</small>
              </div>
            </p-fieldset>
          </div>

          <div class="fieldset">
            <p-fieldset  legend="Precio del producto" [toggleable]="true">
              
              <div class="form-section">
                <label class="form-section__label" htmlFor="price">*Precio normal del producto:</label>

                <p-inputNumber class="form-section__input" inputId="price" mode="currency"
                  currency="USD" locale="en-US" placeholder="$0.00" formControlName="regular_price"
                  [class.is-invalid]="invalidField('regular_price')" [ngClass]="{ 'ng-invalid ng-dirty': invalidField('regular_price') }">
  
                </p-inputNumber>
  
                <small *ngIf="validField('regular_price')" class="p-error">El precio es obligatorio</small>
              </div>

              <div class="form-section">
                <label class="form-section__label" htmlFor="rebaja">*Precio con rebaja del producto:</label>

                <p-inputNumber  class="form-section_input" id="rebaja" mode="currency"
                  currency="USD" locale="en-US" placeholder="$0.00" formControlName="sale_price"
                  [class.is-invalid]="salePriceInvalid "
                  [ngClass]="{ 'ng-invalid ng-dirty': [salePriceInvalid] }">
  
                </p-inputNumber>
                <small *ngIf="salePriceInvalid" class="p-error">El precio oferta es obligatorio</small>
              </div>
            </p-fieldset>
          </div>

          <p-fieldset legend="Inventario" [toggleable]="true">
          
          
            <div class="form-section">
              <label class="form-section__label" htmlFor="sku">*SKU del producto:
                <i class="form-section__i material-icons"
                  pTooltip="SKU se refiere a una unidad de almacenamiento de inventario, un identificador único para cada producto y servicio que se puede comprar."
                  tooltipStyleClass="form-section__toolTip" tooltipPosition="bottom">help</i>
              </label>

              <input class="form-section__input" pInputText id="sku" (blur)="completedStatus()" formControlName="sku"
                [class.is-invalid]="validField('sku')" [ngClass]="{ 'ng-invalid ng-dirty': validField('sku') }" />
              <small *ngIf="validField('sku')" class="p-error">El SKU oferta es obligatorio</small>
            </div>

            <div class="form-section">

              <label class="form-section__label" htmlFor="cantidad">*Cantidad:
                <i class="form-section__i material-icons"
                  pTooltip="SKU se refiere a una unidad de almacenamiento de inventario, un identificador único para cada producto y servicio que se puede comprar."
                  tooltipStyleClass="form-section__toolTip" tooltipPosition="bottom">help</i>
              </label>

              <p-inputNumber inputId="integeronly" class="form-section__input" (onBlur)="completedStatus()"
                formControlName="stock_quantity" [class.is-invalid]="validField('stock_quantity')"
                [ngClass]="{ 'ng-invalid ng-dirty': validField('stock_quantity') }">
              </p-inputNumber>

              <small *ngIf="validField('stock_quantity')" class="p-error">Indique la cantidad minima</small>

            </div>
          </p-fieldset>
        </div>
      </div>
    </form>


    <div class="form-section">
      <pre>
        {{  formRegisterProducto.value | json}}
      </pre>
    </div>

    <div class="form-section">
      <pre>
        Estado del formulario: {{  formRegisterProducto.valid }}
        <br>
        Status: {{  formRegisterProducto.status}}
      </pre>
  
  </div>

  <!-- <aside class="wcnew-aside">

      <div class="wcnew-aside__content">

        <div class="avanceStatus avanceStatus__desktop">
          <div class="avanceStatus__content">

            <div class="avanceStatus__bar">
  
              <p-knob [(ngModel)]="completed" valueColor="green" [size]="130" valueTemplate="{value}%" [min]="0" [max]="100"
                [readonly]="true"></p-knob>
            </div>
  
            <div class="avanceStatus__completed">
              <span class="avanceStatus__span">Completado:</span>
              <span class="avanceStatus__span--avance"> {{numFieldValid}} / 8</span>
            </div>
          </div>

        </div>

        <div class="wcnew-aside__item">

          <div class="p-messages" *ngIf="validField('name')">
            <div class="p-message p-message-error wcnew-aside__type">
              <span class="p-message-icon"><i class="material-icons">cancel</i></span>
              <span class="p-message-summary">Titulo</span>
              <span class="p-message-detail">Incompleto</span>
            </div>
          </div>

          <div class="p-messages" *ngIf="!validField('name')">
            <div class="p-message p-message-success	wcnew-aside__type">
              <span class="p-message-icon"> <i class="pi pi-check"></i></span>
              <span class="p-message-summary">Titulo</span>
              <span class="p-message-detail">Completo</span>
            </div>
          </div>

        </div>

        <div class="wcnew-aside__item">

          <div class="p-messages" *ngIf="validField('description')">
            <div class="p-message p-message-error wcnew-aside__type">
              <span class="p-message-icon"> <i class="pi pi-times"></i></span>
              <span class="p-message-summary">Descripción</span>
              <span class="p-message-detail">Incompleto</span>
            </div>
          </div>

          <div class="p-messages" *ngIf="!validField('description')">
            <div class="p-message p-message-success	wcnew-aside__type">
              <span class="p-message-icon"> <i class="pi pi-check"></i></span>
              <span class="p-message-summary">Descripción</span>
              <span class="p-message-detail">Completo</span>
            </div>
          </div>
        </div>

        <div class="wcnew-aside__item">

          <div class="p-messages" *ngIf="validField('short_description')">
            <div class="p-message p-message-error wcnew-aside__type">
              <span class="p-message-icon"> <i class="pi pi-times"></i></span>
              <span class="p-message-summary">Descripción corta</span>
              <span class="p-message-detail">Incompleto</span>
            </div>
          </div>

          <div class="p-messages" *ngIf="!validField('short_description')">
            <div class="p-message p-message-success	wcnew-aside__type">
              <span class="p-message-icon"> <i class="pi pi-check"></i></span>
              <span class="p-message-summary">Descripción corta</span>
              <span class="p-message-detail">Completo</span>
            </div>
          </div>

        </div>

        <div class="wcnew-aside__item">

          <div class="p-messages" *ngIf="validField('regular_price')">
            <div class="p-message p-message-error wcnew-aside__type">
              <span class="p-message-icon"> <i class="pi pi-times"></i></span>
              <span class="p-message-summary">Precio Normal</span>
              <span class="p-message-detail">Incompleto</span>
            </div>
          </div>

          <div class="p-messages" *ngIf="!validField('regular_price')">
            <div class="p-message p-message-success	">
              <span class="p-message-icon"> <i class="pi pi-check"></i></span>
              <span class="p-message-summary">Precio Normal</span>
              <span class="p-message-detail">Completo</span>
            </div>
          </div>

        </div>

        <div class="wcnew-aside__item">

          <div class="p-messages" *ngIf="salePriceInvalid">
            <div class="p-message p-message-error wcnew-aside__type">
              <span class="p-message-icon"> <i class="pi pi-times"></i></span>
              <span class="p-message-summary">Precio de Oferta</span>
              <span class="p-message-detail">Incompleto</span>
            </div>
          </div>

          <div class="p-messages" *ngIf="!salePriceInvalid">
            <div class="p-message p-message-success	wcnew-aside__type">
              <span class="p-message-icon"> <i class="pi pi-check"></i></span>
              <span class="p-message-summary">Precio de Oferta</span>
              <span class="p-message-detail">Completo</span>
            </div>
          </div>

        </div>

        <div class="wcnew-aside__item">

          <div class="p-messages" *ngIf="validField('sku')">
            <div class="p-message p-message-error wcnew-aside__type">
              <span class="p-message-icon"> <i class="pi pi-times"></i></span>
              <span class="p-message-summary">SKU</span>
              <span class="p-message-detail">Incompleto</span>
            </div>
          </div>

          <div class="p-messages" *ngIf="!validField('sku')">
            <div class="p-message p-message-success	wcnew-aside__type">
              <span class="p-message-icon"> <i class="pi pi-check"></i></span>
              <span class="p-message-summary">SKU</span>
              <span class="p-message-detail">Completo</span>
            </div>
          </div>

        </div>

        <div class="wcnew-aside__item">

          <div class="p-messages" *ngIf="validField('stock_quantity')">
            <div class="p-message p-message-error wcnew-aside__type">
              <span class="p-message-icon"> <i class="pi pi-times"></i></span>
              <span class="p-message-summary">Stock</span>
              <span class="p-message-detail">Incompleto</span>
            </div>
          </div>

          <div class="p-messages" *ngIf="!validField('stock_quantity')">
            <div class="p-message p-message-success	wcnew-aside__type">
              <span class="p-message-icon"> <i class="pi pi-check"></i></span>
              <span class="p-message-summary">Stock</span>
              <span class="p-message-detail">Completo</span>
            </div>
          </div>

        </div>


       
          <div class="card flex justify-content-center gap-2">
          
            <button (click)="registerProduct()" type="submit" pButton pRipple label="Registrar" [disabled]="formRegisterProducto.invalid" class="wcnew-aside__btn p-button-primary"
            >
          </button>
       

        </div>

      </div>

  
  </aside> -->
</div>