@import "mixin";

.order {

  &-search {
    @include flexible(flex, row, wrap, space-between, center);
    gap: 1em;
    position: sticky;
    top: 100px;
    background-color: var(--surface-card);
    padding: 1em;
    top: 66px;
    box-shadow: var(--shadow);
    z-index: 3;
    border-radius: 8px;
    border: 1px solid var(--surface-border);
    &__right {
      padding-right: 20px;
      font-size: .875rem;
      color: var(--surface-600);
    }

    &__content {
      position: relative;
      display: inline-block;
    }

    &__icon {
      position: absolute;
      color: var(--surface-600);

      &-1 {
        top: 50%;
        left: 0.75rem;
        margin-top: -0.5rem;
      }

      &-2 {
        top: 50%;
        margin-top: -0.5rem;
        right: 0.75rem;
        cursor: pointer;
      }
    }

    &__input {
      padding-left: 2.5rem;
      border-radius: 10px
    }

  }

  &__a, &__h3, &__span, &__separator, &__small {
    font-size: 0.875rem;
    color: var(--surface-600);
   font-family: "Inter", sans-serif;
  }

  &__h3 {
    margin: 0;
  }

  &__small {
    font-weight: 600;
  }

  &__completed {
    color: var(--teal-600);
  }

  &__failed {
    color: var(--red);
  }
  &__btn {
    background-color: var(--highlight-bg);
    color: var(--highlight-text-color);
    padding: 8px 16px;
    border-radius: 5px;
  }


  &-card {
    background-color: var(--surface-card);
    border-radius: 20px;
    padding: 20px;
    margin: 1.5em 0;
    padding: 25px;
  }

  &-header {
    padding: 1em 0;
    @include flexible(flex, row, nowrap, space-between, center);
    gap: 1em;
    border-bottom: 1px solid var(--surface-300);

    &__h3,
    &__span,
    &__status,
    &__date,
    &__separator {
      font-size: 0.875rem;
      color: var(--surface-600);
      font-family: "Inter", sans-serif;
    }

    &__h3 {
      margin: 0;
    }

    &__left {
      @include flexible(flex, row, nowrap, space-between, center);
      gap: 0.5em;
    }

    &__right {
      @include flexible(flex, row, nowrap, space-between, center);
      gap: 0.5em;
    }
  }

  &-details {
    padding: 1em 0;
    @include flexible(flex, row, nowrap, space-between, center);
    gap: 1em;
  }

  &-content {
    @include flexible(flex, row, nowrap, space-between, center);
    gap: 1em;

    &__products {
      padding: 0.5em 0;

      &:not(:last-child) {
        border-bottom: 1px solid var(--surface-border);
      }
    }
    &__left--2 {
      padding: 1em 0
    }

    &__left {
  
     flex-grow: 1;
    }

    &__product {
      @include flexible(flex, row, nowrap, flex-start, center);
      gap: 1em;
    }


    &__center {
      flex-grow: 1;
    }
    &__right {
       flex-grow: 1;
    }

    &__img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: contain;
      border: 1px solid var(--surface-border);
    }
  }

  &-status {

    &__span {
      display: block;
      padding: 8px;
      text-align: center;
      border-radius: 5px;
      font-weight: 600;
      max-width: 150px;
      width: 100%;
      margin: 1em 0;
      font-size: 0.8rem;
    }

    &__completed {
      color: var(--green-800);
      background-color: var(--teal-100);
    }
  
    &__pending {
      color: var(--orange-800);
      background-color: var(--light-orange);
    }
  
    &__failed {
      color: var(--red-800);
      background: var(--red-100);
    }
  }

  &-menu {

    display: flex;
    align-items: flex-start;

    
  &__container {
    display: flex;
    align-items: center;
    padding-left: 1em;
  }

  &__product {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 490px;
  }

  &__products {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-right: 60px;
    width: calc(100% - 60px);
    padding-left: 1em;
    max-height: 300px;
  }

  &__price {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
  }

    &__pictures {
      @include flexible(flex, row, nowrap, flex-start, center);
    }

    &__image {
      &--2 {
        right: 10px;
        z-index: 2;
        position: relative;
      }
    }

    &__img {
      border-radius: 50%;
      height: 58px;
      width: 58px;
      border: 1px solid var(--surface-border);
    }  
  }
}



@media screen and (max-width: 950px) {
  
}