@import "mixin";

//? ============ Table productos ============
.caption {
  position: sticky;
  top: 0px;
  z-index: 4;
  &__row {
    @include flexible(flex, row, wrap, space-between, center);
    gap: 2em;
  }

  &-operation {
    background-color: var(--surface-card);
    padding: 20px 16px;
    margin-bottom: 1em;
    border: 1px solid var(--surface-border);
    border-radius: 20px;


    &__left {
      flex-grow: 1;
      @include flexible(flex, row, wrap, space-between, center);
      // background-color: lightcoral;
      gap: 1em;
      
    }

    &__box {
      @include flexible(flex, row, wrap, flex-start, center);
      // background-color: aqua;
      gap: 1em;
    }
 

    &__right {
      flex-grow: 1;
      @include flexible(flex, row, wrap, flex-end, center);
      // background-color: antiquewhite;
    }


  }

  &-header {
    padding: 20px 25px;
    background-color: var(--surface-card);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  &__box {
    @include flexible(flex, row, wrap, flex-start, center);
    gap: 1em;
  }

  &__separator {
    color: var(--surface-border);
  }

  &__btn {
    font-size: 14px;
  }

  &-search {
    position: relative;
    display: inline-block;

    &__icon {
      position: absolute;
      color: var(--surface-600);

      &--search {
        top: 50%;
        left: 0.75rem;
        margin-top: -0.5rem;
      }

      &--help {
        top: 50%;
        margin-top: -0.5rem;
        right: 0.75rem;
        cursor: pointer;
      }
    }
    &__input {
      padding-left: 2.2rem;
      padding-right: 2.2em;
      border-radius: 10px;
    }
  }

  &__p {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--text-color-secondary);

    &--two {
      opacity: 0;
      overflow: hidden;
    }
  }

  &-select {
    opacity: 1;
    overflow: visible;
  }
}

.productos {
  &__img {
    max-width: 64px;
    border-radius: 10px;
  }

  &__h4,
  &__h5 {
    font-size: 0.975rem;
    line-height: 1.25rem;
    color: var(--surface-600);
    font-family: "Inter", sans-serif;
  }

  &__h4 {
    margin: 0;
  }
  &__h5 {
    font-weight: normal;
  }

  &__box {
    @include flexible(flex, row, wrap, flex-start, center);
    gap: 1em;
  }
}


//? ============ Styles for topbar ============
// .topbar {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   background-color: var(--surface-card);
//   border-top-left-radius: 20px;
//   border-top-right-radius: 20px;
//   padding: 1.5em 2em;

//   &__h1 {
//     font-size: 24px;
//     font-weight: 600;
//     color: var(--surface-700);
//     margin: 0;
//   }

//   &__left {
//     @include flexible(flex, row, wrap, flex-start, center);
//     gap: 1em;
//   }

//   &__action {
//     margin: 0 1em;
//   }
// }

// .topbar-search {
//   display: flex;
//   align-items: center;
//   flex-shrink: 0;
// }

// .search-input-wrapper {
//   position: relative;
//   width: 0;
//   opacity: 0;
//   visibility: hidden;
//   overflow: hidden;
//   transition: 0.4s cubic-bezier(0.86, 0, 0.07, 1);
// }

// .search-input-wrapper span {
//   width: 100%;
// }

// .search-input-wrapper span .p-inputtext {
//   width: 100%;
//   position: relative;
//   border-radius: 40px;
// }

// .topbar-search .search-input-wrapper span i {
//   font-size: 18px;
//   margin-top: -9px;
//   cursor: pointer;
// }

// .topbar-search-active .topbar-searchbutton {
//   opacity: 0;
//   display: none;
//   pointer-events: none;
//   cursor: default;
//   transition: opacity 0.1s;
//   transition-delay: 0.1s;
// }

// .topbar-search.topbar-search-active .search-input-wrapper {
//   width: 280px;
//   opacity: 1;
//   visibility: visible;
//   border-radius: 20px;
// }

// .topbar-search.topbar-search-active .search-input-wrapper i {
//   display: block;
// }

// .topbar-search.topbar-search-active .search-input-wrapper input {
//   border-radius: 20px;
// }

//? ============ Styles for menu of row ============
// .menu-row {
//   &__ul {
//     position: absolute;

//     background-color: var(--surface-card);
//     border-radius: 5px;
//     border: 1px solid var(--surface-border);
//     max-width: 12rem;

//     width: 100%;

//     bottom: -92px;
//     right: 18px;
//     z-index: 1;
//   }

//   &__li {
//     padding: 0.85rem 1.35rem;
//     cursor: pointer;

//     &:hover {
//       background-color: var(--surface-hover);
//     }
//   }

//   &__btn {
//     padding: 0.75rem 1.25rem;
//     cursor: pointer;

//     &:hover {
//       background-color: var(--surface-hover);
//     }
//   }
// }

@media screen and (max-width: 960px) {
  ::ng-deep .p-datatable-tbody > tr > td {
    flex-wrap: wrap;
    gap: 1em;
  }

  .productos__box {
    justify-content: flex-end;
  }

  .p-column-title {
    font-weight: 500;
  }
}

::ng-deep .productos-table .p-datatable .p-datatable-header {
  border: none;
  margin: 0;
  padding: 0;
}
