@import 'mixin';

.productos-data {
  padding: 24px;
  border-radius: 20px;
  background-color: var(--light);
}


.productos {

  &__caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1em;
flex-wrap: wrap;
   
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 1.8em;
    flex-wrap: wrap;
  }

  &__h1{
    font-size: 24px;
    font-weight: 600;
    color: var(--surface-700);
  }

  &__search {
    max-width: 350px;
    position: relative;
  }

  &__input {
    border-radius: 36px 0 0 36px !important;
  }


  &__i {
    position: absolute;
    top: 50%;
    right: 55px;
    font-size: 20px;
    transform: translateY(-50%);
    z-index: 3;
    color: #a7a2a2;
    cursor: pointer;

  }
  &__btn--search {
    border-radius: 0 36px 36px 0 !important;
    background-color: var(--active-color);
  }

  &__th {
    background-color: var(--light) !important;
    border: none !important;
    border-bottom: 1px solid var(--grey) !important;
  }



  &__td {
    border: none !important;

    &--opciones {
      display: flex;
      justify-content: center;
    }
  }

  
  &__img {
    max-width: 80px;
    border-radius: 10px;
  }

  &__producto{
    display: flex;
    align-items: center;
    gap: 0.8em;

    @include responsive(1204px) {
      flex-direction: column;
    }

  }

  &__h4, &__h5 {
    font-size: .975rem;
    line-height: 1.25rem;
    color: var(--surface-800);
    font-weight: 600;
  }

  &__h4, &__p {
    text-align: center;
  }

  &__h5 {
    font-weight: normal;
  }


  &__h4, &__h5, &__p {
    font-family: 'Inter', sans-serif;
  }

  &__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &__status > span {
    margin: auto;
    display: block;
    padding: 4px 8px;
    font-size: 0.9rem;
    text-align: center;
  }

  &__tr {
    padding: 20px 15px;
  }

}


::ng-deep .p-datatable-header {
  background: var(--light) !important;
  border-radius: 20px 20px 0px 0px;
}

::ng-deep .p-datatable-wrapper{
  border-radius: 0px 0px 20px 20px !important;
}


.productos__option {
  position: relative;
}

::ng-deep .productos .p-menu.p-component {
  top: 70px !important;
  left: 280px !important;
}

::ng-deep  .productos__options a.p-menuitem-link{

  font-size: 0.85rem !important;

}

@media screen and (max-width: 1196px) {

  .productos__td--status, .productos__th--status {
    display: none;
  }
  
}

@media screen and (max-width: 950px) {

  // .productos__td--status, .productos__th--status {
  //   display: none;
  // }
 

  .productos {

    &__head {
      display: none !important;
    }
  
    &__body, &__td, &__tr {
      display: block;
      width: 100%;
    }

    &__tr:nth-child(even) {
      background-color: #ffebeb;
    }
  

    &__td {
      text-align: right !important;
      padding-left: 50% !important;
      position: relative;

      &::before {
        content: attr(data-label);
        position: absolute;
        width: 50%;
        text-align: left;
         left: 0;
        padding: 5px;
        font-weight: bold;
      }
    }


    &__td--producto {
      // display: flex;
      // align-items: center;
      @include flexible(flex, column, wrap, center, flex-end);
      gap: 1em;
    }
    &__p, &__h3 {
      text-align: right;
    }

  
    
  }
}

//STILE FOR INPUT SEARCH
.topbar-search {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.search-input-wrapper {
  position: relative;
  width: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: .4s cubic-bezier(.86,0,.07,1);
}

.search-input-wrapper span {
  width: 100%;
}

.search-input-wrapper span .p-inputtext {
  width: 100%;
  position: relative;
  border-radius: 40px;
  // padding: 9px;
}

.topbar-search .search-input-wrapper span i {
  font-size: 18px;
  margin-top: -9px;
  cursor: pointer;
}

.topbar-search-active .topbar-searchbutton {
  opacity: 0;
  display: none;
  pointer-events: none;
  cursor: default;
  transition: opacity .1s;
  transition-delay: .1s;
}

.topbar-search.topbar-search-active .search-input-wrapper {
  width: 280px;
  opacity: 1;
  visibility: visible;
  border-radius: 20px
}

.topbar-search.topbar-search-active .search-input-wrapper i {
  display: block
}

.topbar-search.topbar-search-active .search-input-wrapper input {
  border-radius: 20px;
}


.card {
  position: relative;
  &__ul 
  {
    position: relative;
    max-width: 200px;
    display: flex;
    background-color: var(--surface-card);
    border-radius: 5px;
    border: 1px solid gray;
  }

  &__li {
    padding: 0.75rem 1.25rem;
  }

  &__btn {
    padding: 0.75rem 1.25rem;
    cursor: pointer;

    &:hover {
      background-color: var(--surface-hover);
    }
  }

 
}