

<div class="productos-table container" >

  <div class="caption">
    <p-toast  position="top-center" key="tc"></p-toast>
    <div class="caption_op">


      <div class="caption__row caption-operation">
       <div class="caption-operation__left">
        <div class="caption-operation__box">
        
          <p-checkbox [value]="selectedProducts" [disabled]="true"></p-checkbox>
          <p class="caption-operation__p caption__p--two" [class.caption-select]="selectedProducts.length > 0">{{selectedProducts.length }} Seleccionados</p>
      
        </div>
        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="caption__btn p-button-success mr-2" (click)="addNewProduct()"></button>
      </div>
      
         <div class="caption-operation__right">
           <div class="caption__box">
           <button [disabled]="!selectedProducts.length" severity="warn" class="caption__btn  p-element p-ripple p-button p-component p-button-text" type="button" [ngClass]="selectedProducts.length > 0 ? 'p-button-warning' : 'p-button-secondary'">Pausar</button>
           <button [disabled]="!selectedProducts.length" class="caption__btn p-element p-ripple p-button p-component p-button-text" type="button"  [ngClass]="selectedProducts.length > 0 ? 'p-button-primary' : ''">Reactivar</button>
           <button [disabled]="!selectedProducts.length" severity="danger" class="caption__btn p-element  p-ripplep-button p-component p-button-danger p-button-text" type="button" >Borrar</button>
      
            <button pripple class="caption__btn p-ripple p-element p-button p-component p-button-text" (click)="showDialog()" type="button" style="background-color: var(--highlight-bg); color: var(--highlight-text-color)">Modificar de manera masiva</button>
            <button pripple class="caption__btn p-ripple p-element p-button p-component p-button-text" type="button" style="background-color: var(--highlight-bg); color: var(--highlight-text-color)">Modificar desde excel</button>
          </div>
        </div>
    </div>
  </div>
</div>


<div class="list-products" [ngSwitch]="dataStatus">

  <ng-template #bodyData ngSwitchCase="success">
    <div class="list-header">
  
      <div class="list-header-col">
        <p-checkbox  [binary]="true" inputId="binary"></p-checkbox>
      </div>
  
      <div class="list-header__col" *ngFor="let col of header">
        <span class="list-header__span">{{col.header}}</span>
      </div>
  
      <div class="list-header-col">
        <span class="list-header__span">Acciones</span>
      </div>
  
    </div>

    <div class="list-body">

      <ng-content select=".list-card"></ng-content>
    </div>
  </ng-template>
  
  <ng-template #emptyData ngSwitchCase="empty">
    <span>Sin datos que mostrar</span>
  </ng-template>

  <ng-template #loadData ngSwitchCase="loading">
    <!-- <ng-container *ngFor="let _ of [1, 2, 3, 4, 5]">
      <tr class="productos__tr productos__body">
      
        <td *ngFor="let _ of [1, 2, 3, 4, 5, 6, 7, 8]" class="productos__td">
          <p-skeleton height="2.5rem"></p-skeleton>
        </td>
      </tr>
    </ng-container> -->
  
  </ng-template>

  <ng-template  #dataError ngSwitchCase="error">
   <h1>UPS! al parecer ocurrio un error inesperado</h1>
 </ng-template>
  
  

<!-- <ng-template #dats let-col="data">
  <div class="list-body">

   
    
  </div>
</ng-template> -->



</div>


</div>
<!-- 
  <p-table
    #productos
    [value]="data"
    [(selection)]="selectedProducts"
    [paginator]="true"
   [loading]="statusData"
   [columns]="cols"
    [globalFilterFields]="[
      'name',
      'id',
       'sku',
      
    ]"
    [rows]="10"
    class="productos__table"
    styleClass="p-datatable-striped"
    responsiveLayout="stack"
    [breakpoint]="'960px'"
    [showLoader]="false"
   
  >

<ng-template pTemplate="caption" >


    <div class="caption__row caption-header">
      <div class="caption-header__left">

        <h1 class="topbar__h1">Productos</h1>
      </div>


      <div class="caption-header__right">
        <span class="caption-search">
          <i class="caption-search__icon caption-search__icon--search pi pi-search"></i>
          <input
            name="searchText"
            class="caption-search__input"
            type="text"
            pInputText
            (keyup.enter)="searchFilter($event, 'contains')"
            #searchProduct
            placeholder="Buscar producto..."
            [(ngModel)]="searchText"
            
          />
          <i *ngIf="!searchText?.length"
            class="caption-search__icon caption-search__icon--help pi pi-info-circle"
            pTooltip="Busca por titulo, sku o id"
           
          ></i>
  
          <i *ngIf="searchText?.length"
          (click)="clearTable(productos)"
          class="caption-search__icon caption-search__icon--help pi pi-times"
          
         
        ></i>
        </span>
      </div>
    </div>




</ng-template>


<ng-template pTemplate="header" let-columns>
      <tr class="productos__tr">
        <th class="productos__th" style="width: 2rem; border: none;" >
      
          <p-tableHeaderCheckbox ></p-tableHeaderCheckbox>
  
        </th>

        <th class="productos__th"  style="border: none;" *ngFor="let col of columns">
          {{col.header}}
        </th>

        <th class="productos__th"  style="border: none;">
         Opciones
        </th>
      </tr>
 
</ng-template>

    <ng-template pTemplate="body" let-product let-rowData let-columns="columns" let-rowIndex="rowIndex" >
      <tr class="productos__tr productos__body">
        <td class="productos__td">
          <p-tableCheckbox [value]="product"></p-tableCheckbox>
        </td>

   
      <ng-content select=".productos__td"></ng-content>
      
      <td class="productos__td"  style="text-align: center;"> 
        
        <span class="p-column-title">Opciones:</span>


        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-3 mb-3"></button>
        <button pButton pRipple icon="pi pi-camera" class="p-button-rounded p-button-info mr-3 mb-3" ></button>
        
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mb-3" (click)="deleteProduct(product)"></button>
      
      </tr>

    </ng-template>
  
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">Producto no encontrado</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="loadingbody">
      
    
      <ng-container *ngFor="let _ of [1, 2, 3, 4, 5]">
        <tr class="productos__tr productos__body">
        
          <td *ngFor="let _ of [1, 2, 3, 4, 5, 6, 7, 8]" class="productos__td">
            <p-skeleton height="2.5rem"></p-skeleton>
          </td>
        </tr>
      </ng-container>

    </ng-template>
 
  </p-table>
 -->
