<div class="product-card__unstyledContainer">
    
    <div class="product-card max-w-7xl mx-auto my-6 p-4 pb-6 sm:p-10 rounded-lg shadow-md shadow-indigo-500/10" [class.outofstock]="outOfStock">
        <div class="product-card__actions flex flex-row	flex-nowrap items-center justify-between gap-1 mb-8">
       
            <div class="product-card__actions-col flex flex-row gap-2 items-start lg:items-center ">
               <ng-content select="[handlerCheckProduct]"></ng-content>
               <ng-content select="[idProduct], .product-card__actions-span"></ng-content>
               
            </div>
            <div class="product-card__actions-col product-card__actions-col-right">
                <button type="button" (click)="menuOption.toggle($event)" class="p-ripple p-element p-button p-component p-button-icon-only p-button-rounded p-button-text">
                    <i class="pi pi-ellipsis-v"></i>
                </button>
                <p-menu #menuOption [model]="menu" [popup]="true" [style]="{ 'font-size' : '14px' }"></p-menu>
    
            </div>
        </div>
        <div class="product-card__content grid grid-cols-1 lg:grid-cols-2">
            <ng-content class=".product-card__product"> </ng-content>
    
            <div class="product-card__details flex items-start justify-evenly flex-col lg:flex-row gap-6 lg:gap-4">
    
                 <ng-content select=".product-card__details-col"></ng-content>
                
            </div>
        </div>
    </div>

</div>