@import 'mixin';
.product-card {
 background-color: var(--surface-card);


  &__description {
    color: var(--surface-700);
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__store {
    &-woocommerce {
      background-color: var(--purple-100);
      color: var(--purple-700);    
    }

    &-claroshop {
      background-color: var(--red-100);
      color:  var(--red-700);
    }
  }


  &__a {
    color: var(--primary-color);
    font-weight: 600;
  }
}

//*style for outstock

.product-card.outofstock {
    background-color: var(--surface-d);

 .product-card__actions {
  border-bottom: 1px solid var(--surface-400);
}
    .product-card__img {
      opacity: 0.7;
    }
  }


  @media screen and (max-width: 990px) {
    .product-card {
    
      .product-card__checkbox {
        &-desktop {
          display: none;
        }
      }

      &__details {
        width: 100%;
        max-width: 100%;
        justify-content: space-between;
      }
    }
  }
